.bcExecution{
    padding: 3% 5%;
}

#executionTitle1{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.025em;
    text-align: center;
    background: linear-gradient(272.57deg, #AD00FF 21.61%, #FF7A00 133.54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
#executionTitle2{
    font-family: Poppins;
    font-size: 44px;
    font-weight: 600;
    line-height: 62px;
    letter-spacing: -0.025em;
    text-align: center;
    color: #000000;    
}
#firstTitle{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.025em;
    text-align: left;
    color:#7777777D
}
#firstTitle1{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.025em;
    text-align: left;
    color:#000000;
}
#timelineText1{
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000A6;
    width: 70%;
}
#timelineText2{
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: right;
    color: #000000A6;
    width: 70%;
    margin: 0 0 0 30%;
}
.css-1ami7lv-MuiTimelineConnector-root {
    width: 2px;
    border: 1px dashed gray;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.css-55vwbm-MuiTimeline-root  li{ 
    height:160px;
}
@media screen and (max-width:1440px) and (min-width:1025px) {
    #timelineText1{
    width: 80%;
    }
    #timelineText2{
        width: 80%;
        margin: 0 0 0 20%;
    }
}
@media screen and (max-width:1025px) and (min-width:768px) {

    #timelineText1{
        width: 90%;
        }
        #timelineText2{
            width: 100%;
            margin: 0 0 0 0%;
        }
}
@media screen and (max-width:431px) {
    .bcExecution{
        padding: 3% 2%;
    }
    #executionTitle2{
        font-family: Poppins;
        font-size: 28px;
        font-weight: 600;
        line-height: 39px;
        letter-spacing: -0.025em;
        text-align: center;
    }
    .css-1ami7lv-MuiTimelineConnector-root {
        width: 2px;
        background-color: #bdbdbd;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    .css-55vwbm-MuiTimeline-root {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 5px 0px;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
.css-ha3bif-MuiTimelineItem-root:before{
    display: none;
}
.css-1oug4av-MuiTypography-root-MuiTimelineOppositeContent-root ,.css-l4x062-MuiTypography-root-MuiTimelineOppositeContent-root {
    display: none;
}
#firstTitle{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.025em;
    text-align: left;
    width: 100%;
}
#firstTitle1{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.025em;
    text-align: left;
    width: 100%;
}
#timelineText2 {
    margin: 0 0 0 0;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    width: 100%;
}
#timelineText1 {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    width: 100%;
}

}