.toolsweuse {
    background-color: #0A1020;
    width: 100%;
    display: inline-flex;
    padding: 3% 10% 10%;
    height: 47vh;
    margin-top: 5%;
}

.toolsweuse .toolsBlock .headingWeb {
    display: block !important;
    font-size: 90px;
    font-family: poppins-semibold;
    background: linear-gradient(182.19deg, #FFFFFF -860.5%, rgba(255, 255, 255, 0) 98.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 2% 0 0 0;
    width: 200%;
}



.toolsweuse #weuse {
    margin: 0% 0 0 30%;
}
/* 
.toolsweuse .toolsBlock {
    display: block;
    width: 50%;
}

.toolsweuse .marqueeTools {
    display: inline-flex !important;
    margin: 0 0 -9% 50%;
    width: 50%;

}

.toolsweuse .marqueeTools .downSidetools {
    background-color: #1d2331;
    height: 15vh;
    width: 10vw;
    padding: 6% 15%;
    margin: 20% 0 0 20%;        
    border-radius: 8px 8px 8px 8px;
    border: 1px solid rgb(126, 123, 123)
}

marquee {
    width: 13vw;
}

.toolsweuse .marqueeTools .upSidedowntools {
    background-color: #1d2331;
    height: 15vh;
    width: 10vw;
    padding: 6% 15%;
    margin: 20% 0 0 20%;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid rgb(126, 123, 123)
}

.toolsweuse .toolsBlock .toolTypes p {
    font-family: poppins;
    font-weight: 400;
    font-size: 16px !important;
    color: white;
    line-height: 28px;
    margin: 5% 0 0 0;
    width: 250%;
    text-align: left;
}

.toolTypes .jira {
    color: white;
    font-size: 30px;
    margin: 0% 0 0 5%;
    font-family: poppins-medium;
}

.toolsweuse .toolsBlock .headingRes {
    display: none;
}

.toolsweuse .marqueeToolsRes {
    display: none;
} */
.bankingToolsIcon{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 13%;
    grid-column-gap: 53%;
    margin-left: 0%;
    margin-top: 12%;
}
.toolsTit1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 120%;
/* identical to box height, or 22px */

text-align: center;

color: #FFFFFF;

opacity: 0.5;
margin-top: 40%;
}
.toolsTit2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 120%;
/* identical to box height, or 22px */

text-align: center;

color: #FFFFFF;

opacity: 0.5;
margin-top: 30%;
}
.toolsTit3{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 120%;
/* identical to box height, or 22px */

text-align: center;

color: #FFFFFF;

opacity: 0.5;
margin-top: 58%;
}
.toolsTit4{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 120%;
/* identical to box height, or 22px */

text-align: center;

color: #FFFFFF;

opacity: 0.5;
margin-top: 40%;
}
.toolsTit5{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 120%;
/* identical to box height, or 22px */

text-align: center;

color: #FFFFFF;

opacity: 0.5;
margin-top: 40%;
}


@media screen and (max-width:1705px) and (min-width:1025px) {
    .toolsweuse h1 {
        font-size: 70px;
        margin: 2% 0 0 0;
        width: 185%;
    }
    .testingCard .types .types1 {
        color: #FFFFFF;
        font-family: poppins-medium;
        line-height: 2.5;
        margin: 0 0 0 5%;
    }
    .bankingToolsIcon {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-row-gap: 13%;
        grid-column-gap: 27%;
        margin-left: 0%;
        margin-top: 12%;
    }
    .toolsweuse {

        height: auto;
        margin-top: 5%;
    }
    .toolsweuse .toolsBlock .headingWeb {
        display: block !important;
        font-size: 90px;
        margin: 6% 0 0 0;
        width: 200%;
    }
    @media screen 
}

@media screen and (max-width:1024px) and (min-width:769px) {
    .toolsweuse {
        background-color: #0A1020;
        width: 100%;
        display: inline-flex;
        padding: 3% 10% 40%;
        margin-top: 5%;
    }
    .toolsweuse h1 {
        font-size: 25px;
        margin: 2% 0 0% 0;
        width: 180%;
        line-height: 80px;
    }

    .toolsweuse .toolsBlock .toolTypes p {
        font-weight: 400;
        font-size: 14px !important;
        color: white;
        line-height: 28px;
        margin: 5% 0 0 0;
        text-align: left;
        width: 200%;
    }
/* 
    .toolsweuse .marqueeTools {
        display: inline-flex !important;
        margin: 0 0 -47% 40%;
        width: 70%;

    }

    .toolsweuse .marqueeTools .downSidetools {
        background-color: #1d2331;
        height: 15vh;
        width: 10vw;
        padding: 15% 15%;
        margin: 20% 0 0 5%;
        border-radius: 8px 8px 8px 8px;
        border: 1px solid rgb(126, 123, 123)
    }

    marquee {
        width: 13vw;
    }

    .toolsweuse .marqueeTools .upSidedowntools {
        background-color: #1d2331;
        width: 10vw;
        padding: 15% 15%;
        margin: 20% 0 0 10%;
        border-radius: 8px 8px 8px 8px;
        border: 1px solid rgb(126, 123, 123)
    } */
    .bankingToolsIcon {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-row-gap: 0%;
        grid-column-gap: 18%;
        margin-top: 11%;
        margin-left: -6%;
    }
    .toolsweuse .toolsBlock .headingWeb {
        font-size: 90px;
        margin: 5% 0 0 20%;
        width: 100%;
    }

}

@media screen and (max-width:768px) and (min-width:426px) {
    .toolsweuse .toolsBlock {
        display: block;
        text-align: center;
        width: 100%;
    }
    .toolsweuse .toolsBlock .headingWeb {
        font-size: 71px;
        margin: 4% 0 0 0;
        width: 99%;
    }.toolsweuse {
        background-color: #0A1020;
        width: 100%;
        display: inline-flex;
        padding: 3% 10% 10%;
        height: auto;
    }
    .toolsweuse h1 {
        font-size: 45px;
        text-align: center;
    }

    .toolsweuse .toolsBlock .headingWeb {
        /* display: none !important; */
    }

    .toolsweuse .toolsBlock .headingRes {
        display: block;
        font-size: 45px;
        text-align: center;
        margin: 10% 0 4% 0%;
    }

    .toolsweuse .toolsBlock .toolTypes {
        width: 100%
    }

    .toolsweuse .toolsBlock .toolTypes p {
        font-size: 14px;
        margin: 10% 0 5% 3%;
        width: 100%;
        line-height: 24.5px;
    }

    .toolsweuse .toolsBlock .toolTypes img {
        margin: 0% 0 0 0%;
        width: 45px;
        height: 45px;
    }

    .toolsweuse .toolsBlock .toolTypes .jira {
        font-size: 22px;
        margin: 0 0 30% 5%;
    }

    /* .toolsweuse .marqueeTools {
        display: none !important;
    }

    .marqueeToolsRes marquee {
        width: 100%;
    }

    .toolsweuse .marqueeToolsRes {
        display: block;
    }

    .toolsweuse .marqueeToolsRes .leftSidetools {
        display: inline-flex;
        background-color: #1d2331;
        height: 14vh;
        width: 15vw;
        padding: 4% 3% 4% 4%;
        margin: 0% 0 0 2%;
        border-radius: 8px 8px 8px 8px;
        border: 1px solid rgb(126, 123, 123)
    } */
    .bankingToolsIcon {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-row-gap: 0%;
        grid-column-gap: 10%;
        margin-top: 11%;
        margin-left: -6%;
    }
}

@media screen and (max-width:425px)and (min-width:376px) {


    .toolsweuse {
        width: 100%;
        display: block;
        text-align: center;
        height:auto;
    }

    .toolsweuse .toolsBlock .headingWeb {
        /* display: none !important; */
        font-size: 44px;
       text-align: left;
       margin-left: 5%;
       margin-top: 5%;
    }

    .toolsweuse .toolsBlock {
        width: 100%;
        text-align: center;
    }
    .toolsweuse .marqueeToolsRes {
        display: block;
    }
    .toolsweuse .toolTypes {
        width: 100%;
    }

    .toolsBlock .headingRes {
        display: block !important;
        text-align: center;
        margin: auto;
        font-size: 45px;
        width: 100%;
        background: linear-gradient(182.19deg, #FFFFFF -860.5%, rgba(255, 255, 255, 0) 98.16%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-top: 5%;
    }

    .toolsweuse .toolsBlock .toolTypes .toolimgWithtitle {
        margin: 10% 0 0 0%;
    }

    .toolsweuse .toolsBlock .toolTypes p {
        margin: 5% 0 0 0;
        width: 100%;
        line-height: 24.5px;
        font-size: 14px;


    }

    .toolsweuse .toolTypes img {
        height: 45px;
        width: 45px;
    }
/* 
    .toolsweuse .marqueeToolsRes .leftSidetools {
        display: inline-flex;
        background-color: #1d2331;
        height: 15vh;
        width: 35vw;
        padding: 5% 9%;
        margin: 20% 0 0 20%;
        border-radius: 8px 8px 8px 8px;
        border: 1px solid rgb(126, 123, 123)
    }

    .toolsweuse .marqueeTools {
        display: none !important;
    }

    marquee {
        width: 100%;
    } */
    .bankingToolsIcon {
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 0%;
        grid-column-gap: 15%;
        margin-left: 0%;
        margin-top: 8%;
    }
    .toolsTit2 {
        margin-top: 5%;
        margin-bottom: 9%;
    }
    .toolsTit1 {
        margin-top: 5%;
        margin-bottom: 9%;
    }
    .toolsTit3 {
        margin-top: 5%;
        margin-bottom: 9%;
    }
    .toolsTit4 {
        margin-top: 5%;
        margin-bottom: 9%;
    }
    .toolsTit5 {
        margin-top: 5%;
        margin-bottom: 9%;
    }

}

@media screen and (max-width:375px) {


    .toolsweuse {
        width: 100%;
        display: block;
        text-align: center;
        height: auto;
    }
    .toolsTit2 {
        margin-top: 5%;
        margin-bottom: 9%;
    }
    .toolsTit1 {
        margin-top: 5%;
        margin-bottom: 9%;
    }
    .toolsTit3 {
        margin-top: 5%;
        margin-bottom: 9%;
    }
    .toolsTit4 {
        margin-top: 5%;
        margin-bottom: 9%;
    }
    .toolsTit5 {
        margin-top: 5%;
        margin-bottom: 9%;
    }

    .toolsweuse .toolsBlock .headingWeb {
        /* display: none !important; */
        font-size: 44px;
       text-align: left;
       margin-left: 5%;
       margin-top: 3%;
    }

    .toolsweuse .toolsBlock {
        width: 100%;
        text-align: center;
    }
    /* .toolsweuse .marqueeToolsRes {
        display: block;
    } */
    .toolsweuse .toolTypes {
        width: 100%;
    }

    .toolsBlock .headingRes {
        display: block !important;
        text-align: center;
        margin: auto;
        font-size: 45px;
        width: 100%;
        background: linear-gradient(182.19deg, #FFFFFF -860.5%, rgba(255, 255, 255, 0) 98.16%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        padding-top: 10%
    }

    .toolsweuse .toolsBlock .toolTypes .toolimgWithtitle {
        margin: 5% 0 0 0%;
    }

    .toolsweuse .toolsBlock .toolTypes p {
        margin: 5% 0 0 0;
        width: 100%;
        line-height: 24.5px;
        font-size: 14px;


    }

    .toolsweuse .toolTypes img {
        height: 45px;
        width: 45px;
    }

    /* .toolsweuse .marqueeToolsRes .leftSidetools {
        display: inline-flex;
        background-color: #1d2331;
        height: 15vh;
        width: 35vw;
        padding: 5% 9%;
        margin: 20% 0 0 20%;
        border-radius: 8px 8px 8px 8px;
        border: 1px solid rgb(126, 123, 123)
    }

    .toolsweuse .marqueeTools {
        display: none !important;
    }

    marquee {
        width: 100%;
    } */

    .bankingToolsIcon {
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 0%;
        grid-column-gap: 15%;
        margin-left: 0%;
        margin-top: 8%;
    }
}