.devProcess{
    padding: 5% 6%;
    width: 100%;
    display: flex;
    width: 100%;
}
.leftDevprocess{
  width: 40%;
}
.rightDevprocess{
    width: 60%;
    margin: 0 0 0 10%;
}
#leftdevTitle{
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -0.025em;
    text-align: left;
    color:#000000;
    width: 55%;
}
#leftdevText1{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: #4D4D4DBF;
    width: 90%;
}
.rightdevText{
    display: flex;

}
.devprocessIcon{
    width: 3%;
    height: 3%;
    margin: 0 0 0 -10%;
}
/* .devprocessIcon:hover{
    background: linear-gradient(272.33deg, #AD00FF 21.7%, #FF7A00 103.44%);
    -webkit-text-fill-color: transparent;
} */
.rightdevprocessText{
    margin: 0 0 0 5%;
    display: block;

}
#rightdevprocessTitle{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.025em;
    text-align: left;
    color:#000000;    
}
#rightdevprocessTitle:hover{
    background: linear-gradient(272.33deg, #AD00FF 21.7%, #FF7A00 103.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#rightdevprocessDesc{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.025em;
    text-align: left;
    color: #929292;
    width: 85%;
}
.hrIndprocess{
    width: 85%;
}
@media screen and (max-width:1705px) and (min-width:1024px) {
    .devProcess{
        padding: 5% 7%;
        width: 100%;
        display: flex;
        width: 100%;
    }
    #leftdevTitle{
        width: 90%;
    }
    #rightdevprocessTitle{
       width: 100%;  
    }
    .rightdevprocessText{
        margin: 0 0 0 10%;
    }
    #rightdevprocessDesc{
         width: 95%;  
    }
    .devprocessIcon{
        width: 4%;
        height: 3%;
        margin: 0 0 0 -10%;
    }
}
@media screen and (max-width:1024px) and  (min-width:768px) {
.devProcess{
    margin: 0 0 0 0%;
    padding: 5% 5%;
}
.leftDevprocess{
    width: 50%;
  }
  #leftdevTitle{
    width: 100%;
  }
#leftdevText1{
    width: 100%;
}
#rightdevprocessDesc{
    width: 100%;
}
.devprocessIcon{
    width: 8%;
    height: 3%;
}
.hrIndprocess{
    width: 100%;
}
}
@media screen and (max-width:768px) and (min-width:430px){
.devProcess{
    display: block;
}
.leftDevprocess{
    width: 100%;
  }
  .rightDevprocess{
      width: 90%;
      margin: 5% 0 0 10%;
  }
#leftdevTitle{
    width: 100%;
}
#leftdevText1{
    width: 100%;
}
.hrIndprocess{
    width:100%;
}
}
@media screen and (max-width:430px) and (min-width:375px){
    .devProcess{
        display: block;
        padding: 2% 0;
        margin: 0 5%;
    }
    .leftDevprocess{
        width: 100%;
    }
    .rightDevprocess{
          width: 100%;
          margin: 10% 0 0 10%;
    }
    #leftdevTitle{
        font-family: Poppins;
        font-size: 22px;
        font-weight: 600;
        line-height: 33px;
        letter-spacing: -0.025em;
        text-align: center;
        width: 80%;
        margin: 5% 0 0 5%;

    }
    #leftdevText1{
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: justified;
        width: 90%;
        margin: 5% 0 5% 0;

    }
    #rightdevprocessTitle{
        font-family: Poppins;
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
        letter-spacing: -0.025em;
        text-align: left;
    }
    #rightdevprocessDesc{
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: -0.025em;
        text-align: left;
        width: 75%;

    }
    .devprocessIcon{
        width: 8%;
        height: 3%;
    }
    .hrIndprocess{
        width:80%;
    }
}