.devProcess{
    padding: 5% 5%;
    width: 100%;
    display: flex;
    height: 90vh;
    width: 100%;
    margin: 0 0 0 10%;
}
.leftDevprocess{
  width: 40%;
}
.rightDevprocess{
    width: 60%;
}
#leftdevTitle{
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -0.025em;
    text-align: left;
    color:#000000;
    width: 55%;
}
#leftdevText1{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: #4D4D4DBF;
    width: 60%;
}
.rightdevText{
    display: flex;
}
.rightdevprocessText{
    display: block;
}
.devprocessIcon{
    width: 3%;
    height: 3%;
    margin: 0 0 0 -10%;
}
.rightdevprocessText{
    margin: 0 0 0 5%;
}
#rightdevprocessTitle{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.025em;
    text-align: left;
    color:#000000;    
}
#rightdevprocessTitle1{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.025em;
    text-align: left;
    background: linear-gradient(272.33deg, #AD00FF 21.7%, #FF7A00 103.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
#rightdevprocessDesc{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.025em;
    text-align: left;
    color: #929292;
    width: 60%;
}
.hrIndprocess{
    width: 60%;
}