    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

    * {
        margin: 0;
        padding: 0;
    }

    body {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        cursor: default;
    }

    .help {
        background: url('../../images/blogsbgimg.png');
        color: #0A1020;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 10%;
        height: 659px;
    }

    .helpTitle1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 120%;
        text-align: center;
        letter-spacing: -0.04em;
        color: #FFFFFF;

    }

    .helDes {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 20px !important;
        line-height: 27px;
        text-align: center;
        width: 29%;
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
        margin-left: 35.5%;
    }

    .contactUs1 {
        background: #0A1020;
        border-radius: 8px;
        width: 90%;
        height: auto;
        margin-top: -23%;
        margin-left: 5%;
        display: flex;
        margin-bottom: 8%;
        margin-top: -15%;

    }

    .cont {
        width: 50%;
        padding: 3%;
        padding-left: 9%;
    }

    .contactTitle {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 133%;
        letter-spacing: -0.03em;
        color: #FFFFFF;
    }

    .lin1 {
        display: flex;
        margin-top: 3%;
        margin-bottom: 2%;
    }

    .ph_icon1 {
        color: #FFFFFF;
        Width: 16.43px;
        Height: 21px;
        margin-right: 2%;
    }

    .country1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 8%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        margin-right: 2%;
        color: #FFFFFF;

    }

    .phn {
        color: #909090;
        line-height: 3;
        text-decoration: none;
    }

    .careers1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 58%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        margin-right: 2%;
        color: #FFFFFF;
        margin-left: 5%;
        margin-bottom: 7%;
        margin-top: -2.4%;
    }

    .lin3 {
        margin-top: -1%;
        margin-bottom: 2%;
        padding-bottom: 5%;

    }

    .address1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 2;
        letter-spacing: -0.03em;
        margin-right: 2%;
        color: #FFFFFF;
        margin-left: 5%;
        margin-bottom: 2%;
        margin-top: -3.3%;
    }

    .addrs {
        margin-top: -3%;
        color: #909090;

    }

    #careBreak {
        display: none;

    }

    .ContForm {
        width: 50%;
        height: 84%;
        margin-left: -8%;
        margin-top: 3%;
        background: linear-gradient(137.06deg, rgba(31, 26, 26, 0.25) -38.45%, rgba(217, 217, 217, 0) 149.05%);
        border-radius: 10.8395px;
        padding: 4%;
        border: 1px solid gray;

    }

    .formTitle {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: -0.03em;
        color: #FFFFFF;

    }

    input {
        padding: 2%;
        border-radius: 7px;
    }

    .Fname {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #929292;
        margin: 2% 4% 4% 0;
        width: 45%;

    }

    .Femail {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #929292;
        width: 45%;
        margin: 0 0 0 2%;
    }

    .Fphone {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #929292;
        margin: 2% 4% 4% 0;
        width: 93%;
    }

    .Fmessage {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #929292;
        padding: 2%;
        width: 100% !important;
        height: 30%;
    }

    .Fmessage1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #929292;
        padding: 2%;
        width: 97%;
        height: 30%;
    }

    .Fbutton {
        background: linear-gradient(272.33deg, #AD00FF 21.7%, #FF7A00 103.44%);
        border-radius: 8px;
        padding: 1% 5%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: #FFFFFF;
        margin: 8% 0 0 80% !important;
        border: none;
    }
    .Fbutton2 {
        background: linear-gradient(272.33deg, #AD00FF 21.7%, #FF7A00 103.44%);
        border-radius: 8px;
        padding: 1% 5%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: #FFFFFF;
        margin: 8% 0 0 80% !important;
        border: none;
    }
    .Fphone1{
        width: 100% !important;
    }
    .mediaIocn {
        margin: -3% 0 5%;
    }

    .icontitle {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 120%;
        letter-spacing: -0.04em;
        text-align: center;
        color: #929292;
        margin-top: 5%;
    }

    .mediaIcons {
        width: 50%;
        margin: 4% 0 10% 31%;
        cursor: pointer;
        display: flex;
    }

    .fbicons1,
    .twitericons1,
    .linkedicons1,
    .instaicons1,
    .youtubeicons1 {
        width: 42.97px;
        height: 28.97px;
        margin-left: 10%;
    }

    .fbicons1 {
        background-image: url('../../images/contactUs/blackicon5.png');
        background-repeat: no-repeat;
    }

    .fbicons1:hover {
        background-image: url('../../images/contactUs/coloricon1.png');
        background-repeat: no-repeat;
    }

    .twitericons1 {
        background-image: url('../../images/contactUs/blackicon1.png');
        background-repeat: no-repeat;
    }

    .twitericons1:hover {
        background-image: url('../../images/contactUs/coloricon2.png');
        background-repeat: no-repeat;
    }

    .linkedicons1 {
        background-image: url('../../images/contactUs/blackicon2.png');
        background-repeat: no-repeat;
    }

    .linkedicons1:hover {
        background-image: url('../../images/contactUs/coloricon3.png');
        background-repeat: no-repeat;
    }

    .instaicons1 {
        background-image: url('../../images/contactUs/blackicon3.png');
        background-repeat: no-repeat;
    }

    .instaicons1:hover {
        background-image: url('../../images/contactUs/coloricon4.png');
        background-repeat: no-repeat;
    }

    .youtubeicons1 {
        background-image: url('../../images/contactUs/blackicon4.png');
        background-repeat: no-repeat;
    }

    .youtubeicons1:hover {
        background-image: url('../../images/contactUs/coloricon5.png');
        background-repeat: no-repeat;
    }

    @media screen and (max-width:1705px) and (min-width:1024px) {
        .contactUs1 {
            background: #0A1020;
            border-radius: 8px;
            width: 90%;
            height: 705px;
            margin-top: -23% !important;
            margin-left: 5%;
            display: flex;
            margin-bottom: 10%;
        }

        .cont {
            width: 50%;
            padding: 3%;
            margin-top: 4%;
            margin-left: 2%;
        }

        .helDes {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 27px;
            text-align: center;
            width: 34%;
            color: rgba(255, 255, 255, 0.5);
            margin-left: 457px;
            border: 1px solid gray;

        }

        .ContForm {
            width: 50%;
            height: 84%;
            margin-left: -6%;
            margin-top: 3%;
            background: linear-gradient(137.06deg, rgba(31, 26, 26, 0.25) -38.45%, rgba(217, 217, 217, 0) 149.05%);
            border-radius: 10.8395px;
            padding: 4%;
            border: 1px solid grey;
            margin-top: 89px;
        }

        .ph_icon1 {
            color: #FFFFFF;
            Width: 16.43px;
            Height: 18px;
            margin-right: 5%;
        }
    }

    @media screen and (max-width:425px) and (min-width:376px){
        .Fmessage1{
            margin-left: 2%;
        }
    }