.blogbody #headerSection{
    z-index: 1 !important;
}


.blogs_section1 {
    padding: 15% 0 10% 0;
    background-image: url("../../images/blogsPic/Rectangle117.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 450px;
}
.fa-search{
    opacity: .5;
}
.Blogs_title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin: -5% 0 0 0;
}

.Blogs_desc {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
    width: 55%;
    margin: 1% 0 0 23%;
}

.blogs_section2 {
    display: flex;
    margin-top: 2%;
    margin-left: 10%;
    position: relative;

}

.searchBox {
    padding: 1% 2%;
    background: #F6F6F6;
    border-radius: 8px;
    margin-left: 70%;
    outline: none;
    border: none;
    width: 25%;
}
.searchIcon{
    position: absolute;
    right: 122px;
    top: 20px;
}
.blogText{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #A4A4A4;
    cursor: pointer;
}
.slide1 hr:last-child {
display: none;
}
#clickedText{
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #000000;
    margin: -2% 0 0 8%;
}

.categories {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #000000;
}

.sect2_hr {
    width: 84%;
    margin-left: 8%;
    margin-top: 2%;
}

.blogs_section3 {
    display: flex;
    margin-bottom: 10%;
}

.blogs_cardlist {
    display: grid;
    grid-template-columns: 60% 1fr;
    margin-right: 20%;
    margin-top: 3%;
    z-index: 0;
    width: 55%;
}

.card11 {
    margin-bottom: 5%;
    margin-left: 25%;
    height: 525px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    width: 35rem !important;
}

.blogsubtitile {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 200%;
    color: #165EA0;
    padding: 3% 0 0;
}

.blogsTitile {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 142.5%;
    color: #000000;
    padding: 5% 0;

}

.blogsdesc {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 151%;
    text-align: justify;
    color: #6C6C6C;
    padding-bottom: 5%;
}

.blogsRight {
    margin-top: 3%;
    width: 20%;
}

.slide1 {
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    padding: 10%;
}


.slide2 {
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    padding-top: 15%;
    margin-top: 10%;
    padding:5% 5%;
    height: 700px;

}
.slide2 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #000000;
}
.slide2 img{
    margin: 5%;
    padding-bottom: 15%;
}
.css-1dbjc4n {
height: 600px;
width: 300px;
}