
@media screen and (max-width:1705px) and (min-width:1024px) {
    .searchBox{
        margin: 0 0 0 68%;
    }
    .searchIcon{
        right: 108px;
        top: 15px;
    }
.card11{
    height: 450px;
    border-radius: 8px;
    width: 25rem !important;
}
.slide1{
    width: 350px;
}
.slide2{
    width: 350px;
    height: 350px;
    padding: 5% 5%;
}
.blogs_cardlist {
    margin-right: 16%;
}


}
@media screen and (max-width:1024px) and (min-width:769px) {
    
    .blogs_section1 {
        padding: 15% 0 10% 0;
        background-image: url("../../images/blogsPic/Rectangle117.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100vw;
        height: 450px;
    }

    .Blogs_title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 55px;
        line-height: 120%;
        text-align: center;
        letter-spacing: -0.04em;
        color: #FFFFFF;
        margin: 0% 0 0 0;

    }

    .Blogs_desc {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 31px;
        text-align: center;
        color: #FFFFFF;
        width: 55%;
        margin-left: 23%;
    }

    .blogs_section2 {
        display: flex;
        margin-top: 2%;
        margin-left: 10%;
    }
    #clickedText {
        font-size: 24px;
        margin: -3% 0 0 8%;
    }
    .searchBox {
        padding: 0.5%;
        background: #F6F6F6;
        border-radius: 8px;
        width: 30%;
        margin: 3% 0 0 60%;
        padding: 1% 4%;
    }
    .searchIcon {
        right: 110px;
        top: 38px;
    }
    .categories {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 120%;
        letter-spacing: -0.04em;
        color: #000000;
    }

    .sect2_hr {
        width: 84%;
        margin-left: 8%;
        margin-top: 2%;
    }

    .blogs_section3 {
        display: block;
        margin-bottom: 10%;
    }

    .blogs_cardlist {
        display: grid;
        grid-template-columns: 65% 1fr;
        width: 75%;
        margin: 5% 0 0 -1%;
    }

    .card11 {
        margin-bottom: 5%;
        margin-left: 25%;
        z-index: -1;
        height: 450px;
        border-radius: 8px;
        width: 21rem !important;
    }

    .blogsubtitile {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 200%;
        color: #165EA0;
        padding: 3% 0 0;
    }

    .blogsTitile {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 142.5%;
        color: #000000;
        padding: 5% 0;

    }

    .blogsdesc {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 151%;
        text-align: justify;
        color: #6C6C6C;
        padding-bottom: 5%;
    }

    .blogsRight {
        margin-top: 3%;
        display: flex;
        margin-left: 11%;
        width: 100%;
    }

    .slide1 {
        margin-right: 10%;
        background: #FFFFFF;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
        border-radius: 12px;
        padding:2%;
        height: 360px;
        width: 33%;
    }

    .slide1 p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: -0.02em;
        color: #A4A4A4;
        margin: 0 0 0 0;
    }

   

    .slide2 {
        margin-top: 0%;
        background: #FFFFFF;
        box-shadow: 0px 4px 25px rgb(0 0 0 / 8%);
        border-radius: 12px;
        display: block;
        margin-left: 0%;
        height: 350px;
        width: 33%;
        padding: 2% 1%;

    }

    .slide2 p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: -0.02em;
        color: #000000;
        padding-left: 5%;

    }

    .slide2 img {
        margin: 6%;
        padding-bottom: 5%;
        width: 26vw;
        margin-left: -6%;
        padding-right: 3%;
    }
    
}

