.productflex{
    display: flex;
    margin-bottom: 10%;
}   
.newproductLeft{
    width: 52%;
    margin-left: 10%;
    padding-top: 10%;
}
.newproductLeft strong{
    color: #000;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
}
.newproductTitle{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 142.5%;
color: #000000;
}
.newproductsubtitle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 200%;
    color: #165EA0;
    padding: 3% 0 0;
}
.newproductIntro{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 142.5%;
color: #000000;
padding-top: 3%;
}

.newproductIntroDesc{
    font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 200%;
text-align: justify;
color: #000000;
}
.newproductimg{
    width: 100%;
}


.blogsRight1{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    padding: 3%;
    height: 400px;
    margin-top: 3%;
    width: 20%;
    margin-left: 10%;
    margin-top: 10%;

}