.productflex {
    display: flex;
    margin-bottom: 10%;
}

.reactuseLeft {
    width: 62%;
    margin-left: 2%;
}

.reactuseLeft strong {
    color: #000;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
}

.reactuseTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 142.5%;
    color: #000000;
}

.reactusesubtitle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 200%;
    color: #165EA0;
    padding: 3% 0 0;
}

.reactuseIntro {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 142.5%;
    color: #000000;
    padding-top: 3%;
}

.reactuseIntroDesc,.reactuseIntroDesc li {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 200%;
    text-align: justify;
    color: #000000;
}

.reactuseimg {
    width: 100%;
}

.blogsRight1{
    margin-left: 5%;
    width: 100%;
}


@media screen and (max-width:1024px) and (min-width:769px) {

    .productflex {
        display: block;
        margin-bottom: 10%;
    }

    .reactuseLeft {
        width: 90%;
    }    
    .blogsRight1 .slide1{
        width: 30%;
    } 
}

@media screen and (max-width:768px) and (min-width:501px) {
    .productflex {
        display: block;
        margin-bottom: 10%;
    }

    .reactuseLeft {
        width: 90%;
        margin-left: 0%;
        padding-top: 10%;
    }
    .blogsRight1{
        margin-left: 5%;
        width: 100%;
    }
    .blogsRight1 .slide2{
        margin-left: -15%;
    }
}


@media screen and (max-width: 500px) and (min-width:426px) {
    .productflex {
        display: block;
        margin-bottom: 10%;
    }

    .reactuseLeft {
        width: 85%;
        margin-left: 7%;
        padding-top: 20%;
    }

   
}




@media screen and (max-width: 425px) and (min-width: 377px) {
    .productflex {
        display: block;
        margin-bottom: 10%;
    }

    .reactuseLeft {
        width: 85%;
        margin-left: 5%;
        padding-top: 25%;
    }

    .reactuseTitle {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 142.5%;
        color: #000000;
    }

    .reactuseIntroDesc {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 182.5%;
        color: #6C6C6C;
    }

    .reactuseIntro {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 142.5%;
        color: #000000;
    }

   
}


@media screen and (max-width: 375px) {
    .productflex {
        display: block;
        margin-bottom: 10%;
    }

    .reactuseLeft {
        width: 85%;
        margin-left: 5%;
        padding-top: 30%;
    }

    .reactuseTitle {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 142.5%;
        color: #000000;
    }

    .reactuseIntroDesc {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 182.5%;
        color: #6C6C6C;
    }

    .reactuseIntro {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 142.5%;
        color: #000000;
    }
    

}