.iconicCont{
    display: flex;
    padding-top: 7%;
    padding-bottom: 8%;
}
.iconicLeft{
    width: 60%;
    margin-left: 7%;
}
.iconiTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 142.5%;
    color: #000000;
    width: 90%;
}
.blogsRight{
    width: 25%;
}
.iconic1 {
    width: 1133px;
}
.iconicTitle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 142.5%;
    color: #000000;
    width: 90%;
    margin-top: 4%;
}
.iconicCont1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 140%;
    text-align: justify;
    color: #000000;
    width: 1132px;
    margin-top: 3%;
}
.iconicList {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 140%;
    text-align: justify;
    color: #000000;
    width: 1102px;
    margin-top: 3%;
}
.iconicCont1 strong{
    font-weight: 600;
}
.iconicTable , th, td{
    border: 1px solid black;
    border-collapse: collapse;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 140%;
    text-align: justify;
    color: #000000;
    height: 80px;
    padding-left: 1%;
    padding-right: 3%;
    width: 1127px;
}
table , th {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    line-height: 200%;
    color: #165EA0;
}
.tableClr{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    line-height: 200%;
    color: red;
}
.iconicList strong{
    font-weight: 600;
}

@media screen and (max-width:1705px) and (min-width:1024px) {
    .iconicCont{
        display: flex;
        padding-top: 9%;
        padding-bottom: 8%;
    }
    .iconicLeft{
        width: 60%;
        margin-left: 7%;
    }
    .iconiTitle{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 142.5%;
        /* identical to box height, or 46px */
        color: #000000;
        width: 90%;
    }
    .blogsRight{
        width: 25%;
    }
    .iconic1{
        width: 800px;
    }
    .iconicTitle{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 142.5%;
        color: #000000;
        width: 90%;
        margin-top: 4%;
    }
    .iconicCont1{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 140%;
        text-align: justify;
        color: #000000;
        width: 787px;
        margin-top: 3%;
    }
    .iconicList{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 140%;
        text-align: justify;
        color: #000000;
        width: 744px;
        margin-top: 3%;
    }
    .iconicCont1 strong{
        font-weight: 600;
    }
    .iconicTable , th, td{
        border: 1px solid black;
        border-collapse: collapse;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        line-height: 140%;
        text-align: justify;
        color: #000000;
        height: 80px;
        padding-left: 1%;
        padding-right: 3%;
        width: 800px;
    }
    table , th {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        line-height: 200%;
        color: #165EA0;
    }
    .tableClr{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        line-height: 200%;
        color: red;
    }
    .iconicList strong{
        font-weight: 600;
    }
}

@media screen and (max-width:1204px) and (min-width:768px) {
    .iconicCont{
        display: block;
        padding-top: 13%;
    }
    .iconiTitle {
        font-size: 28px;
        width: 899px;
    }
    .iconic1 {
        width: 856px;
    }
    .iconicCont1 {
        font-size: 18px;
        width: 856px;
        margin-top: 3%;
    }
    .iconicTitle {
        font-size: 25px;
        line-height: 142.5%;
        width: 90%;
        margin-top: 4%;
    }
    .iconicTable, th, td {
        width: 856px;
    }
    .iconicList {
        font-size: 18px;
        width: 744px;
        margin-top: 3%;
    }
}

@media screen and (max-width:768px) and (min-width:425px) {
    .iconicCont{
        display: block;
        padding-top: 13%;
    }
    .iconiTitle {
        font-size: 25px;
        width: 695px;
        padding-top: 6%;
    }
    .iconic1 {
        width: 661px;
    }
    .iconicTitle {
        font-size: 21px;
        line-height: 142.5%;
        width: 93%;
        margin-top: 4%;
    }
    .iconicCont1 {
        font-size: 16px;
        width: 668px;
        margin-top: 3%;
    }
    .iconicList {
        font-size: 16px;
        width: 631px;
        margin-top: 3%;
    }
    .iconicTable, th, td {
        width: 668px;
        font-size: 15px;
    }
}

@media screen and (max-width:425px) and (min-width:375px) {
    .iconiTitle {
        font-size: 22px;
        width: 389px;
        padding-top: 20%;
    }
    .iconicCont{
        display: block;
        padding-top: 13%;
    }
    .iconic1 {
        width: 365px;
    }
    .iconicTitle {
        font-size: 18px;
        line-height: 142.5%;
        width: 500px;
        margin-top: 4%;
    }
    .iconicCont1 {
        font-size: 14px;
        width: 366px;
        margin-top: 3%;
    }
    .iconicList {
        font-size: 15px;
        width: 336px;
        margin-top: 3%;
    }
    .iconicTable, th, td {
        width: 366px;
        font-size: 14px;
    }
}

@media screen and (max-width : 375px)   {
    .iconicCont{
        display: block;
        padding-top: 13%;
    }
    .iconiTitle {
        font-size: 20px;
        width: 378px;
        padding-top: 25%;
    }
    .iconic1 {
        width: 322px;
    }
    .iconicTitle {
        font-size: 16px;
        line-height: 142.5%;
        width: 500px;
        margin-top: 4%;
    }
    .iconicCont1 {
        font-size: 14px;
        width: 324px;
        margin-top: 3%;
    }
    .iconicList {
        font-size: 14px;
        width: 291px;
        margin-top: 3%;
    }
    .iconicTable, th, td {
        width: 324px;
        font-size: 14px;
    }
}