.community{
    background-color: #0A1020;
    height: 70vh;
    width: 100%;
    padding: 5% 5%;
    display: flex;
}
.communityLeft{
    width: 50%;
}
.communityRight{
    width: 50%;
    display: flex;
}
#communityLeftText{
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #FFFFFF;
    width: 60%;
}
/* .betterImage{
    width: 10%;
} */
.betterment{
    display: grid;
    margin: 5% 0 0 0;
}
.betterCommunity{
display:flex;
margin: 0% 0 2% 10%;
}
#belowLeftText{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #A4A4A4;
    width:60%;
    margin: 5% 0 0 0;
}

#betterText{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin: 0 0 0 5%;

}

.communityImage{
    width: 40%;
    height: 50vh;
    margin: 0 0 0 5%;
}
@media screen and (max-width:1440px) and (min-width:1025px) {
#communityLeftText{
    width: 100%;
}
#belowLeftText{
    width: 90%;
}
}
@media screen and (max-width:1025px) and (min-width:768px) {
    .community{
        height: 65vh;
    }
    #communityLeftText{
        width: 100%;
    }
    #belowLeftText{
        width: 90%;
    }
    .communityImage{
        width: 50%;
        height: 50vh;
        margin: 0 0 0 2%;
    }
}
@media screen and (max-width:768px) and (min-width:431px) {
.community{
    display: block;
    height: 95vh;
}
.communityLeft{
    width: 100%;
}
#communityLeftText{
    width: 100%;
}
#belowLeftText{
    width: 90%;
}
.communityImage{
    width: 80%;
    height: 30vh;
    margin: 10% 0 0 10%;
}
}
@media screen and (max-width:430px)  {
 
    .community{
        display: block;
        height: 80vh;
        padding: 5% 2%;

    }
    .communityLeft{
        width: 100%;
    }
    .communityRight{
        width: 100%;
    }
    #communityLeftText{
        font-family: Poppins;
        font-size: 22px;
        font-weight: 600;
        line-height: 33px;
        letter-spacing: -0.02em;
        text-align: left;
        width: 100%;
    }
    /* .betterImage{
        width: 10%;
    } */
    .betterment{
        display: grid;
        margin: 5% 0 0 0;
    }
    .betterCommunity{
    display:flex;
    margin: 0% 0 2% 10%;
    }
    #belowLeftText{
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        width: 100%;
    }
    
    #betterText{
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
        width: 100%;
    }
    
    .communityImage{
        width: 40%;
        height: 30vh;
        margin: 10% 0 0 7%;
    }
    #tickiconText {
        width: 85%;
    }
}
@media screen and (max-width:375px) {
    
}