@font-face {
    font-family: 'poppins-semibold';
    src: url('../../../Poppins/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'poppins-thin';
    src: url('../../../Poppins/Poppins-Thin.ttf');
}

@font-face {
    font-family: 'poppins-black';
    src: url('../../../Poppins/Poppins-Black.ttf');
}

@font-face {
    font-family: 'poppins-medium';
    src: url('../../../Poppins/Poppins-Medium.ttf');
}

body {
    padding: 0;
    margin: 0;
}

.uiuxBody #headerSection {
    z-index: 1 !important;
}

.aboutUIUX {
    background-image: url("../../../src/images/Banner.png");
    width: 100vw;
    z-index: 0;
    background-size: 100% 100%;
}

.aboutUIUXRes {
    display: none;
}

.digitalProducts {
    padding: 8% 6%;
}

#usable {
    background: linear-gradient(269.28deg, #C90736 0.5%, #0022FF 105.22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: 'poppins-medium';
    font-style: normal;
    font-weight: 900;
}

#digitalLine1 {
    font-family: poppins-regular;
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

#digitalLine2 {
    font-family: 'poppins-regular';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    width: 65%;
    color: #C4C4C4;
}

#digitalLine3 {
    font-family: poppins-regular;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    color: #FFFFFF;
    margin: 3% 0 0 0;
    padding-right: 3%;
}

#digitalLine3 img {
    margin-left: 1%;
}

@media screen and (max-width:1440px) and (min-width:1030px) {
    .digitalProducts {
        padding: 12% 8%;
    }

    #digitalLine3 {
        font-family: poppins-regular;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        color: #FFFFFF;
        margin: 3% 0 0 0;
        padding-right: 3%;
    }

    #digitalLine3 img {
        margin-left: 1%;
    }
}

@media screen and (max-width:1024px) and (min-width:768px) {
    .digitalProducts {
        padding: 15% 5%;
    }

    #digitalLine1 {
        font-family: poppins-semibold;
        color: white;
        width: 65%;
        margin-top: 3%;
    }

    #digitalLine2 {
        font-family: poppins-regular;
        color: #C4C4C4;
        font-size: 18px;
    }

    #digitalLine3 {
        font-family: poppins-regular;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        color: #FFFFFF;
        margin: 3% 0 0 0;
        padding-right: 3%;
    }
}

@media screen and (max-width:768px) and (min-width:426px) {
    .aboutUIUX {
        display: none;
    }

    .aboutUIUXRes {
        background-image: url("../../images//bgMob2.png");
        background-size: 100% 100%;
        height: auto;
        display: block;
    }

    .digitalProducts {
        padding: 20% 10% 30%;
    }

    #digitalLine1 {
        font-size: 32px;
        width: 97%;
    }

    #digitalLine3 {
        margin: 5% 0 0 0;
    }

    #digitalLine2 {
        font-family: poppins-regular;
        color: #C4C4C4;
        font-size: 18px;
        width: 99%;
    }

}

@media screen and (max-width:425px) and (min-width:376px) {
    .aboutUIUX {
        display: none;
    }

    .aboutUIUXRes {
        background-image: url("../../images//bgMob2.png");
        background-size: 100% 100%;
        height: 1000px;
        display: block;
    }

    .digitalProducts {
        padding: 25% 6%;
    }

    #digitalLine1 {
        font-size: 36px;
    }

    #digitalLine2 {
        margin: 10% 0 0 0;
        width: 100%;
    }

    #digitalLine3 {
        margin: 10% 0 0 0;
    }
}

@media screen and (max-width:375px) {
    .aboutUIUX {
        display: none;
    }

    .aboutUIUXRes {
        background-image: url("../../images//bgMob2.png");
        background-size: 100% 100%;
        height: 1000px;
        display: block;
    }

    .digitalProducts {
        padding: 30% 1%;
    }

    #digitalLine1 {
        font-size: 28px;
    }

    #digitalLine2 {
        margin: 10% 0 0 0;
        width: 100%;
    }

    #digitalLine3 {
        margin: 10% 0 0 0;
    }
}