@font-face {
    font-family:'poppins-semibold';
    src: url('../../../Poppins/Poppins-SemiBold.ttf');
}
@font-face {
    font-family:'poppins-thin';
    src: url('../../../Poppins/Poppins-Thin.ttf');
}
@font-face {
    font-family: 'poppins-black';
    src: url('../../../Poppins/Poppins-Black.ttf');
}
@font-face {
    font-family: 'poppins-medium';
    src: url('../../../Poppins/Poppins-Medium.ttf');
}
body{
    margin: 0;
    padding: 0;
}
.fidelityPrototypes{
    margin-bottom: 5%;
}
.fidelity{
    display: flex;
    padding: 5% 10%;
}
.fidelity h3{
    font-family: poppins-semibold;
}
.fidelity .lowFidelity{
    margin: 0% 0% 0 10%;
}
.fidelity .highFidelity{
    margin: 0% 0 0 10%;
}
.fidelity .lowFidelity p{
    width:100%;
    color: black;
    opacity: 0.4;
    font-family: poppins-medium;
    margin: 10% 0 0 0%;
}
.fidelity .highFidelity p{
    width:90%;
    color: black;
    opacity: 0.4;
    font-family: poppins-medium;
    margin: 9% 0 0 0%;
}
.fidelity .lowFidelity img{
    margin: 5% 0 0 -10%;
}
.fidelity .highFidelity img{
    margin: 10% 0 0 0%;
}
.ourInsights{
    display: flex;
    padding: 2% 7%;
    width: 100%;
    margin: 0 0 0 5%;
}
.ourInsights div{
      display: flex;
}
.ourInsights .idea{
    width: 33%;

}
.ourInsights div h4{
    margin: 4% 0 0 10%;
    width: 100%;
    font-family: poppins-medium;
}


@media screen and (max-width:1440px) and (min-width:1030px)    {
 .fidelityPrototypes{
        margin-bottom: 5%;
    }
    .fidelity{
        display: flex;
        padding: 5% 10%;
    }
    .fidelity h3{
        font-family: poppins-semibold;
    }
    .fidelity .lowFidelity{
        margin: 0% 0% 0 10%;
    }
    .fidelity .highFidelity{
        margin: 0% 0 0 10%;
    }
    .fidelity .lowFidelity p{
        width:100%;
        color: black;
        opacity: 0.4;
        font-family: poppins-medium;
        margin: 10% 0 0 0%;
    }
    .fidelity .highFidelity p{
        width:90%;
        color: black;
        opacity: 0.4;
        font-family: poppins-medium;
        margin: 9% 0 0 0%;
    }
    .fidelity .lowFidelity img{
        margin: 5% 0 0 -10%;
    }
    .fidelity .highFidelity img{
        margin: 10% 0 0 0%;
    }
    .ourInsights{
        display: flex;
        padding: 2% 7%;
        width: 100%;
        margin: 0 0 0 5%;
    }
    .ourInsights div{
          display: flex;
    }
    .ourInsights .idea{
        width: 33%;
    
    }
    .ourInsights div h4{
        margin: 4% 0 0 10%;
        width: 100%;
        font-family: poppins-medium;
    }
}


@media screen and (max-width:1024px) and (min-width:775px) {
    .fidelityPrototypes{
        margin-bottom: 5%;
    }
    .fidelity{
        display: flex;
        padding: 5% 10%;
    }
    .fidelity h3{
        font-family: poppins-semibold;
    }
    .fidelity .lowFidelity{
        margin: 0% 0% 0 0%;
    }
    .fidelity .highFidelity{
        margin: 0% 0 0 10%;
    }
    .fidelity .lowFidelity p{
        width:100%;
        color: black;
        opacity: 0.4;
        font-family: poppins-medium;
        margin: 10% 0 0 0%;
    }
    .fidelity .highFidelity p{
        width:90%;
        color: black;
        opacity: 0.4;
        font-family: poppins-medium;
        margin: 9% 0 0 0%;
    }
    .fidelity .lowFidelity img{
        margin: 5% 0 0 -10%;
    }
    .fidelity .highFidelity img{
        margin: 5% 0 0 0%;
    }
    .ourInsights{
        display: flex;
        padding: 2% 3%;
        width: 100%;
        margin: 0 0 0 0 0%;
    }
    .ourInsights div{
          display: flex;
    }
    .ourInsights .idea{
        width: 33%;
    
    }
    .ourInsights div h4{
        margin: 4% 0 0 10%;
        width: 100%;
        font-size: 16px;
        font-family: poppins-medium;
    }
    .ourInsights img{
        width: 20%;
    }
}
@media screen and (max-width:770px) and (min-width:426px) {
    .fidelityPrototypes{
        margin-bottom: 5%;
    }
    .fidelity{
        display: block;
    }
    .fidelity .lowFidelity{
        margin: 0 0 0 0%;
    }
    .fidelity .highFidelity{
        margin: 0 0 0 0%;
    }
    .ourInsights{
        display: block;
        width:175%;
    }
    .ourInsights div h4{
        font-size: 18px;
        margin: 11% 0 0 10%;
    }
    .ourInsights img{
        margin: 8% 0 0 0;
    }
}
@media screen and (max-width:425px) and (min-width:376px){
    .fidelityPrototypes{
    
        margin:5% 0 5% 0;
    }
    .fidelity{
        display: block;
    }
    .fidelity .lowFidelity{
        margin: 0 0 0 0%;
    }
    .fidelity .lowFidelity p{
        font-size: 14px;
        width: 115%;
    }
    .fidelity .highFidelity p{
        font-size: 14px;
        width: 115%;
    }
    .fidelity .highFidelity{
        margin: 0 0 0 0%;
    }
    .fidelity .lowFidelity img {
    margin: 5% 0 0 -10%;
    width:120%;
    }
    .fidelity .highFidelity img {
        margin: 10% 0 0 -7%;
        width:100%;
        }
    .ourInsights{
        display: block;
        width:175%;
    }
    .ourInsights div h4{
        font-size: 13px;
        margin: 13% -74% 0 15%;
        width: 120%;
    }
    
    .ourInsights img{
        height: 5vh;
        margin: 8% 0 0 -5%;
    }
}
@media screen and (max-width:375px){
    .fidelityPrototypes{
        margin:5% 0 5% 0;

    }
    .fidelity{
        display: block;
    }
    .fidelity .lowFidelity{
        margin: 0 0 0 0%;
    }
    .fidelity .lowFidelity p{
        font-size: 14px;
        width: 115%;
    }
    .fidelity .highFidelity p{
        font-size: 14px;
        width: 115%;
    }
    .fidelity .highFidelity{
        margin: 0 0 0 0%;
    }
    .fidelity .lowFidelity img {
    margin: 5% 0 0 -10%;
    width:120%;
    }
    .fidelity .highFidelity img {
        margin: 10% 0 0 -7%;
        width:100%;
        }
    .ourInsights{
        display: block;
        width:175%;
    }
    .ourInsights div h4{
        font-size: 13px;
        margin: 13% -74% 0 15%;
        width: 120%;
    }
    
    .ourInsights img{
        height: 5vh;
        margin: 8% 0 0 -5%;
    }
}
