@media screen and (max-width:1025px) and (min-width:769px) {
    .quality_section1 {
    padding: 15% 0 10% 0;
    background-image: url("../../images/quality/App\ dev\ banner\ 1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 93vh;
}

.quality_Title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin-left: 12%;
    margin-top: 4%;
}

.section2_Title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
    padding-top: 5%;

}

.roworder {
    display: flex;
    margin-left: 19%;
}

.colm {
    padding-top: 5%;
    padding-right: 4%;

}

.section2_desc {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    text-align: center;
    color: #000000;
    width: 90%;
    margin-left: 5%;
    padding-top: 5%;
}

.Vline2 {
    color: #D8D8D8;
    padding-right: 4%;
    padding-top: 4%;

}
.qualityres{
    display: none;
}

.assurance_section3 {
    background: #0A1020;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    background-image: url("../../images/quality/Group\ 81744.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 35%;
    margin-top: 3%;

}

.assurance_section3_s1 {
    width: 450px;
    margin-left: 8%;
    padding: 6% 0;
}

.section3_s1Title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 39px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: rgba(255, 255, 255, 0.23);
    padding-bottom: 5%;
}

.s1icon {
padding: 2%;
}

.s1heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    padding: 1%;

}

.s1desc {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    color: rgba(224, 224, 224, 0.5);
    padding: 1%;
}
.assurance_section3_s2{
    display: block;
}
.assurance_section3_s2 {
    margin-left: 7%;
    padding: 6% 0;
    width: 35%;
}


.s2icon {
padding: 2%;
}

.s2heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    padding: 1%;

}

.s2desc {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    color: rgba(224, 224, 224, 0.5);
    padding: 1%;
}
.assurance_section4{
    display: flex;
    
}
.testbtn{
background-color: rgba(217, 217, 217, 0.6);
border: 1px solid #000000;
border-radius: 12px;
width: 100%;
display: flex;
padding: 3% 3% 0;
margin-bottom: 15%;
margin-top: 5%;
background-image: url('../../images/quality/check.png');
background-size: 10%;
background-repeat: no-repeat;
background-position-y: center;
background-position-x: 3%;
}
.testbtn:hover{
background-image: url('../../images/quality/checkcolor.png');
background-size: 10%;
background-repeat: no-repeat;
background-position-y: center;
background-position-x: 3%;
}
.testbtn p{
    padding-left: 15%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.04em;
}
.testbtn p:hover{

    background: linear-gradient(272.33deg, #AD00FF 21.7%, #FF7A00 103.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    }
.assurance_section4_s1{
    width: 550px;
    margin-top: 5%;
    margin-left: 5%;
}
.assurance_section4_s1 img{
    height: 200px;
}
.section4_heading{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 39px;
line-height: 120%;
letter-spacing: -0.04em;
}
.s4_colortext{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 39px;
    line-height: 120%;
    letter-spacing: -0.04em;
    background: linear-gradient(272.33deg, #AD00FF 21.7%, #FF7A00 103.44%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.s4_desc{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 200%;
color: #000000;
}
.assurance_section4_s2 {
    margin-left: 3%;
    padding: 6% 0;
    width: 33%;
}

.quality_section5{
    background: #0A1020;
    padding: 5%;
    padding-bottom: 25%;

}

.quality_section5_titlte{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 31px;
line-height: 120%;
text-align: center;
letter-spacing: -0.04em;
color: #424753;

}
.quality_cardList {
    display: flex;
    height: 500px;
    background-repeat: no-repeat;
    background-position-x: 24vw;
    background-position-y: -1vh;
    margin-left: -5%;
}
.cardtitle01{
    color: #BCBCBC  !important;
}
.quality_card1{
    width: 40%;
    height: 400px;
    background: linear-gradient(137.06deg, rgba(31, 26, 26, 0.25) -38.45%, rgba(217, 217, 217, 0) 149.05%);;
    border-radius: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 175%;
    color: #0A1020;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    background-image: url("../../images/quality/cardbgimg.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    padding: 0%;
    margin-top: -2%;
}
.quality_card1  img{
    width: 20%;
    height: 60px;
    margin-top: 5%;
}

.quality_cardTitle>li {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #7E7E7E;
}

.quality_cardTitleHr {
    opacity: 0.3;
    border: 1px solid #D8D8D8;
}
.quality_cardTitle>li:hover {
    color: #FFFFFF;
}

.quality_cardTitle .cardtitle01{
    color: #FFFFFF !important;
}
.quality_cardTitle li:focus  {
    color: #BCBCBC;
}

.quality_card1 hr {
    width: 56%;
    opacity: 0.3;
    border: 1px dashed #D8D8D8;
    margin-left: 80px;
}

.quality_card1 img{
    padding-top: 5%;
    margin-left: -10%;
}
.quality_cardTitle {
    width: 30%;
    height: 20%;
    margin-left: 12%;
    list-style: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px; 
    line-height: 2.3;
    text-align: right;

}
.quality_section6{
    margin-top: 5%;
}
.quality_section6_title{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 120%;
text-align: center;
letter-spacing: -0.04em;
color: #000000;
}

.quality_section6_desc{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 200%;
text-align: center;
color: #000000;
width: 65%;
margin-left: 15%;
}

.qaprocess{
    display: flex;
    margin-left: 10%;    
    background-image: url('../../images/quality/horzline.png');
    background-repeat: no-repeat;
    background-position-y: 33%;
    background-position-x: 22%;
    background-size: 75%;
    
}
.qaprocess div{
    padding: 4%;
    width: 30%;
    margin-left: -2%;

}

.qaprocess p {
    padding-top: 10%;
    margin-left: -48%;
    padding-left: 19%;
}

.quality_section7{
    background-color:  #0A1020;
    padding: 6% 5%;
    width: 90%;
    margin-left: 5%;
    border-radius: 2% 2% 2% 2% ;
    margin-bottom: 15%;
    background-image: url('../../images/quality/endtoendbg.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: contain;
}

.qulaityend{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin-left: 5%;
} 
.qualitybtn{
    margin-left: 2%;
    height: 0%;
    margin-top: 2%;
    width: 25%;
    color: white;
    background-color: #0A1020;
    border-radius: 7px 7px 7px 7px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    padding: 1%;
}
.qualitybtn:hover{
    color: #FFFFFF;
    background-color: transparent;
    background-image: linear-gradient(90deg, #E25C37 0%, #951B98 100%);
    width: 20%;
    margin-left: 5%;

}

.textColor{
    background: -webkit-linear-gradient(60deg, #e66521,#d1368f, #ae01ff);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;
}
}