.venzoSA{
    background-image: url(../../../images/bannerSA.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.bannerText{
    padding: 10% 7% 10%;
}
.venzoSA #venzoSATitle{
    font-family: Poppins;
    font-size: 55px;
    font-weight: 600;
    line-height: 66px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #FFFFFF;
}
.venzoSA #venzoSAText{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    width:70%;
    color: #C4C4C4;
}
.venzoSA #venzoSATalk{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.venzoSA #venzoSATalk img{
    margin-left: 1%;
}

@media screen and (max-width:1440px) and (min-width:1026px) {

    .venzoSA #venzoSAText{
        width:65%;
    }
}
@media screen and (max-width:1025px) and (min-width:769px) {
    .bannerText{
        padding: 15% 7% 10%;
    }
    .venzoSA #venzoSAText{
        width:88%;
    }
}
@media screen and (max-width:768px) and (min-width:431px) {
    .bannerText{
        padding: 15% 3% 10%;
    }
.venzoSA #venzoSAText{
    width:90%;
}
}
@media screen and (max-width:430px) {
    .bannerText {
        padding: 30% 2% 9%;
    }
    .bannerText br{
        display: none;
    }
    .venzoSA #venzoSATitle{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 41px;
        line-height: 120%;
        letter-spacing: -0.04em;
        color: #FFFFFF
    }
    .venzoSA #venzoSAText{
        font-size: 16px;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: justified;
        width:85%;
        color: #C4C4C4;
    }
    .venzoSA #venzoSATalk{
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
    }
}
@media screen and (max-width:375px) {
    .bannerText{
        left:20px
    }
    .venzoSA #venzoSATitle{
        font-size: 30px;
    }
    .venzoSA #venzoSAText{
        width:90%;
    }
}