.venzoSA{
    background-image: url(../../../images/webp/stafffffff/stafffffff_1x.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}
.bannerText{
    padding: 10% 7% 10%;
}
.venzoSA #venzoSATitle{
    font-family: Poppins;
    font-size: 55px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #FFFFFF;
    margin: 15% 0 0 10%;
}
.venzoSA #venzoSAText{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #C4C4C4;
    width: 90%;
}
.venzoSA #venzoSATalk{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    cursor: pointer;

}
.venzoSA #venzoSATalk img{
    margin-left: 1%;
}

@media screen and (max-width:1705px) and (min-width:1026px) {

    .venzoSA #venzoSAText{
        width:85%;
        line-height: 28px;
        margin: 2% 0 2% 0 ;
    }
    .venzoSA #venzoSATitle{
        font-family: Poppins;
        font-size: 57px;
        font-weight: 400;
        line-height: 65px;
        letter-spacing: -0.04em;
        text-align: left;
        color: #FFFFFF;
        margin: 15% 0 0 10%;
    }
    .venzoSA{
        height: 93vh;
    }
}
@media screen and (max-width:1025px) and (min-width:769px) {
    .bannerText{
        padding: 15% 7% 10%;
    }
    .venzoSA #venzoSATitle{
        font-family: Poppins;
        font-size: 40px;
        font-weight: 400;
        line-height: 55px;
        letter-spacing: -0.04em;
        text-align: left;
        color: #FFFFFF;
        margin: 18% 0 0 15%;
    }
    .venzoSA #venzoSAText{
        width:88%;
    }
    .venzoSA{
        height: 93vh;
    }
}
@media screen and (max-width:768px) and (min-width:431px) {
    .bannerText{
        padding: 15% 3% 10%;
    }
    .venzoSA #venzoSATitle{
        font-family: Poppins;
        font-size: 40px;
        font-weight: 400;
        line-height: 55px;
        letter-spacing: -0.04em;
        text-align: left;
        color: #FFFFFF;
        margin: 30% 0 0 23%;
    }
.venzoSA #venzoSAText{
    width:90%;
}
.venzoSA{
    height: 100vh;
}
}
@media screen and (max-width:430px) {
    .venzoSA{
        height: 100vh;
    }
    .bannerText {
        padding: 30% 2% 9% 7%;
    }
    .bannerText br{
        display: none;
    }
    .venzoSA #venzoSATitle{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 41px;
        line-height: 120%;
        letter-spacing: -0.04em;
        color: #FFFFFF;
        margin: 50% 0 0 0;
    }
    .venzoSA #venzoSAText{
        font-size: 16px;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: justified;
        width:85%;
        color: #C4C4C4;
    }
    .venzoSA #venzoSATalk{
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
    }
}
@media screen and (max-width:375px) {
    .bannerText{
        left:20px
    }
    .venzoSA #venzoSATitle{
        font-size: 30px;
    }
    .venzoSA #venzoSAText{
        width:90%;
    }
}