.appdevbody #headerSection {
    z-index: 1 !important;
}

.canDo {
    padding: 3% 5%;
}

#canDotitle {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.025em;
    text-align: center;
    color: #000000;
}

#canDotext {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    color: #4D4D4DBF;
    width: 70%;
    margin: 0 0 0 15%;
}

.candoCards {
    padding: 4% 3%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 10%;
    grid-column-gap: 3%;
    margin: 0 0 0 2%;

}
.candoCardsRes{
    display: none;
}


.candocards1{
    background-image: url('../../../images/appdevelopment/appd17.png');
    width: 280px;
    height: 455px;
}
.candocards1:hover{
    background-image: url('../../../images/appdevelopment/appd36.png');
    height: 455px;
    width: 280px;
}
.candocards2{
    background-image: url('../../../images/appdevelopment/appd37.png');
    width: 280px;
    height: 455px;
}
.candocards2:hover{
    background-image: url('../../../images/appdevelopment/appd14.png');
    height: 455px;
    width: 280px;


}
.candocards3{
    background-image: url('../../../images/appdevelopment/appd15.png');
    width: 280px;
    height: 455px;
}
.candocards3:hover{
    background-image: url('../../../images/appdevelopment/appd35.png');
    height: 455px;
    width: 280px;


}
.candocards4{
    background-image: url('../../../images/appdevelopment/appd16.png');
    width: 280px;
    height: 455px;
}
.candocards4:hover{
    background-image: url('../../../images/appdevelopment/appd34.png');
    height: 455px;
    width: 280px;


}

.candocards1,
.candocards2,
.candocards3,
.candocards4 {
    position: relative;
}

.cardsIcon {
    position: absolute;
    top: 50px;
    left: 55px;
}

#cardsTitle {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.025em;
    text-align: left;
    color: #FFFFFF;
    position: absolute;
    bottom: 30px;
    left: 55px;
    width: 55%;
}

#cardsTitle2 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.025em;
    text-align: left;
    color: #FFFFFF;
    position: absolute;
    top: 350px;
    left: 55px;
    width: 55%;
}

#cardsTitle1 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    position: absolute;
    bottom: 30px;
    left: 55px;
    width: 60%;
}

.canDocards1Img {
    display: none;
}

@media screen and (max-width:1705px) and (min-width:1025px) {
    .candoCards {
        padding: 4% 1%;
        margin-left: 2%;
    }
}

@media screen and (max-width:1025px) and (min-width:768px) {
    .canDo {
        padding: 3% 5% 15%;
    }

    .candoCards {
        padding: 4% 10%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 11%;
        grid-column-gap: 3%;
        margin: 0 0 0 5%;
    }

    #cardsTitle1 {
        left: 45px;
    }
}

@media screen and (max-width:768px) and (min-width:431px) {
    .candoCards {
        padding: 4% 4%;
        margin: 0 0 0 3%;

    }
}

@media screen and (max-width:430px)and (min-width:375px) {
    /* .candocards1,.candocards2,.candocards3,.candocards4{
        background-image: unset;
    }
    .candocards1:hover,.candocards2:hover,.candocards3:hover,.candocards4:hover{
        background-image: unset;
    } */
    .canDo {
        padding: 3% 2% !important;
    }

    #canDotitle {
        font-family: Poppins;
        font-size: 26px;
        font-weight: 600;
        line-height: 39px;
        letter-spacing: -0.025em;
        text-align: center;
        margin: 5% 0 0 0;
    }

    #canDotext {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
        width: 100%;
            margin: 3% 0 5% 1%
    }
    .candoCards{
        display: none;
    }
    .candoCardsRes {
        display: block;
        padding: 2% 2%;
    }
   
    .candocards1Res{
        background-image: url('../../../images/appdevelopment/appd30.png');
        height: 201px;
        width: 388px;
        position: relative;
        margin: 0 0 10% 0;
        padding: 2% 2%;

    }
     .candocards2Res{
        background-image: url('../../../images/appdevelopment/appd31.png');
        height: 201px;
        width: 388px;
        position: relative;
        margin: 0 0 10% 0;
        padding: 2% 2%;


    }
     .candocards3Res{
        background-image: url('../../../images/appdevelopment/appd32.png');
        height: 201px;
        width: 388px;
        position: relative;
        margin: 0 0 10% 0;
        padding: 2% 2%;

    }
     .candocards4Res{
        background-image: url('../../../images/appdevelopment/appd33.png');
        height: 201px;
        width: 388px;
        position: relative;
        padding: 2% 2%;

    }
    
    .candocards1Res:hover{
        background-image: url('../../../images/appdevelopment/appd41.png');
        height: 201px;
        width: 388px;
        

    }
     .candocards2Res:hover{
        background-image: url('../../../images/appdevelopment/appd40.png');
        height: 201px;
        width: 388px;
        


    }
     .candocards3Res:hover{
        background-image: url('../../../images/appdevelopment/appd39.png');
        height: 201px;
        width: 388px;
       

    }
     .candocards4Res:hover{
        background-image: url('../../../images/appdevelopment/appd38.png');
        height: 201px;
        width: 388px;
       

    }

    .canDocardsImg {
        display: none;
    }

    .canDocards1Img {
        display: block;
        margin: 0 0 5% -10%;
    }

    .cardsIcon {
            left: 25px;
            top: 25px;
    }

    #cardsTitle {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        letter-spacing: -0.025em;
        text-align: left;
        color: #FFFFFF;
        position: absolute;
        top: 130px;
        left: 35px;
        width: 55%;
    }

    #cardsTitle2 {
        /* display: none; */
            top: 120px;
            left: 25px;
    }

    #cardsTitle1 {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        width: 100%;
        top: 50px;
        left: 45px;
        width: 80%;
    }

    #rescardsIcon {
        /* display: none; */
    }

    .candocards2Res:hover #cardsTitle2 {
       
        display: none;
    }

    .candocards2Res span {
        display: none;
    }

    .candocards2Res:hover span {
        display: block;
    }

    .candocards1Res:hover #cardsTitle2 {
        
        display: none;
    }

    .candocards1Res span {
        display: none;
        /* width: 50%; */
    }

    .candocards1Res:hover span {
        display: block;
    }

    .candocards3Res:hover #cardsTitle2 {
        
        display: none;
    }

    .candocards3Res span {
        display: none;
    }

    .candocards3Res:hover span {
        display: block;
    }

    .candocards4Res:hover #cardsTitle2 {
      
        display: none;
    }

    .candocards4Res span {
        display: none;
    }

    .candocards4Res:hover span {
        display: block;
    }
    .candocards1Res:hover img,
     .candocards2Res:hover img,
      .candocards3Res:hover img,
       .candocards4Res:hover img{

       display: none;

}
}
@media screen and (max-width:375px) {

    #cardsTitle {
        top: 110px;
        left: 35px;
        width: 55%;
    }

    #cardsTitle2 {
        top: 100px;
        left: 45px;
    }

    .cardsIcon {
        left: 50px;
        top: 40px;
    }

    #cardsTitle {
        font-size: 16px;
    }

    #cardsTitle1 {
        width: 80%;
        top: 80px;
        left: 50px;
    }

     .candoCards{
        display: none;
    }
    .candoCardsRes {
        display: block;
        padding: 2% 2%;
    }
   
    .candocards1Res{
        background-image: url('../../../images/appdevelopment/appd30.png');
        height: 201px;
        width: 388px;
        position: relative;
        margin: 0 0 10% 0;
        padding: 2% 2%;


    }
     .candocards2Res{
        background-image: url('../../../images/appdevelopment/appd31.png');
        height: 201px;
        width: 388px;
        position: relative;
        margin: 0 0 10% 0;
        padding: 2% 2%;


    }
     .candocards3Res{
        background-image: url('../../../images/appdevelopment/appd32.png');
        height: 201px;
        width: 388px;
        position: relative;
        margin: 0 0 10% 0;
        padding: 2% 2%;

    }
     .candocards4Res{
        background-image: url('../../../images/appdevelopment/appd33.png');
        height: 201px;
        width: 388px;
        position: relative;
        padding: 2% 2%;

    }

    .canDocards1Img {
        margin: 0 0 5% 0%;
        width: 100%;
    }

    #cardsTitle {
        left: 90px;
    }

    .candocards2:hover #cardsTitle2 {
        top: 100px;
        display: none;
    }

    .candocards2 span {
        display: none;
    }

    .candocards2:hover span {
        display: block;
    }

    .candocards1:hover #cardsTitle2 {
        top: 100px;
        display: none;
    }

    .candocards1 span {
        display: none;
        /* width: 50%; */
    }

    .candocards1:hover span {
        display: block;
    }

    .candocards3:hover #cardsTitle2 {
        top: 100px;
        display: none;
    }

    .candocards3 span {
        display: none;
    }

    .candocards3:hover span {
        display: block;
    }

    .candocards4:hover #cardsTitle2 {
        top: 100px;
        display: none;
    }

    .candocards4 span {
        display: none;
    }

    .candocards4:hover span {
        display: block;
    }
}

.candocards2:hover #cardsTitle2 {
    top: 100px;
}

.candocards2 span {
    display: none;
}

.candocards2:hover span {
    display: block;
}

.candocards1:hover #cardsTitle2 {
    top: 100px;
}

.candocards1 span {
    display: none;
}

.candocards1:hover span {
    display: block;
}

.candocards3:hover #cardsTitle2 {
    top: 100px;
}

.candocards3 span {
    display: none;
}

.candocards3:hover span {
    display: block;
}

.candocards4:hover #cardsTitle2 {
    top: 100px;
}

.candocards4 span {
    display: none;
}

.candocards4:hover span {
    display: block;
}