.canDo{
    padding: 3% 5%;
}
#canDotitle{
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.025em;
    text-align: center;
    color: #000000;
}
#canDotext{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    color: #4D4D4DBF;
    width: 70%;
    margin: 0 0 0 15%;
}
.candoCards{
    padding: 4% 10%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap: 11%;
    grid-column-gap: 3%;
}
.candocards1,.candocards2,.candocards3,.candocards4{
 position: relative;
}
.cardsIcon{
    position: absolute;
    top: 50px;
    left: 55px;
}
#cardsTitle{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.025em;
    text-align: left;
    color: #FFFFFF;
    position: absolute;
    bottom: 30px;
    left: 55px;
    width: 55%;
}
#cardsTitle2{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.025em;
    text-align: left;
    color: #FFFFFF;
    position: absolute;
    top: 350px;
    left: 55px;
    width: 55%;
}
#cardsTitle1{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    position: absolute;
    bottom: 30px;
    left: 55px;
    width: 60%;
}

.canDocards1Img{
    display: none;
}

@media screen and (max-width:1705px) and (min-width:1025px) {
.candoCards{
    padding: 4% 1%;
}
}
@media screen and (max-width:1025px) and (min-width:768px) {
    .canDo{
        padding: 3% 5% 15%;
    }
    .candoCards{
            padding: 4% 10%;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-row-gap: 11%;
            grid-column-gap: 3%;
            margin: 0 0 0 5%;
    }
    #cardsTitle1{
        left: 45px;
    }
}
@media screen and (max-width:768px) and (min-width:431px){
    .candoCards{
        padding: 4% 4%;
        margin: 0 0 0 3%;

    }
}
@media screen and (max-width:430px)and (min-width:375px){
    .canDo{
        padding: 3% 2%!important;
    }
    
    #canDotitle{
        font-family: Poppins;
        font-size: 26px;
        font-weight: 600;
        line-height: 39px;
        letter-spacing: -0.025em;
        text-align: center;
        margin: 5% 0 0 0;
    }
    #canDotext{
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        width: 100%;
        margin: 5% 0 0 1%;
    }
    .candoCards{
        display: block;
    }
    .canDocardsImg{
        display: none;
    }
    .canDocards1Img{
        display: block;
        margin: 0 0 5% -10%;
    }
    .cardsIcon{
        left:0px
    }
    #cardsTitle{
        font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        letter-spacing: -0.025em;
        text-align: left;
        color: #FFFFFF;
        position: absolute;
        top: 130px;
        left: 35px;
        width: 55%;
    }
    #cardsTitle2{
        display: none;
    }
    #cardsTitle1{
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        width: 100%;
        top:50px;
        left:30px;
    }
    #rescardsIcon{
        display: none;
    }
}
@media screen and (max-width:375px) {
     
    #cardsTitle{
        top: 110px;
        left: 35px;
        width: 55%;
    }
    .cardsIcon{
        left:50px;
        top:40px;
    }
    #cardsTitle{
        font-size: 16px;
    }
    #cardsTitle1{
        width: 90%;
        top:50px;
        left:20px;
    }
    .candoCards{
        padding: 4% 5%;
    }
    .canDocards1Img{
        margin: 0 0 5% 0%;
        width: 100%;
    }
    #cardsTitle{
        left:90px;
    }
}

.candocards2:hover #cardsTitle2{
   top: 100px;
}
.candocards2 span{
    display: none;
}
.candocards2:hover span{
    display: block;
}
