@media screen and (max-width:1025px) and (min-width:768px) {


.product_Title {
    margin: 8% 15%;
}
    .expert_flex {
        margin: 0 5% 5% 3%;
    }
    .saas{
        margin: 0 5% 5% -8%;
    }
    .cardlist {
        grid-row-gap: 11%;
        grid-column-gap: 3%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 3% 0%;
    }  
    .animation #animationText{
        left:190px;
        top:200px
    }
    .whyVenzo{
        margin:3% 0 0 -21.5%;
    }
    .carousel-indicators {
        display: flex;
    }

}