@media screen and (max-width:1445px) and (min-width:1025px) {
    .saas{
      
    margin:0 0 5% -10%;

    }
    .animation #animationText{
        position:absolute;
        left:390px;
        top:300px;
    }
    .cardlist {
        grid-row-gap: 11%;
        grid-column-gap: 3%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 3% 0%;
    }       
    .carousel-indicators {
        display: flex;
    }
}