@media screen and (max-width:1445px) and (min-width:1025px) {
    .saas{
      
    margin:0 0 5% -10%;

    }
    .animation #animationText{
        position:absolute;
        left:390px;
        top:300px;
    }
}