@media screen and (max-width:376px) {
    .helpDesc{
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: center;
        width: 70%;
        margin: 2% 0 10% 15%;
    }
    .product_Title {
        margin: 27% 6%;
        width: 40%;
        font-size: 28px;
    }
   .SAASDev{
    width: 354px;
    margin-left: 1%;
   }
   .SupportMain{
    width: 351px;
    margin-left: -17%;
   }
   .SupportLine{
    margin-left: -14%;
   }
   .buildProduct {
    height: auto;
}
    .cards1,.cards2,.cards3{
        width:300px;
        margin: 0 0 15% 1%;
        text-align: left;
    }
    .ImpactTitle{
        margin: 0 0 0 1%;
    }
    .animation #animationText{
        font-family: Poppins;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: -0.025em;
        text-align: center;
        width: 65%;
        left: 75px;
        top: 210px;
        
      }
    .whyVenzo{
        margin: 1% 0 0 -15%;
    }
    .whyVenzo #whyVenzoText{
        font-size: 14px;
        width:85%;
        margin: 0 0 0 15%;
    }
    .ourProducts .productImage{
        width: 100%;
        margin: 15% 0 0 0%;
    }
    .productDesc #productText {
        font-size: 14px;
    }
    .carousel-indicators {
        display: flex;
    }
}