@media screen and (max-width:430px) {
    .expertsBottomline{
        height: 133.22825622558594px;
        width: 0px;
        left: 146.826171875px;
        top: 1078.421875px;
        border-radius: 0px;

    }
    /* .product_section1 {
        display: none;
    }
    .product_section2{
        background-image: url("../../images/productDevelopmentbg.png");
        padding: 15% 0 10% 0;
        background-image: url("../../images/productBgm.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100vw;
        height: 610px;
    } */
    .product_Title {
        margin: 8% 10%;
    }
    .expert_flex{
        display: block;
        text-align: center;
    }
    .expert_flex p{
        margin: -5% 0 0 0;
    }
    .saas{
        margin: 0 0 0 5%;
    }
    .saasImg{
        width: 85%;
        margin: 5% 0 0 1%;

    }
    .saasImg1{
        display: none;
    }
    #saasImgRes{
        display: block;
    }
    .saas_consulting{
        margin: 0 0 0 1%;
    }
    .saas_Development{
        margin: 0 0 0 5%;
    }
   
    .cons_title{
        text-align: left;
        width: 100%;
        font-size: 28px;
    }
    .cons_subTitle{
       width:90%;
       text-align: left;
       margin: 2% 0 0 10%;

    }
    .linevText{
        display: flex;
        text-align: left;
    }
    .cons_desc{
        text-align: left;
    }
    .cards1,.cards2,.cards3{
        width:300px;
        margin: 0 0 10% 8%;
        text-align: left;
    }
    .ImpactTitle{
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        line-height: 31px;
        letter-spacing: -0.025em;
        text-align: center;
        width: 350px;
        margin: 0 0 0 5%;

    }
    /* .cards3{
        margin-left: -10%;
    } */
    .animation #animationText{
        left:190px;
        top:150px;
        font-size: 16px;
        width: 50%;
    }
    .linev{
        display: none;
    }
    
    .helpTitle{
        font-size: 38px;
        font-weight: 600;
        text-align: center;

    }
    .helpDesc{
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        text-align: center;
        height: 128px;
        width: 361px;
        margin: 0 0 0 8%;
        
    }
    .cons_list{
        display: block;
        text-align: left;
    }
    .dev_list-Block{
        display: block;
        text-align: left;
    }
   
    /* .ourProducts{
        display: block;
        text-align: center;
    } */
    .cardlist{
        display: block;
        text-align: center;

    }
    .saas_consulting, .saas_Development {
        display: block;
        margin: 1% 0 10% 0;
        
    }
    .awesomeProducts{
        height: 100vh;
   }
   .ourProducts{
       padding:5% 5%;
       margin: 10% 0 0 0;
       display: block;
       height: 700px;
   }
   .cardlist {
       padding:3% 5%;
       grid-template-columns: repeat(2,1fr);
      
  }
  
  .venzoCards{
   grid-template-columns: repeat(2,1fr);
   margin: 0 0 0 15%;

  }
  .whyVenzo #whyVenzoTitle{
      text-align: center;
  }

  .buildProduct{
      display: block;
      height: 30vh;
      padding: 10% 10%;
  }
  .buildText{
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: -0.03em;
    text-align: left;
    
  }
  .buildtalk{
    height: 40px;
    width: 150px;
    left: 20px;
    top: 8236px;
    border-radius: 8px;
    
  }
  .animation #animationText{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.025em;
    text-align: center;
    width: 60%;
    left: 85px;
    top: 210px;
    
  }
  .whyVenzo{
      margin: 1% 0 0 -8%;
  }
  .whyVenzo #whyVenzoTitle{
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: -0.025em;
    text-align: center;
    
  }
  .whyVenzo #whyVenzoText{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    width: 387px;
    margin: 0 0 0 10%;
    
  }
  .venzoCards{
      padding: 2% 5%;
      margin-bottom: 10%;
  }
  .venzoCards .subCards{
    height: 169.21881103515625px;
    width: 165px;
    border-radius: 7.411043167114258px;
    margin: 0 0 0 -15%;
    
  }
  .venzoCards .subCards img{
    height: 26.079145431518555px;
    width: 28.449974060058594px;
    left: 97.9384765625px;
    top: 6838.703125px;
    border-radius: 0px;
    
  }
  .venzoCards .subCards #subCardsText{
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.03em;
    text-align: left;
    
  }
.productDesc #productTitle{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: -0.03em;
    text-align: left;
    }
    .borderLine{
    width:50%;
    }
    .productDesc #productText{
        font-family: Poppins;
        font-size: 12px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: justified;
        width: 330px;
    }
.ourProducts .productImage{
    margin: 5% 0 0 -2%;
}
.animationBG{
    display: none;
}
.animationBGRes{
    display: block;
}
.carousel-indicators {
    display: flex;
}
}