@media screen and (max-width:425px)  and (min-width:375px){
    .expertsBottomline{
        height: 133.22825622558594px;
        width: 0px;
        left: 146.826171875px;
        top: 1078.421875px;
        border-radius: 0px;

    }
   
    /* .product_section2{
        background-image: url("../../images/productDevelopmentbg.png");
        padding: 15% 0 10% 0;
        background-image: url("../../images/productBgm.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100vw;
        height: 610px;
    } */
    .product_section1 {
        padding: 15% 0 10% 0;
        background-image: url(../../images/ProductMobBG.svg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 765px;
    }
    .product_Title {
        margin: 18% 6%;
        width: 85%;
        font-size: 42px;
    }
    .experts_title {
        margin-bottom: 6%;
        margin-top: 12%;
    }
    .LinevHoriz {
        display: block !important;
        margin-left: 52%;
        border: -0.88043px solid #D8D8D8;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        margin-left: 49%;
        height: 140px;
        margin-top: -14%;
    }
    .expert_flex{
        display: block;
        text-align: center;
        margin-left: 4%;
        margin-top: 15%;
        margin-bottom: 14%;
    }
    .expert_flex>div {
        margin-top: -12%;
    }
    .expert_flex p{
        margin: 0% 0 0 0;
    }
    .saas{
        margin: 0 0 0 5%;
    }
    .saasImg{
        width: 96%;
    margin-left: 5% -11px 0px 0%;

    }
    .saasImg1{
        display: none;
    }
    #saasImgRes{
        display: block;
    }
    .saas_consulting{
        margin: 0 0 0 1%;
    }
    .saas_Development{
        margin: 0 0 0 5%;
    }
   
    .cons_title{
        text-align: left;
        width: 100%;
        font-size: 28px;
        margin-left: -19%;
    margin-top: 4%;
    }
    .linevText{
        display: flex;
        text-align: left;
    }
    .SaasDevTit2 {
        margin-left: 0%;
    }
    .SaasPara{
        width: 383px;
    text-align: justify;
    margin-left: -19%;
    }
    .linev{
        display: none;
    }
    .SAASDev{
        text-align: justify;
    margin-left: 0% !important;
    width: 376px;
    font-size: 14px;
    }
   
    .dev_list {
        display: block;
        margin-left: -8%;
    }
    .ConsTitl{
        width: 100%;
    font-size: 25px;
    margin-left: -18%;
    }
    .cons_right {
        padding-left: 16%;
        padding-top: 2%;
    }
    .dev_list>div>div {
        padding-left: 10%;
        padding-right: 0%;
        padding-top: 5%;
    }
    .cons_desc {
        text-align: justify;
        margin-left: -18%;
    }
    .SaasConsList{
        margin-top: -5%;
    }
    .SupportMain{
        text-align: justify;
        margin-left: -17%;
        width: 381px;
        margin-bottom: 14%;
    }
    .cardTitle {
        font-size: 18px;
        margin-top: 6%;
    }
    .cons_number {
        font-size: 22.8118px;
    }
    .cardDesc {
        font-size: 12px;
         width: 93%;
    }
    .cardDescList {
        font-size: 14px;
    }
    .cards1,.cards2,.cards3{
        width:300px;
        margin: 0 0 10% 8%;
        text-align: left;
    }
    .ImpactTitle{
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        line-height: 31px;
        letter-spacing: -0.025em;
        text-align: center;
        width: 350px;
        margin: 0 0 0 5%;

    }
 
   
    
    .helpTitle{
        font-size: 38px;
        font-weight: 600;
        text-align: center;

    }
    .helpDesc{
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        text-align: center;
        height: 128px;
        width: 361px;
        margin: 0 0 24px 8%;
        
    }
    .cons_list{
        display: block;
        text-align: left;
        margin-left: -26%;
    }
    .ConsultBr {
        display: none;
    }
    .dev_list-Block{
        display: block;
        text-align: left;
    }
   
    /* .ourProducts{
        display: block;
        text-align: center;
    } */
    .cardlist{
        display: block;
        text-align: center;
        
    }
    .saas_consulting, .saas_Development {
        display: block;
        margin: 1% 0 10% 0;
        
    }
    .cons_subTitle {
        width: 90%;
        text-align: left;
        margin: 1% 0px 0px 5%;
        font-size: 15px
    }
    .awesomeProducts{
        height: 844px;
   }
   /* .ourProducts{
       padding:5% 5%;
       margin: 10% 0 0 0;
       display: block;
       height: 700px;
   } */
   .cardlist {
       padding:3% 5%;
       grid-template-columns: repeat(2,1fr);
      
  }
  
  .venzoCards{
   grid-template-columns: repeat(2,1fr);
   margin: 0 0 0 15%;

  }
  .whyVenzo #whyVenzoTitle{
      text-align: center;
      margin-left: 10%;
  }

  .buildProduct{
      display: block;
      height: auto;
      padding: 4% 10%;
      padding-top: 8%;
    padding-bottom: 13%;
  }
  .buildText{
    font-family: Poppins;
    font-size: 25px !important;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: -0.03em;
    text-align: left;
    margin-left: 1%;
    
  }
  .buildtalk{
    height: 31px;
    width: 114px;
    left: 20px;
    top: 8236px;
    border-radius: 8px;
    margin-left: 1%;
    
  }
  .animation #animationText{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.025em;
    text-align: center;
    width: 65%;
    left: 85px;
    top: 229px;
    
  }
  .whyVenzo{
      margin: 1% 0 0 -8%;
  }
  .whyVenzo #whyVenzoTitle{
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: -0.025em;
    text-align: center;
    
  }
  .whyVenzo #whyVenzoText{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    width: 387px;
    margin: 0 0 0 10%;
    
  }
  .venzoCards{
      padding: 13% 5%;
      margin-bottom: 10%;
  }
  .venzoCards .subCards{
    height: 169.21881103515625px;
    width: 165px;
    border-radius: 7.411043167114258px;
    margin: 0 0 0 -15%;
    
  }
  .venzoCards .subCards img{
    height: 26.079145431518555px;
    width: 28.449974060058594px;
    left: 97.9384765625px;
    top: 6838.703125px;
    border-radius: 0px;
    
  }
  .venzoCards .subCards #subCardsText{
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.03em;
    text-align: left;
    width: 40%;
  }
  .awesomeProducts .awesomeTitle {
    margin-top: 8%;
}
.productDesc #productTitle{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: -0.03em;
    text-align: left;
    }
    .borderLine{
    width:50%;
    }
    .productDesc #productText{
        font-family: Poppins;
        font-size: 12px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: justify;
        width: 335px;
    }


.ourProducts{
    padding:5% 5%;
    margin: 10% 0 0 0;
    display: block;
    height: 700px;
}
.ourProducts .productImage1{
 width: 80%;
margin:5% 0 0 10% ;

}

.ourProducts .productImage{
width: 70%;
height: 30%;
margin:10% 0 0 15% ;
}
.awesomeProducts {
    height: 800px;
}
.animation{
    padding: 1% 0%;
}
.animationBG{
    display: none;
}
.animationBGRes{
    display: block;
}
.carousel-indicators {
    display: flex;
}
.carousel-inner {
    height:  138vh !important;
}
.carousel-indicators {
    margin-bottom: -3rem;
}
}