.product_section1 {
    padding: 15% 0 10% 0;
    background-image: url("../../images/productBgm.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 90vh;
}
/* .product_section2{
    display: none;
} */
.saas {
    margin-bottom: 10%;
}

.product_Title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin-left: 10%;
}

.colorname {
    background: linear-gradient(233.68deg, #F97112 21.18%, #C421B9 78.82%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.titleHead{
    font-size: 18px;
}
.experts_title {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
    margin: 3% 0;
}

.expert_flex {
    display: flex;
    margin: 0 5% 5% 10%;
}

.expert_flex>div {
    padding-right: 5%;
    padding-left: 3%;
    padding-top: 3%;
}

.expert_flex>div>img {
    padding-bottom: 0%;
    width: 24px;
    margin-bottom: 21px;
}

.linev {
    background: rgba(216, 216, 216, 1);
    margin-top: 2%;
    height: 118px;
}

.helpTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.02em;
    background: linear-gradient(165.51deg, #000000 -700.43%, rgba(0, 0, 0, 0) 123.84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.helpDesc {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 200%;
    text-align: center;
    color: rgba(77, 77, 77, 0.75);
    width: 46%;
    margin-left: 29%;
}

.saas_consulting,
.saas_Development {
    display: flex;
    margin-left: 8%;
    margin-top: 5%;

}
#saasImgRes{
    display: none;
}
.cons_list {
    display: flex;
    width: 619px;
}

.cons_list>div {
    padding-right: 10%;
    padding-top: 4%;
    padding-left: 4%;

}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    margin-top: 3%;
}

.cons_title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #000000;

}

.cons_right {
    padding-left: 6%;
    padding-top: 2%;

}

.cons_left {
    padding-right: 5%;
    padding-top: 0%;
   
}

.cons_desc {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 175%;
    color: #9E9E9E;
    width: 85%;
}

.cons_number {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 27.8118px;
    line-height: 42px;
    color: #000000;
}

.cons_subTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15.6441px;
    line-height: 23px;
    color: #000000;
    width: 257px;
}

.dev_list {
    display: block;

}

.dev_list-Block {
    display: flex;
    padding-right: 10%;
    padding-top: 4%;
    padding-left: 0%;
}

.dev_list>div>div {
    padding-left: 6%;
    padding-right: 20%;
    padding-top: 5%;
}

.CreateImpact {
    background: #0A1020;
    padding: 5% ;
}

.ImpactTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 153.5%;
    text-align: center;
    letter-spacing: -0.025em;
    color:rgba(255, 255, 255, 0.44);
    width: 40%;
    margin-left: 30%;
    padding-bottom: 5%;
}

.cardlist {
     padding:3% 10%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 11%;
    grid-column-gap: 3%;
}

.cards1,
.cards2,
.cards3 {
    background: linear-gradient(182.19deg, rgba(156, 165, 188, 0.69) -860.5%, rgba(10, 16, 32, 0.69) 98.16%);
    border-radius: 5px;
    margin-left: 5%;
    width: 386px;

    
}

.cardTitle {
    padding: 10% 0 0 10%;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.025em;

    color: #FFFFFF;
}


.cardDesc {
    padding: 0% 0 0 10%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.5%;
    text-align: justify;
    color: rgba(255, 255, 255, 0.44);
    width: 85%;
}

.cardDescList {
    padding: 0% 0 10% 10%;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 38px;
    letter-spacing: -0.025em;
    color: #FFFFFF;
    margin-left: 17px;
}
.ButtonTalk{
    background: #0A1020;
    border-radius: 8px;
    cursor: pointer;
    background-image: url("../../images/blockchaindevelopment/demobtn.png");
    background-repeat: no-repeat;
    background-size:100% 100%;
    padding: 1%;
    width: 70%;
   text-align: center;
   margin: 2% 0 0 13%;
}
.ButtonTalk:hover{
    background: #0A1020;
    border-radius: 8px;
    
    background-image: url("../../images/blockchaindevelopment/demobtn.png");
    background-repeat: no-repeat;
    background-size:100% 100%;
    padding: 1%;
    width: 70%;
   text-align: center;
   color: #FFFFFF;
   margin: 2% 0 0 13%;
}
.animation{
    /* background-image: url('../../images/animationBg.png'); */
    position: relative;
}
.animationBG{
    display: block;
    width:100%;
    height: 806px;
}
.animationBGRes{
    display: none;
}
.animation #animationText{
    font-family: Poppins;
    font-size: 23px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: -0.025em;
    height: 140px;
    width: 668px;
    position: absolute;
    top: 302px;
    left:600px;
    text-align: center;
}

.whyVenzo{
    padding: 5% 5%;
}
.whyVenzo #whyVenzoTitle{
    font-family: Poppins;
    font-size: 38px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: -0.025em;
    text-align: left;
    margin-left: 18%;
    
}
.whyVenzo #colorVenzoText{
    background: -webkit-linear-gradient(60deg, #e66521, #d1368f, #ae01ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.whyVenzo #whyVenzoText{
    font-family: Poppins;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: justified;
    color: #848484;
    width: 933px;
    margin-left: 18%;

    
}
.venzoCards{
    padding: 5% 18%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap: 11%;
    grid-column-gap: 3%;
    transition: 0.7s;
}
.venzoCards:hover .subCards1{
    margin-top: -13%;
    transition: 0.7s;
}
.venzoCards:hover .subCards2{
    margin-top: 13%;
    transition: 0.7s;
}
.venzoCards:hover .subCards3{
    margin-top: -13%;
    transition: 0.7s;
}
.venzoCards:hover .subCards4{
    margin-top: 13%;
    transition: 0.7s;
}
.venzoCards .subCards{
    padding: 10% 15%;
    height: 274px;
    width: 222px;
    border-radius: 12px;
    background: #F9F9F9;
    display: block;
}
.venzoCards .subCards #subCardsText{
    font-family: Manrope;
    font-size: 23px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.03em;
    text-align: left;
    height: 96px;
    width: 133px;
    margin-top:30%;

}
.awesomeProducts{
    background-color:#0A1020;
    height: 879px;
    width:100vw;
    padding: 5%;
}
.awesomeProducts .awesomeTitle{
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: -0.025em;
    text-align: center;
    color: #FFFFFF;

}
.awesomeProducts #awesomeVenzo{
    background: -webkit-linear-gradient(273.09deg, #AD00FF 21.43%, #FF7A00 212.09%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.ourProducts {
    background: #181D2B;
    border-radius: 5px;
    padding: 5% 10%;
    display: flex;
    width: 76%;
    margin-left: 10%;
}
.ourProducts .productDesc{
    width:50%
}
.productDesc #productTitle{
    font-family: Poppins;
    font-size: 38px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #FFFFFF;
}
.productDesc #productText{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    height: 125px;
    width: 434px;
    margin-top: 5%;

}
.borderLine{
width:20%;
}
.ourProducts .productImage{
   margin-left: 15%;
}
.Quotes {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;    
    border-radius: 8px;
    padding-top: 6%;
}

.buildProduct {
    margin: 0 9px 0 0;
    padding: 4% 10%;
    width: 100%;
    display: flex;
    background-color: #f6f6f6;
}

.buildText {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #000000;
    width: 100%;
}

.buildtalk {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    height: 50px;
    width: 200px;
    border-radius: 8px;
    color: #FFFFFF;
    background-color: #0A1020;
    margin: 4% 0 0 10%;
}
.carousel-indicators {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 13%;
}