@media screen and (max-width:768px) and (min-width:431px) {
    .product_Title {
        margin: 6% 6%;
        font-size: 44px;
    }
    .expert_flex{
        display: block;
        text-align: center;
    }
    .expert_flex p {
        margin: -1% 0 0 0;
    }
    .cons_list>div {
        width: 35%;
    }
    .saas{
        text-align: center;
    }
    .cons_desc{
        margin: 0 0 0 14%;
    }
    .cards1,.cards2,.cards3{
        width:371px;
        margin: 0 0 10% 25%;
        text-align: left;
    }
    /* .cards3{
        margin-left: -10%;
    } */
    .animation #animationText{
        left: 165px;
    top: 132px;
    font-size: 16px;
    width: 61%;
    }
    .linev{
        display: none;
    }
    .linevText{
        display: flex;
    }
    .dev_list {
        width: 80%;
        display: block;
        margin-left: 15%;
    }
    .cons_list {
        display: block;
        margin: 0 0 0 38%;
    }
    .saasImg1 {
        width: 67%;
        margin-left: 8%;
        margin-top: 3%;
    }
    .saasImg{
        margin-left: 8%;
    }
    .cons_title {
        margin-left: 9%;
    }
    .dev_list-Block{
        display: block;
        margin: 0% 0 0 25%;
    }
    .cons_subTitle{
        margin: 1% 0 0 11%;
    width: 70%;
    text-align: left;
    }
    /* .ourProducts{
        display: block;
        text-align: center;
    } */
    .cardlist{
        display: block;
        text-align: center;

    }
    .SaasDevTit2{
        margin-left: 14%;
    }
    .SAASDev{
        width: 86%;
        margin-left: 72px;
    }
    .saas_consulting, .saas_Development {
        display: block;
       
    }
    .awesomeProducts{
        height: 152vh;
   }
   .ImpactTitle {
    width: 75%;
    margin-left: 15%;
}
   .ourProducts{
       padding:5% 5%;
       margin: 10% 0 0 0;
       display: block;
       height: 700px;
   }
   .cardlist {
       padding:3% 5%;
       grid-template-columns: repeat(2,1fr);  
  }
  .ourProducts .productImage {
    margin-left: 24%;
}
  
  .venzoCards{
   grid-template-columns: repeat(2,1fr);
   margin: 0 0 0 15%;

  }
  .whyVenzo #whyVenzoTitle{
      text-align: center;
  }
  .whyVenzo #whyVenzoText{
    width: 69%;
    text-align: center;
    margin: 0 0 0 26%;
  }
  .productDesc #productText {
    width: 645px;
    margin-top: 5%;
}
.carousel-inner {
    height: 729px !important;
}
}