@media screen and (max-width:768px) and (min-width:431px) {
    .product_Title {
        margin: 6% 6%;
        font-size: 44px;
    }
    .product_section1 {
        height: 100vh;
    }
    /* .product_section1 {
        padding: 15% 0 10% 0;
        background-image: url(../../images/ProductMobBG.svg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 610px;
    } */
    .expert_flex{
        display: block;
        text-align: center;
    }
    .LinevHoriz {
        display: block !important;
        margin-left: 52%;
        border: -0.88043px solid #D8D8D8;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        margin-left: 49%;
        height: 140px;
        margin-top: -7%;
    }
    .expert_flex p {
        margin: -1% 0 0 0;
    }
    .cons_list>div {
        width: 95%;
    }
    .experts_title {
        margin-top: 7%;
        margin-bottom: 10%;
    }
    .ConsultBr {
        display: none;
    }
    .saas{
        text-align: center;
    }
    .cons_desc{
        margin: 0 0 0 14%;
        text-align: justify;
    }
    .expert_flex>div {
        padding-right: 1%;
        padding-left: 1%;
        padding-top: 0%;
        margin-top: -6% !important;
    }
    .cards1,.cards2,.cards3{
        width:371px;
        margin: 0 0 10% 25%;
        text-align: left;
    }
    .awesomeProducts {
        height: 180vh !important;
    }
    /* .cards3{
        margin-left: -10%;
    } */
    .animation #animationText{
        left: 165px;
    top: 132px;
    font-size: 16px;
    width: 61%;
    }
    .buildText {
        font-size: 35px;
    }
    
    .linev{
        display: none;
    }
    .linevText{
        display: flex;
    }
    .dev_list {
        width: 100%;
        display: block;
        margin-left: 7%;
    }
    .animationBG {
        display: block;
        width: 100%;
        height: 450px;
    }
    .cons_list {
        display: block;
        margin: 0 0 0 36%;
    }
    .SaasConsList{
        margin-left: 17%;
        margin-top: -7%;
    }
    .SupportMain{
        margin-bottom: 9%;
    }
    .saasImg1 {
        width: 67%;
        margin-left: 8%;
        margin-top: 3%;
    }
    .whyVenzo {
        margin: 4% 3px 32px -21.5%;
    }
    .awesomeProducts .awesomeTitle {
        padding-top: 3%;
        margin-bottom: -4%;
    }
    .saasImg{
        margin-left: 8%;
    }
    .cons_title {
        margin-left: 9%;
    }
    .dev_list-Block{
        display: block;
        margin: 0% 0 0 25%;
    }
    .cons_subTitle{
        margin: 1% 0 0 6%;
    width: 70%;
    text-align: left;
    }
    /* .ourProducts{
        display: block;
        text-align: center;
    } */
    .cardlist{
        display: block;
        text-align: center;

    }
    .SaasDevTit2{
        margin-left: 14%;
    }
    .SAASDev{
        width: 88%;
    margin-left: 84px;
    text-align: justify;
    font-size: 16px;
    }
    .saas_consulting, .saas_Development {
        display: block;
       
    }
    .awesomeProducts{
        height: 152vh;
   }
   .ImpactTitle {
    width: 75%;
    margin-left: 15%;
}
.awesomeProducts{
    height: 1000px!important;
}
   .ourProducts{
       padding:5% 5%;
       margin: 10% 0 0 0;
       display: block;
       height: 700px;
   }
   .cardlist {
       padding:3% 5%;
       grid-template-columns: repeat(2,1fr);  
  }
  .ourProducts .productImage {
    margin-left: 24%;
}
  
  .venzoCards{
   grid-template-columns: repeat(2,1fr);
   margin: 0 0 0 15%;

  }
  .whyVenzo #whyVenzoTitle{
      text-align: center;
  }
  .whyVenzo #whyVenzoText{
    width: 69%;
    text-align: center;
    margin: 0 0 0 26%;
  }
  .productDesc #productText {
    width: 623px;
    margin-top: 5%;
    text-align: justify;
}
.carousel-inner {
    height: 729px !important;
}
}