
.customizedImages{
    height: 90vh;
    width: 100%;
    position: relative;
    z-index: -1;
}
.custmoizedText{
    padding: 5% 1%;
    position: absolute;
    top:100px;
    left:100px;
}
#customizeText{
    font-family: Poppins;
    font-size: 62px;
    font-weight: 600;
    line-height: 66px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #FFFFFF;
    /* width: 50%; */
    margin-top: 26%;
}
.customizedImages{
    display: block;
}
.customizedImagesRes{
    display: none;
}
@media screen and (max-width:1705px) and (min-width:1024px) {
    .custmoizedText{
        padding: 5% 0%;
        position: absolute;
        top:91px;
        left:100px;
    }
    .customizedImages{
        height: 93vh;
    }
    #customizeText{
        font-family: Poppins;
        font-size: 55px;
        font-weight: 600;
        line-height: 66px;
        letter-spacing: -0.04em;
        text-align: left;
        color: #FFFFFF;
        width: 69%;
        margin-top: 9%;
    }
}
@media screen and (max-width:1024px) and (min-width:768px) {
    
    .custmoizedText{
        padding: 5% 0%;
        position: absolute;
        top:67px;
        left:50px;
    }
    .customizedImages{
        height: 101vh;
    }
    #customizeText{
        width: 75%;
    }

}
@media screen and (max-width:768px) and (min-width:430px) {
    .custmoizedText{
        padding: 5% 0%;
        position: absolute;
        top:0px;
        left:25px;
        width: 90%;

   
    }
    .customizedImages{
        height: 120vh;
        display: block;
    }
    /* .customizedImagesRes{
        display: block;
        
        width: 100%;
    } */
    #customizeText{
        width: 70%;
        margin-top: 19%;
        font-size: 42px;
    }
}
@media screen and (max-width:430px) and (min-width:375px) {
    .customizedImages{
        display: none;
    }
    .customizedImagesRes{
        display: block;
        /* height: 100vh;
        width: 100%; */
    }
    .custmoizedText{
        padding: 5% 1%;
        position: absolute;
        top:23px;
        left:25px;
    }
    #customizeText{
        font-family: Poppins;
        font-size: 40px;
        font-weight: 600;
        line-height: 50px;
        letter-spacing: -0.04em;
        text-align: left;
        width: 100%;
    }
}
@media screen and (max-width:375px){
    .custmoizedText{
        padding: 5% 1%;
        position: absolute;
        top:20px;
        left:20px;
    }
    #customizeText{
        font-family: Poppins;
        font-size: 37px;
        font-weight: 600;
        line-height: 50px;
        letter-spacing: -0.04em;
        text-align: left;
        width: 100%;
    }
}