.customized{
 
}
.customizedImages{
    height: 75vh;
    width: 100%;
    position: relative;
    z-index: -1;
}
.custmoizedText{
    padding: 5% 5%;
    position: absolute;
    top:100px;
    left:100px;
}
#customizeText{
    font-family: Poppins;
    font-size: 55px;
    font-weight: 600;
    line-height: 66px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #FFFFFF;
    width: 40%;
}
.customizedImages{
    display: block;
}
.customizedImagesRes{
    display: none;
}
@media screen and (max-width:1024px) and (min-width:768px) {
    .custmoizedText{
        padding: 5% 3%;
        position: absolute;
        top:150px;
        left:70px;
    }
    #customizeText{
        width: 75%;
    }

}
@media screen and (max-width:768px) and (min-width:431px) {
    .custmoizedText{
        padding: 5% 3%;
        position: absolute;
        top:150px;
        left:50px;
    }
    #customizeText{
        width: 100%;
    }
}
@media screen and (max-width:430px) {
    .customizedImages{
        display: none;
    }
    .customizedImagesRes{
        display: block;
    }
    .custmoizedText{
        padding: 5% 3%;
        position: absolute;
        top:250px;
        left:30px;
    }
    #customizeText{
        font-family: Poppins;
        font-size: 42px;
        font-weight: 600;
        line-height: 50px;
        letter-spacing: -0.04em;
        text-align: left;
        width: 100%;
    }
}