.testing {
    background-color: #0A1020;
    height: 50vh;
    width: 100vw;
    margin-top: 4%
}

.testing .typesTesting {
    display: flex;
    padding: 5% 10%;
}

.testing .typesTesting h1 {
    font-size: 70px;
    font-family: poppins-semibold;
    background: linear-gradient(#fff -10%, #0a1020);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 30%;
    margin: 2% 0 0 0;
    width: 35%;

}

.testing .typesTesting .testingCard {
    background: #1d2331;
    height: 35vh;
    width: 55%;
    padding: 4% 4%;
    margin: 0% 0 0 20%;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid rgb(126, 123, 123)
}

.testingCard .types {
    display: flex;
}

.testingCard .types .types1 {
    color: white;
    font-family: poppins-medium;
    line-height: 2.5;
    margin: 0 0 0 5%;

}

.testingCard .types .types2 {
    color: white;
    font-family: poppins-medium;
    line-height: 2.5;
    margin: 0 0 0 25%;
}

@media screen and (max-width:1445px) and (min-width:1025px) {
    .testing {
        background-color: #0A1020;
        height: 70vh;
        width: 100vw;
    }

    .testing .typesTesting {
        display: flex;
        padding: 5% 10%;
    }

    .testing .typesTesting h1 {
        font-size: 70px;
        font-family: poppins-semibold;
        background: linear-gradient(#fff -10%, #0a1020);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 30%;
        margin: 2% 0 0 0;
        width: 55%;

    }

    .testing .typesTesting .testingCard {
        background: #1d2331;
        width: 90%;
        padding-bottom: 22%;
        margin: 0% 0 0 0%;
        border-radius: 8px 8px 8px 8px;
        border: 1px solid rgb(126, 123, 123)
    }

    .testingCard .types {
        display: flex;
    }

    .testingCard .types .types1 {
        color: white;
        font-family: poppins-medium;
        line-height: 2.5;
        margin: 0 0 0 5%;

    }

    .testingCard .types .types2 {
        color: white;
        font-family: poppins-medium;
        line-height: 2.5;
        margin: 0 0 0 25%;
    }
}

@media screen and (max-width:1024px) and (min-width:769px) {
    .testing .typesTesting h1 {
        font-size: 50px;

    }

    .testing .typesTesting .testingCard {
        width: 70%;
        height: 35vh;
        margin: 0 0 0 10%;
    }

    .testingCard .types .types1 {
        line-height: 2;
        margin: 0 0 0 0%;
        font-size: 14px;

    }

    .testingCard .types .types2 {
        line-height: 2;
        font-size: 14px;
        margin: 0 0 0 10%;
    }
}

@media screen and (max-width:768px) and (min-width:426px) {
    .testing {
        height: 90vh;
    }

    .testing .typesTesting {
        display: block;
    }

    .testing .typesTesting h1 {
        font-size: 50px;
        width: 75%;
        text-align: center;
        margin: 0 0 0 12%;
    }

    .testing .typesTesting .testingCard {
        height: 58vh;
        width: 80%;
        margin: 10% 0 5% 10%;
    }

    .testingCard .types {
        display: block;
    }

    .testingCard .types .types1 {
        margin: 0 0 0 25%;
    }
}

@media screen and (max-width:425px) and (min-width:380px) {
    .testing {
        height: 110vh;
        margin-top: 50%;
    }

    .testing .typesTesting {
        display: block;
    }

    .testing .typesTesting h1 {
        font-size: 35px;
        width: 75%;
        text-align: center;
        margin: 0 0 0 12%;
    }

    .testing .typesTesting .testingCard {
        height: 75vh;
        width: 90%;
        margin: 5% 0 0 5%;
    }

    .testingCard .types {
        display: block;
    }

    .testingCard .types .types1 {
        margin: 0 0 0 10%;
    }

    .testingCard .types .types2 {
        margin: 0 0 0 10%;
    }
}

@media screen and (max-width:375px) {
    .testing {
        height: 90vh;
    }

    .testing .typesTesting {
        display: block;
    }

    .testing .typesTesting h1 {
        font-size: 50px;
        width: 75%;
        text-align: center;
        margin: 0 0 0 12%;
    }

    .testing .typesTesting .testingCard {
        height: 55vh;
        width: 95%;
        margin: 10% 0 0 5%;
    }

    .testingCard .types {
        display: block;
    }

    .testingCard .types .types1 {
        margin: 10% 0 0 10%;
    }

    .testingCard .types .types2 {
        margin: 0 0 0 10%;
    }
}