.unleashing {
    padding: 10% 3% 5%;
}

.unleashing #unleashingTitle {
    font-family: Poppins;
    font-size: 43px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: -0.04em;
    text-align: left;
    width: 43%;
    margin: 0 0 0 10%;
}

.powerOfvenzo {
    width: 100%;
    display: flex;
    padding: 5% 10%;
}

.powerOfvenzo .powerleftImage {
    width: 50%;
}

.powerOfvenzo .powerrightImage {
    width: 50%;
}

.powerrightImage #powerrightText {
    font-family: Poppins;
    font-size: 21px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: justified;
    color: #A4A4A4;
    width: 97%;
}

.aboutVenzo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 11%;
    grid-column-gap: 3%;
}

.aboutInner {
    width: 100%;
    margin: 10% 0 0 0;
}
#unleashingGradient{
    background: linear-gradient(233.68deg, #BF1BC6 21.18%, #E45155 78.82%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.unleashingGradient1{
    background: linear-gradient(233.68deg, #C421B9 21.18%, #F97112 78.82%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.aboutInner #aboutinnerNumber {
    font-family: Poppins;
    font-size: 29px;
    font-weight: 500;
    line-height: 43px;
    letter-spacing: -0.055em;
    text-align: justified;
    color: #000000;
}

.aboutInner #aboutinnerText {
    font-family: Poppins;
    font-size: 17px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: justified;
    color: #929292;
}

.commitments {
    width: 100%;
    display: flex;
    padding: 5% 10%;
}

.leftCommit {
    width: 30%;
}

.leftCommit #leftCommitTitle {
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #000000;
    margin-bottom: 10%;
}

.leftCommit .whatCommits1 {
    border-left: 2px solid red;
}

.leftCommit .whatCommits {
    border-left: 2px solid #A4A4A4;
}

.whatCommits1 #whatCommitsText1 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #000000;
    margin: 0 0 0 5%;
}

.whatCommits #whatCommitsText {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #A4A4A4;
    margin: 5% 0 0 5%;
}

.rightCommit {
    width: 70%;
}

.rightCommit #rightCommitTitle {
    font-family: Poppins;
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #000000;
}

.rightCommit #rightCommitText {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: justified;
    color: #A4A4A4;
    width: 98%;
}

.rightCommitIcons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 11%;
    grid-column-gap: 3%;
}

.rightCommitblocks {
    margin: 5% 0 0 2%;
}

#tickiconText {
    font-family: Poppins;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: justified;
    color: #000000;
    margin: 10% 0 0 0;
    width: 72%;

}


@media screen and (max-width:1440px) and (min-width:1024px) {
    .powerOfvenzo .powerrightImage {
        margin: 0 0 0 10%;
    }

    .powerrightImage #powerrightText {
        width: 599px !important;
        font-size: 18px !important;
    }
    .unleashing #unleashingTitle {
        width:60%;
        font-size: 45px;
    }
    #tickiconText {
        width: 87%;
    }
    
}

@media screen and (max-width:1024px) and (min-width:768px) {
    .powerImage {
        width: 433px;
        height: 470px;
    }
    .unleashing #unleashingTitle {
        width: 81%;
        font-size: 41px;
        margin-top: 4%;
        margin-left: 3%;
    }
    .powerOfvenzo {
        padding: 5% 5%;
        margin-left: -2%;
    }
    .powerrightImage #powerrightText {
        width: 452px !important;
        font-size: 18px !important;
    }
    .powerOfvenzo .powerrightImage {
        margin: 0 0 0 5%;
    }
    .aboutVenzo {
        grid-row-gap: 1%;
        grid-column-gap: 3%;
    }
    .aboutInner #aboutinnerText {
        font-size: 17px;
        width: 53%;
    }
    .commitments {
        padding: 5% 5%;
        margin-left: -1%;
    }
    .rightCommit {
        width: 98%;
        margin-left: 6%;
    }
    #tickiconText {
        width: 100%;
        font-size: 14px;
    }
    .rightCommit #rightCommitText {
        width: 99%;
    }
    
}

@media screen and (max-width:768px) and (min-width:430px) {
    .powerOfvenzo {
        display: block;
    }

    .powerImage {
        width: 433px;
        height: 356px;
        width: 662px;
    }

    .unleashing #unleashingTitle {
        width: 95%;
    margin-left: 3%;
    margin-top: 9%;
    font-size: 37px;
    text-align: center;
    }

    .powerOfvenzo .powerrightImage {
        width: 100%;
    }

    .powerrightImage #powerrightText {
        width: 100%;
        margin: 5% 0 0 0;
    }
    .powerOfvenzo .powerrightImage {
        margin: 0 0 0 0%;
    }
    .powerrightImage #powerrightText {
        width: 674px !important;
        font-size: 18px !important;
    }
    .aboutVenzo {
        grid-row-gap: 0%;
        grid-column-gap: 20%;
    }
    .commitments {
        display: block;
        width: 100%;
    }

    .leftCommit {
        width: 100%;
    }

    .rightCommit {
        width: 98%;
        margin-left: 0%;
        margin-top: 7%;
    }

    .rightCommit #rightCommitTitle {
        width: 100%;
    }
    .Accele{
        display: none
    }

    .rightCommit #rightCommitText {
        text-align: justify;
        width: 668px !important;
    }

    .leftCommit #leftCommitTitle {
        width: 100%;
    }

    .rightCommitIcons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 11%;
        grid-column-gap: 13%;
    }
    #tickiconText {
        width: 99%;
        font-size: 14px;
    }
    .Accele{
        display: block;
    }
}


@media screen and (max-width:430px) and (min-width:375px){
    .powerOfvenzo {
        padding: 5% 5%;
    }

    .unleashing #unleashingTitle {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 120%;
        /* or 34px */
        letter-spacing: -0.04em;
        text-align: left;
        width: 100%;
        margin: 75px 0px 16px 3%;
    }

    .aboutVenzo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 6%;
        grid-column-gap: 4%;
    }
    .aboutInner #aboutinnerText {
        font-family: Poppins;
        font-size: 15px;
    }
    .aboutInner {
        width: 100%;
        margin: 10% 0 0 0;
    }
    .powerOfvenzo .powerleftImage{
        width: 100%;
    }
    .powerImage {
        width: 370px;
        margin-left: -4px;
    }
    .powerOfvenzo {
        display: block;
    }

    .powerOfvenzo .powerrightImage {
        width: 100%;
    }

    .powerrightImage #powerrightText {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
        width: 100%;
        text-align: justify;
        margin-top: 7%;
    }

    .commitments {
        display: block;
        width: 100%;
        padding: 3% 1%;
        margin: 15% 0 0 0;
    }

    .leftCommit {
        width: 100%;
    }

    .rightCommit {
        width: 100%;
    }
    .leftCommit .whatCommits1 {
        border-left: none;
    }
    .whatCommits1 #whatCommitsText1{
        margin:  0 0 0 0%;
        font-size: 21px;
    }
    .whatCommits #whatCommitsText {
        display: none;
    }
        .leftCommit .whatCommits {
        border-left: none;
    }
    
    .rightCommit #rightCommitTitle {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: -0.02em;
        text-align: left;
        margin: 5% 0 0 0;

    }

    .rightCommit #rightCommitText {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 500;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: justify;
        width: 99%;
        margin-top: 4%;
    }

    .leftCommit #leftCommitTitle {
        font-family: Poppins;
        font-size: 17px;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: -0.02em;
        text-align: center;
    }

    .rightCommitIcons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 11%;
        grid-column-gap: 3%;
        margin-bottom: 12%;
    }
    #tickiconText {
        width: 87% !important;
    }
    
}
@media screen and (max-width:375px) {
    .powerOfvenzo .powerrightImage {
        width: 100%;
    }
    .powerImage {
        width: 322px;
        margin-left: -4px;
    }
    .powerrightImage #powerrightText {
        font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 0em;
        width: 100%;
        text-align: justify;
        margin-top: 7%;
        margin-bottom: 15%;
    }
    .rightCommit {
        width: 100%;
    }
    .rightCommit #rightCommitTitle {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: -0.02em;
        text-align: left;
        margin-top: 6%;
    }
    .leftCommit #leftCommitTitle {
        font-family: Poppins;
        font-size: 17px;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: -0.02em;
        text-align: center;
        margin-top: 9%;
    }
    .whatCommits1 #whatCommitsText1 {
        margin: 0 0 0 0%;
        font-size: 24px;
    }
    #tickiconText {
        width: 93% !important;
        font-size: 13px;
    }
    .rightCommitIcons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 11%;
        grid-column-gap: 20%;
        margin-bottom: 12%;
    }
}