.unleashing{
 padding: 10% 3%;
}
.unleashing #unleashingTitle{
    font-family: Poppins;
    font-size: 43px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: -0.04em;
    text-align: left;
    width:45%;
    margin: 0 0 0 10%;
}
.powerOfvenzo{
    width: 100%;
    display: flex;
    padding: 5% 10%;
}
.powerOfvenzo .powerleftImage{
    width: 50%;
}
.powerOfvenzo .powerrightImage{
    width: 50%;
}
.powerrightImage #powerrightText{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: justified;
    color: #A4A4A4;
    width: 76%;
}
.aboutVenzo{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 11%;
    grid-column-gap: 3%;
}
.aboutInner{
 width: 100%;
 margin: 10% 0 0 0;
}
.aboutInner #aboutinnerNumber{ 
    font-family: Poppins;
    font-size: 29px;
    font-weight: 500;
    line-height: 43px;
    letter-spacing: -0.055em;
    text-align: justified;
    color: #000000;
}
.aboutInner #aboutinnerText{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: justified;
    color: #929292;    
}
.commitments{
width: 100%;
display: flex;
padding: 5% 10%;
}
.leftCommit{
width: 30%;
}
.leftCommit #leftCommitTitle{
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #000000;
}
.leftCommit .whatCommits1{
    border-left: 2px solid red;
}
.leftCommit .whatCommits{
    border-left: 2px solid #A4A4A4;
}
.whatCommits1 #whatCommitsText1{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #000000;
    margin: 0 0 0 5%;
}
.whatCommits #whatCommitsText{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.02em;
    text-align: left;
    color:#A4A4A4;
    margin: 5% 0 0 5%;
}
.rightCommit{
    width: 70%;
}
.rightCommit #rightCommitTitle{
    font-family: Poppins;
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #000000;    
}
.rightCommit #rightCommitText{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: justified;
    color: #A4A4A4; 
    width: 90%;   
}
.rightCommitIcons{
    display: flex;
}
.rightCommitblocks{
    margin: 5% 0 0 2%;
}
#tickiconText{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: justified;
    color: #000000;
    margin: 10% 0 0 0;
    width: 65%;

}