body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    cursor:default;
}
#titleinQA{
    width: 20%;
}
#sercvicecurveLine{
    background-position-x: 95%;
    background-position-y: 75%;
    background-size: 55%;
}
@media screen and (max-width:1705px) and (min-width:1024px){
    #titleinQA {
        width: 59%;
    }
}

@media screen and (max-width:768px) and (min-width:425px)
{
  #titleinQA{
    width:70%;
  }
}

@media screen and (max-width:425px) and (min-width:376px) {
    #titleinQA{
        width: 100%;
    }
    #parainQA{
        margin: 0 0 -15% 0;
    }
    .dmheading {
        font-family: "Poppins", Sans-serif;
        font-size: 41px !important;
        margin-top: 9% !important;
}
}
@media screen and (max-width:375px) {
    #titleinQA{
        width: 100%;
    }
    #parainQA{
        margin: 0 0 -10% 0;
    }
}