body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    cursor:default;
}
#titleinQA{
    width: 20%;
}
#sercvicecurveLine{
    background-position-x: 95%;
    background-position-y: 75%;
    background-size: 55%;
}
@media screen and (max-width:425px) {
    #titleinQA{
        width: 100%;
    }
    #parainQA{
        margin: 0 0 -15% 0;
    }
}
@media screen and (max-width:375px) {
    #titleinQA{
        width: 100%;
    }
    #parainQA{
        margin: 0 0 -10% 0;
    }
}