.lifeAtvenzo{
    padding: 5% 10%;

}
.lifeAtvenzo #lifeAtvenzotitle{
    font-size: 55px;
    font-family: poppins;
    font-weight: 600;
    color: #0A1020;
    padding: 0 0 0 5%;
    border-left:5px solid #EC3939;


}
.lifeAtvenzo #lifeAtvenzoText{
    color: #929292;
    font-size: 18px;
    font-family: poppins;
    font-weight: 400;
    line-height: 31.5px;
    width:80%

}
.youtubeVideo{
    display: inline-flex;
    padding: 1% 3%;
    width: 100%;
} 
.youtubeVideo .link1{
    width:50%
}
.youtubeVideo .link2{
    width:50%
}
@media screen and (max-width:1025px) and (min-width:768px) {
.lifeAtvenzo #lifeAtvenzoText{
    width: 100%;
}
}
@media screen and (max-width:431px) {
    .lifeAtvenzo{
        padding: 5% 10%;
    
    }
.lifeAtvenzo #lifeAtvenzotitle{
    font-size: 32px;
    font-weight:600;
    border-left:3px solid #EC3939;
}
.lifeAtvenzo #lifeAtvenzoText{
    font-size: 14px;
    font-weight:400;
    width:100%;
}
}