.lifeAtvenzo{
    padding: 5% 10%;

}
.lifeAtvenzo #lifeAtvenzotitle{
    font-size: 55px;
    font-family: poppins;
    font-weight: 600;
    color: #0A1020;
    padding: 0 0 0 5%;
    border-left:5px solid #EC3939;


}
.lifeAtvenzo #lifeAtvenzoText{
    color: #929292;
    font-size: 18px;
    font-family: poppins;
    font-weight: 400;
    line-height: 31.5px;
    width:80%

}