@font-face {
    font-family:'poppins-semibold';
    src: url('../../../Poppins/Poppins-SemiBold.ttf');
}
@font-face {
    font-family:'poppins-thin';
    src: url('../../../Poppins/Poppins-Thin.ttf');
}
@font-face {
    font-family: 'poppins-black';
    src: url('../../../Poppins/Poppins-Black.ttf');
}
@font-face {
    font-family: 'poppins-medium';
    src: url('../../../Poppins/Poppins-Medium.ttf');
}
body{
    padding:0;
    margin: 0;
}
.prototypes{
    background-color: whitesmoke;
    padding: 4% 10%;
    display: inline-flex;
    width: 100vw;
}
.prototypes h1{
    font-family:poppins-semibold;
    font-size: 50px;
}
.prototypes #days{
    background: linear-gradient(272.33deg, #AD00FF 21.7%, #FF7A00 103.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.prototypes .design{
        height: 1%;
        padding: 0.5% 0;
        width: 13vw;
        color: white;
        background-color: #000000;
        border-radius: 10px 10px 10px 10px;
        font-size: 18px;
        margin: 1.5% 0 0 40%;
}
.prototypes .design:hover{
    color: #FFFFFF;
    background-color: transparent;
    background-image: linear-gradient(90deg, #E25C37 0%, #951B98 100%);
    }
@media screen and (max-width:1440px) and (min-width:1030px) {
    
    .prototypes{
        background-color: whitesmoke;
        padding: 4% 10%;
        display: inline-flex;
        width: 100vw;
    }
    .prototypes h1{
        font-family:poppins-semibold;
        font-size: 40px;
    }
    .prototypes #days{
        background: linear-gradient(272.33deg, #AD00FF 21.7%, #FF7A00 103.44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    .prototypes .design{
            height: 1%;
            padding: 0.5% 0;
            width: 13vw;
            color: white;
            background-color: #000000;
            border-radius: 10px 10px 10px 10px;
            font-size: 18px;
            margin: 1.5% 0 0 40%;
    }
    .prototypes .design:hover{
        color: #FFFFFF;
        background-color: transparent;
        background-image: linear-gradient(90deg, #E25C37 0%, #951B98 100%);
        }
    
}
@media screen and (max-width:1024px) and (min-width:771px) {
    .prototypes h1{
        font-family:poppins-semibold;
        font-size: 40px;
    }
    .prototypes .design{
        margin: 5% 0 0 5%;
        width: 30%;
    }
}
@media screen and (max-width:770px) and (min-width:501px) {
    .prototypes h1{
        font-size: 20px !important;
    }
    .prototypes{
        display: block;
    }
    .prototypes .design{
        margin: 5% 0 0 0%;
        width: 30%;
    }
}
@media screen and (max-width:500px) and (min-width:426px) {
    .prototypes h1{
        font-size: 20px !important;
    }
    .prototypes{
        display: block;
    }
    .prototypes .design{
        margin: 5% 0 5% 0%;
        width: 50%;
        padding: 1%;
    }
}
@media screen and (max-width:425px) and (min-width:376px) {
    .prototypes h1{
        font-size: 20px !important;
    }
    .prototypes{
        display: block;
    }
    .prototypes .design{
        margin: 5% 0 5% 0%;
        width: 60%;
        padding: 1%;
    }
}
@media screen and (max-width:375px) {
    .prototypes{
        display: block;
    }
    .prototypes h1{
        font-size: 24px;
        width: 100%;
        margin:10% 0 0 -1.5%;
     }
     .prototypes .design{
         width: 60%;
         margin: 5% 0 5% -2%;
         padding: 1%;
     }
}