.stafBody #headerSection{
    z-index: 1 !important;
}

.hireDevelopers{
    width: 100%;
    height: 485px;
    background: #0A1020;
    padding: 5% 10%;
    width: 100%;
    display: inline-flex;
}
.leftHire{
    display: block;
    width: 50%;
    margin-top: 2%;
}
.rightHire{
    width: 50%;
    display: block;
    margin:-2% 0 0 20%;
}
.rightHire img{
    display: block;
    margin: 6% 0 0 0;
}
.leftHire #lefthireTitle{
    font-family: Poppins;
    font-size: 34px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: -0.025em;
    text-align: left;
    color: #FFFFFF;
    width: 363px;
}
.leftHire #lefthireText{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.04em;
    text-align: left;
    width: 475px;
    color: #929292;
    margin: 5% 0 0 0;
}
#imageText{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.025em;
    text-align: left;
    color: #757575;
    margin: -6% 0 3% 12%;
}
#imageText:hover{
    color: #FFFFFF;
}
@media screen and (max-width:1440px) and (min-width:1024px) {
    .hireDevelopers{
        padding: 4% 10%;
    }
    .rightHire {
        margin: 0% 0 0 20%;
    }
    
}
@media screen and (max-width:1025px) and (min-width:775px) {
    .hireDevelopers{
        padding: 7% 8%;
    }
    .rightHire{
        margin: 2% 0 0 10%;

    }
    #imageText{
    margin: -9% 0 0 15%;
    }
    #imageText1{
    margin: -7% 0 0 15%;
    }
    
}
@media screen and (max-width:768px) and (min-width:431px){
    .hireDevelopers {
        display: block;
        height: 665px;
        padding: 5% 5%;
        width: 100%;
    }
    .leftHire{
        width: 100%;
    }
    .leftHire #lefthireTitle{
      width: 100%;
    }
    .leftHire #lefthireText{
        width: 100%;
    }
    .rightHire{
        margin: 10% 0 0 20%;
    }
    #imageText{
      margin: -9% 0 0 15%;
    }
    #imageText1{
      margin: -7% 0 0 15%;
    }
}
@media screen and (max-width:430px) {
    .hireDevelopers{
        display: block;
        height: 725px;
        padding: 10% 5% 10% 7%;
        width:100%;
    }
    .leftHire{
        width: 100%;
    }
    .rightHire{
        width:100%;
    }
    .leftHire #lefthireTitle{
      width: 100%;
    }
    .leftHire #lefthireText{
        width: 100%;
    }
    .rightHire{
        margin: 10% 0 0 6%;
    }
    #imageText{
      margin: -8% 0 0 10%;
    }
    #imageText1{
      margin: -7% 0 0 15%;
    }
}
@media screen and (max-width:375px) {
    .rightHire{
        margin: 10% 0 0 5%;

    }
    .leftHire #lefthireTitle {
        font-family: Poppins;
        font-size: 31px;
    }
}