.jobDetails{
    
    background-repeat:no-repeat;
}
.careers2bg{
    display: block;
    width:100%;
    height:50vh;
}
.careers2bgRes{
    display: none;
}

.jobDetails #jobDetailsText{
    font-family: Poppins;
    font-size: 55px;
    font-weight: 600;
    text-align: center;
    color: white;
    position: absolute;
    top: 30%;
    left: 40%;

}

@media screen and (max-width:1705px) and (min-width:1024px) {
.careers2bg {
    display: block;
    width: 100%;
    height: 63vh;
}
.applyJob .job {
    margin: 5% 0 0 0;
    padding: 1% 3%;
    width: 100%;
}
}

@media screen and (max-width:1204px) and (min-width:768px){

}


@media screen and (max-width:768px) and (min-width:431px) {
.jobDetails #jobDetailsText{
    position: absolute;
    top: 20%;
    left: 30%;
}
}
@media screen and (max-width:430px) {
    
    .jobDetails{
        background-repeat:no-repeat;
    }
    .careers2bgRes{
        display: block;
        height: 310px;
        width: 513px;
        
    }
    .careers2bg{
        display: none;
    }
.jobDetails #jobDetailsText{
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: -0.04em;
    text-align: center;
    top: 184px;
    left: 130px;

}
.applyJob .job {
    margin: 4% 0 0 0;
    padding: 1% 3%;
    width: 100%;
}
#SkillPara{
    margin-top: 4%;
    margin-left: 5%;
}
.applyNowButton1 {
    height: 5% !important;
    padding: -0.5% 0;
    width: 345px !important;
}
.applyJob .descripition {
    height: 631px !important;
}
.enquiryinDiscussion .Fname {
    width: 96% !important;
}
.enquiryinDiscussion .Femail{
    width: 96% !important;
}
.discussion {
    display: block;
    height: auto !important;
}
.enquiryinDiscussion {
    height: 520px !important;
}
}
@media screen and (max-width:380px) {
.jobDetails #jobDetailsText{
    left: 110px;

}
    .applyNowButton1 {
        height: 5% !important;
        padding: -0.5% 0;
        width: 301px !important;
    }
    .enquiryinDiscussion {
        height: 440px !important;
    }
}