@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* .alice-carousel__dots{
    display: none;
} */
#blockchainweb, #dataEngineeringweb, #productDevelopmentweb{
    display: block;
    width: 100vw;
    height: 90vh;
    position: relative;
}
.alice-carousel__prev-btn,.alice-carousel__next-btn{
    display: none !important;
}
.alice-carousel__wrapper {
    height: 100vh;
}
.homeBanner{
    background: url('../../images/allpageabanner/home/home_1x.webp');
    background-size: 100% 100%;
    height: 100vh;
    background-repeat: no-repeat;
    padding: 10% 15%;
    position: relative;
    display: block;
}
.homeBannerRes{
    display: none;
}
.homeBold{
  background-color: #FFFFFF;
   border-radius: 8px;
   color: #715dad;
   padding: 0 2%;
}
#homeText{
    font-family: Poppins;
    font-size: 65px;
    font-weight: 400;
    line-height: 110px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #FFFFFF;
    width: 65%;
    margin: 8% 0 0 0 ;
}
 
#homeText1{
    font-family: Poppins;
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: #9087AB;
    
}
.item1 {
    text-align: left;
    padding: 0% 7%;
    position: absolute;
    top:280px;
    width: 70%;
    }
    
.item2{
    text-align: left;
    padding: 0% 7%;
    position: absolute;
    width: 70%;
    top:280px;
}
    
.item3 {
    text-align: left;
    padding: 2% 7%;
    position: absolute;
    top:280px;
    width: 100%;
}
#blockchain{
    font-family: Poppins;
    font-size: 60px;
    font-weight: 600;
    line-height: 66px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #FFFFFF;
}
.blockchainBl, .dataEngineeringBl, .productDevelopmentBl{
    display: none;
}
#dataEngineering{
    font-family: Poppins;
    font-size: 60px;
    font-weight: 600;
    line-height: 66px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #0E276A;
}
#productDevelopment{
    font-family: Poppins;
    font-size: 60px;
    font-weight: 600;
    line-height: 66px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #FFFFFF;
}
#knowMore{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    padding-top: 1%;
    padding-bottom: 7%;
    cursor: pointer;
}
#knowMore1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #0E276A;
    padding-top: 1%;
    padding-bottom: 7%;
    cursor: pointer;

}

#blockchainDev{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #F4F4FF;
}
#dataEnggDev{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #0E276A;
}
#productDev{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #F4F4FF;
}


.socialMediaIcon{
    position: fixed;
    top:75%;
    right: 2%;
    display: grid;
    height: 200px;
}
.socialMediaIcon img{
    margin:0 0 50% 0;
}
@media screen and (max-width:1705px) and (min-width:1024px) {


    .homeBanner{
        background: url('../../images/banner/homebanner.png');
        background-size: 100% 100%;
        height: 100vh;
        background-repeat: no-repeat;
        padding: 10% 15%;
        position: relative;
    }
    .homeBannerRes{
        display: none;
    }
    .homeBold{
      background-color: #FFFFFF;
       border-radius: 8px;
       color: #715dad;
       padding: 0 2%;
    }
    #homeText{
        font-family: Poppins;
        font-size: 57px;
        font-weight: 400;
        line-height: 100px;
        letter-spacing: -0.04em;
        text-align: left;
        color: #FFFFFF;
        width: 80%;
        margin: 5% 0 0 0;
    }
    
    #homeText1{
        font-family: Poppins;
        font-size: 25px;
        font-weight: 400;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
        color: #9087AB;
        margin:2% 0 0 0;
    }


    #blockchainweb, #dataEngineeringweb, #productDevelopmentweb{
        height: 93vh;
    }
    .item1 {
        top:180px;
        }
        .item2{
            top:180px;
        }
        .item3{
            top:180px;
        }
    #dataEngineering{
        font-family: Poppins;
        font-size: 60px;
        font-weight: 500;
        line-height: 66px;
        letter-spacing: -0.04em;
        text-align: left;
        color: #0E276A;
    }
    #productDevelopment{
        font-family: Poppins;
        font-size: 60px;
        font-weight: 500;
        line-height: 66px;
        letter-spacing: -0.04em;
        text-align: left;
        color: #FFFFFF;
    }
    #blockchain{
        font-family: Poppins;
        font-size: 60px;
        font-weight: 500;
        line-height: 66px;
        letter-spacing: -0.04em;
        text-align: left;
        color: #FFFFFF;
    }
    #knowMore{
        font-family: Poppins;
        font-size: 14px;
        font-weight: 500;
        line-height: 66px;
        letter-spacing: -0.04em;
        text-align: left;
        color: #FFFFFF;
        cursor: pointer;

    }
    #knowMore1{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #0E276A;
        padding-top: 1%;
        padding-bottom: 7%;
        cursor: pointer;
    
    }
    
    #blockchainDev{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        color: #F4F4FF;
    }
    #dataEnggDev{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        color: #0E276A;
    }
    #productDev{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        color: #F4F4FF;
    }
    .socialMediaIcon{
        top:75%;
        right: 2%;
    }
    
  
}

@media screen and (max-width:1024px) and (min-width:768px) {

    .homeBanner{
        background: url('../../images/banner/homebanner.png');
        background-size: 100% 100%;
        height: 100vh;
        background-repeat: no-repeat;
        padding: 15% 18%;
        position: relative;
    }
    .homeBannerRes{
        display: none;
    }
    .homeBold{
      background-color: #FFFFFF;
       border-radius: 8px;
       color: #715dad;
       padding: 0 2%;
    }
    #homeText{
        font-family: Poppins;
        font-size: 40px;
        font-weight: 400;
        line-height: 75px;
        letter-spacing: -0.04em;
        text-align: left;
        color: #FFFFFF;
        width: 80%;
        word-spacing: 10px;
        margin: 24% 0 0 0;
    }
    .scrollItems{
        position: absolute;
        bottom: 50px;
        left: 450px;
    }
    .scrollExplore{
        margin: 5% 0 0 40%;
        cursor: pointer;
    }
    #scrollText{
        font-family: Poppins;
        font-size: 15px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
    } 
    #homeText1{
        font-family: Poppins;
        font-size: 18px;
        font-weight: 400;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
        color: #9087AB;
        
    }

    #blockchainweb, #dataEngineeringweb, #productDevelopmentweb {
        height: 93vh;
    }
    .item1 {
        padding: 2% 5%;
        position: absolute;
        top:130px;
        width: 60%;
        }
        
    .item2{
        padding: 2% 5%;
        position: absolute;
        top:130px;
        width: 60%;

    }
        
    .item3 {
        padding: 2% 5%;
        position: absolute;
        top:130px;
        width: 60%;
    }
    #blockchain{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 45px;
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }
    .blockchainBl, .dataEngineeringBl, .productDevelopmentBl{
        display: none;
    }
    #dataEngineering{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 45px;
        letter-spacing: -0.04em;
        color: #0E276A;
    }
    #productDevelopment{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 45px;
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }
    #knowMore{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #FFFFFF;
        padding-top: 1%;
        padding-bottom: 7%;
    }
    #knowMore1{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #0E276A;
        padding-top: 1%;
        padding-bottom: 7%;
    
    }
    #blockchainDev{
        padding-top: 3%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        color: #F4F4FF;
    }
    #dataEnggDev{
        padding-top: 3%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        color: #0E276A;
    }
    #dataEnggDev br{
        display: none;    
    }
    #productDev{
        padding-top: 3%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        color: #F4F4FF;
    }
    
    
    
}


@media screen  and (max-width:768px) and (min-width:501px) {

    .homeBanner{
        background: url('../../images/banner/homebanner.png');
        background-size: 100% 100%;
        height: 100vh;
        background-repeat: no-repeat;
        padding: 15% 15%;
        position: relative;
    }
    .homeBannerRes{
        display: none;
    }
    .homeBold{
      background-color: #FFFFFF;
       border-radius: 8px;
       color: #715dad;
       padding: 0 2%;
    }
    #homeText{
        font-family: Poppins;
        font-size: 40px;
        font-weight: 400;
        line-height: 75px;
        letter-spacing: -0.04em;
        text-align: left;
        color: #FFFFFF;
        width: 100%;
        margin: 28% 0 0 0;
    }
    .scrollItems{
        position: absolute;
        bottom: 50px;
        left: 330px;
    }
    .scrollExplore{
        margin: 5% 0 0 40%;
        cursor: pointer;
    }
    #scrollText{
        font-family: Poppins;
        font-size: 15px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
    } 
    #homeText1{
        font-family: Poppins;
        font-size: 18px;
        font-weight: 400;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
        color: #9087AB;
        
    }


    .blockchainBl, .dataEngineeringBl, .productDevelopmentBl{
        display: block;
        width: 100vw;
        height: 100vh;
    }
    #blockchainweb, #dataEngineeringweb, #productDevelopmentweb{
        display: none !important;
    }
    #brtag{
        display: none;
    }
    .item1 {
         padding: 2% 3%;
         position: absolute;
         top: 150px;
        width: 100%;

        }
        
    .item2{
        padding: 2% 7%;
        position: absolute;
        top: 150px;
        width: 100%;
    }
        
    .item3 {
        padding: 2% 7%;
        position: absolute;
        top: 150px;
        width: 100%;

    }
    #blockchain{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 42px;
        line-height: 55px;
        letter-spacing: -0.04em;
        color: #FFFFFF;
        width: 100%;
        text-align: center;
        margin: 0 0 0 0%;
    }

    #dataEngineering{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 42px;
        line-height: 55px;
        letter-spacing: -0.04em;
        color: #0E276A;
        text-align: center;
    }
    #productDevelopment{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 42px;
        line-height: 55px;
        letter-spacing: -0.04em;
        color: #FFFFFF;
        text-align: center;
    }
    #knowMore{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #FFFFFF;
        text-align: center;
    cursor: pointer;


    }
    #knowMore1{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #0E276A;
        text-align: center;
    cursor: pointer;

    }
    #blockchainDev{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #F4F4FF;
        text-align: center;

    }
    #dataEnggDev{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #0E276A;
        text-align: center;

    }
    #productDev{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #F4F4FF;
        text-align: center;

    }
.socialMediaIcon img{
    display: none
}
}

@media screen  and (max-width:500px) and (min-width:430px) {
    .scrollItems{
        bottom: 165px;
        left: 140px;
        position: absolute;
    }
    .homeBanner{
        display: none;
    }
    .homeBannerRes{
        display: block;
        background: url('../../images/banner/homebannerres.png');
        height: 100vh;
        background-repeat: no-repeat;
        padding:15% 5%;
        position: relative;
    }
    .homeBold{
        background-color: #FFFFFF;
         border-radius: 8px;
         color: #715dad;
         padding: 0 2%;
      }
      #homeText{
        font-family: Poppins;
        font-size: 30px;
        font-weight: 400;
        line-height: 60px;
        letter-spacing: -0.04em;
        text-align: left;
        color: #FFFFFF;
        width: 100%;
        margin: 22% 0 0 0;
      }
     
      .scrollExplore{
          margin: 5% 0 0 40%;
          cursor: pointer;
      }
      #scrollText{
          font-family: Poppins;
          font-size: 15px;
          font-weight: 500;
          line-height: 17px;
          letter-spacing: 0em;
          text-align: left;
          color: #FFFFFF;
      } 
      #homeText1{
          font-family: Poppins;
          font-size: 25px;
          font-weight: 400;
          line-height: 38px;
          letter-spacing: 0em;
          text-align: left;
          color: #9087AB;
          
      }
    .alice-carousel__wrapper {
        height: 80vh !important;
    }
    .blockchainBl, .dataEngineeringBl, .productDevelopmentBl{
        display: block;
        width: 100vw;
    }
    #blockchainweb, #dataEngineeringweb, #productDevelopmentweb{
        display: none !important;
    }
    .item1 {
        padding: 2% 7%;
        position: absolute;
        top: 150px;
        }
        
    .item2{
        padding: 2% 7%;
        position: absolute;
        top: 150px;
    }
        
    .item3 {
        padding: 2% 7%;
        position: absolute;
        top: 150px;
    }
    #blockchain{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 42px;
        line-height:27px;
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }

    #dataEngineering{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 42px;
        line-height:27px;
        letter-spacing: -0.04em;
        color: #0E276A;
    }
    #productDevelopment{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 42px;
        line-height: 27px;
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }
    #knowMore{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #FFFFFF;
        padding-top: 1%;
        padding-bottom: 40%;
        cursor: pointer;

    }
    #knowMore1{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #0E276A;
        padding-top: 1%;
        padding-bottom: 40%;
        cursor: pointer;
    
    }
    #blockchainDev{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #F4F4FF;
    }
    #dataEnggDev{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #0E276A;
    }
    #productDev{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #F4F4FF;
    }
.socialMediaIcon img{
    display: none
}
}


@media screen and (max-width:430px) and (min-width:375px) {
    .homeBanner{
        display: none;
    }
    .homeBannerRes{
        display: block;
        background: url('../../images/banner/homebannerres.png');
        height: 100vh;
        background-repeat: no-repeat;
        padding:15% 5%;
        position: relative;
    }
    .homeBold{
        background-color: #FFFFFF;
         border-radius: 8px;
         color: #715dad;
         padding: 0 2%;
      }
      #homeText{
        font-family: Poppins;
        font-size: 42px;
        font-weight: 400;
        line-height: 65px;
        letter-spacing: -0.04em;
        text-align: left;
        color: #FFFFFF;
        width: 100%;
        margin: 40% 0 0 0;
      }
      .scrollItems{
          position: absolute;
          bottom: 45px;
          left: 148px;
      }
      .scrollExplore{
          margin: 5% 0 0 40%;
          cursor: pointer;
      }
      #scrollText{
          font-family: Poppins;
          font-size: 15px;
          font-weight: 500;
          line-height: 17px;
          letter-spacing: 0em;
          text-align: left;
          color: #FFFFFF;
      } 
      #homeText1{
          font-family: Poppins;
          font-size: 20px;
          font-weight: 400;
          line-height: 38px;
          letter-spacing: 0em;
          text-align: left;
          color: #9087AB;
          
      }
    .blockchainBl, .dataEngineeringBl, .productDevelopmentBl{
        display: block;
        width: 100vw;

    }

    #blockchainweb, #dataEngineeringweb, #productDevelopmentweb{
        display: none !important;
    }
.alice-carousel__wrapper {
    height: 100vh !important;
}
    .item1 {
        padding: 2% 7%;
        position: absolute;
        top: 150px;
        width: 100%;
        }
        
    .item2{
        padding: 2% 7%;
        position: absolute;
        top: 150px;
        width: 100%;

    }
        
    .item3 {
        padding: 2% 7%;
        position: absolute;
        top: 150px;
    }
    #blockchain{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 40px;
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }

    #dataEngineering{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 40px;
        letter-spacing: -0.04em;
        color: #0E276A;
    }
    #productDevelopment{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 40px;
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }
    #knowMore{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #FFFFFF;
        padding-top: 1%;
        padding-bottom: 40%;
    }
    #knowMore1{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #0E276A;
        padding-top: 1%;
        padding-bottom: 40%;
        cursor: pointer;
    
    }
    #blockchainDev{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #F4F4FF;
    }
    #dataEnggDev{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #0E276A;
    }
    #productDev{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #F4F4FF;
    }
.socialMediaIcon img{
    display: none
}
}


@media screen and (max-width:375px) {
    .homeBanner{
        display: none;
    }
    .homeBannerRes{
        display: block;
        background: url('../../images/banner/homebannerres.png');
        height: 100vh;
        background-repeat: no-repeat;
        padding:15% 5%;
        position: relative;
    }
    .homeBold{
        background-color: #FFFFFF;
         border-radius: 8px;
         color: #715dad;
         padding: 0 2%;
      }
      #homeText{
        font-family: Poppins;
        font-size: 30px;
        font-weight: 400;
        line-height: 50px;
        letter-spacing: -0.04em;
        text-align: left;
        color: #FFFFFF;
        width: 100%;
        margin: 50% 0 0 0
      }
      .scrollItems{
          position: absolute;
          bottom: 50px;
          left: 125px;
      }
      .scrollExplore{
          margin: 5% 0 0 40%;
          cursor: pointer;
      }
      #scrollText{
          font-family: Poppins;
          font-size: 15px;
          font-weight: 500;
          line-height: 17px;
          letter-spacing: 0em;
          text-align: left;
          color: #FFFFFF;
      } 
      #homeText1{
          font-family: Poppins;
          font-size: 14px;
          font-weight: 400;
          line-height: 38px;
          letter-spacing: 0em;
          text-align: left;
          color: #9087AB;
          
      }
    .blockchainBl, .dataEngineeringBl, .productDevelopmentBl{
        display: block;
        width: 100vw;
    }
    .alice-carousel__wrapper {
        height: 100vh !important;
    }
    #blockchainweb, #dataEngineeringweb, #productDevelopmentweb{
        display: none !important;
    }
    .item1 {
        padding: 2% 7%;
        position: absolute;
        top: 150px;
        width: 100%;
        }
    #brtag{
        display: none;
      }  
    .item2{
        padding: 2% 7%;
        position: absolute;
        top: 150px;
        width: 100%;
    }
        
    .item3 {
        padding: 2% 7%;
        position: absolute;
        top: 150px;
    }
    #blockchain{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height:40px;
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }

    #dataEngineering{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 40px;
        letter-spacing: -0.04em;
        color: #0E276A;
    }
    #productDevelopment{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 40px;
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }
    #knowMore{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #FFFFFF;
        padding-top: 1%;
        padding-bottom: 40%;
    }
    #knowMore1{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #0E276A;
        padding-top: 1%;
        padding-bottom: 40%;
        cursor: pointer;
    
    }
    #blockchainDev{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #F4F4FF;
    }
    #dataEnggDev{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #0E276A;
    }
    #productDev{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #F4F4FF;
    }
.socialMediaIcon img{
    display: none
}
}