@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.alice-carousel__dots{
    display: none;
}
#blockchainweb, #dataEngineeringweb, #productDevelopmentweb{
    display: block;
    width: 100vw;
    height: 100vh;
}
.alice-carousel__prev-btn,.alice-carousel__next-btn{
    display: none !important;
}
.alice-carousel__wrapper {
    height: 100vh;
}
.item1 {
    text-align: left;
    margin-top: -40%;
    margin-left: 13%;
    }
    
.item2{

    text-align: left;
    margin-top: -40%;
    margin-left: 13%;
}
    
.item3 {
    text-align: left;
    margin-top: -40%;
    margin-left: 13%;
}
#blockchain{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}
.blockchainBl, .dataEngineeringBl, .productDevelopmentBl{
    display: none;
}
#dataEngineering{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #0E276A;
}
#productDevelopment{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    font-weight: 800;
}
#knowMore{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    color: #FFFFFF;
    padding-top: 1%;
    padding-bottom: 7%;
}
#knowMore1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    color: #0E276A;
    padding-top: 1%;
    padding-bottom: 7%;

}
#blockchainDev{
    padding-top: 3%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #F4F4FF;
}
#dataEnggDev{
    padding-top: 3%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #0E276A;
}
#productDev{
    padding-top: 3%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #F4F4FF;
}
.whiteArrow {
    width:20px;
}
.blackArrow1{
    width:30px;
    height:50px;
}

.socialMediaIcon{
    position: fixed;
    top:34%;
    right: 2%;
    z-index: 1;
}
.socialMediaIcon img{
    display: block;
    margin:0 0 60% 0;
}

@media screen and (max-width:1024px) and (min-width:775px) {
    .item1 {
        text-align: left;
        margin-top: -50%;
        margin-left: 13%;
        padding-bottom: 10%;
        }
        
    .item2{
    
        text-align: left;
        margin-top: -50%;
        margin-left: 13%;
        padding-bottom: 10%;

    }
        
    .item3 {
        text-align: left;
        margin-top: -50%;
        margin-left: 13%;
        padding-bottom: 10%;

    }
    #blockchain{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 120%;
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }
    .blockchainBl, .dataEngineeringBl, .productDevelopmentBl{
        display: none;
    }
    #dataEngineering{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 120%;
        letter-spacing: -0.04em;
        color: #0E276A;
    }
    #productDevelopment{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 120%;
        letter-spacing: -0.04em;
        color: #FFFFFF;
        font-weight: 800;
    }
    #knowMore{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        color: #FFFFFF;
        padding-top: 1%;
        padding-bottom: 7%;
    }
    #knowMore1{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        color: #0E276A;
        padding-top: 1%;
        padding-bottom: 7%;
    
    }
    #blockchainDev{
        padding-top: 3%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        color: #F4F4FF;
    }
    #dataEnggDev{
        padding-top: 3%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        color: #0E276A;
    }
    #productDev{
        padding-top: 3%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        color: #F4F4FF;
    }
    .whiteArrow {
        width:20px;
    }
    .blackArrow1{
        width:30px;
        height:50px;
    }
    
    .socialMediaIcon{
        position: fixed;
        top:34%;
        right: 2%;
        z-index: 1;
    }
    .socialMediaIcon img{
        display: block;
        margin:0 0 60% 0;
    }
}


@media screen  and (max-width:770px) and (min-width:501px) {

    .blockchainBl, .dataEngineeringBl, .productDevelopmentBl{
        display: block;
        width: 100vw;
    }
    #blockchainweb, #dataEngineeringweb, #productDevelopmentweb{
        display: none !important;
    }
    .item1 {
        text-align: left;
        margin-top: -150%;
        margin-left: 11%;
        padding-bottom: 50%;
        }
        
    .item2{
        padding-bottom: 50%;
        text-align: left;
        margin-top: -150%;
        margin-left: 11%;
    }
        
    .item3 {
        padding-bottom: 50%;
        text-align: left;
        margin-top: -150%;
        margin-left: 11%;
    }
    #blockchain{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 42px;
        line-height: 120%;
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }

    #dataEngineering{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 42px;
        line-height: 120%;
        letter-spacing: -0.04em;
        color: #0E276A;
    }
    #productDevelopment{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 42px;
        line-height: 120%;
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }
    #knowMore{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        color: #FFFFFF;
        padding-top: 1%;
        padding-bottom: 12%;
    }
    #knowMore1{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        color: #0E276A;
        padding-top: 1%;
        padding-bottom: 12%;
    
    }
    #blockchainDev{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #F4F4FF;
    }
    #dataEnggDev{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #0E276A;
    }
    #productDev{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #F4F4FF;
    }
.socialMediaIcon img{
    display: none
}
}

@media screen  and (max-width:500px) and (min-width:426px) {
    .alice-carousel__wrapper {
        height: 80vh !important;
    }
    .blockchainBl, .dataEngineeringBl, .productDevelopmentBl{
        display: block;
        width: 100vw;
    }
    #blockchainweb, #dataEngineeringweb, #productDevelopmentweb{
        display: none !important;
    }
    .item1 {
        text-align: left;
        margin-top: -140%;
        margin-left: 11%;
        padding-bottom: 50%;
        }
        
    .item2{
        padding-bottom: 50%;
        text-align: left;
        margin-top: -140%;
        margin-left: 11%;
    }
        
    .item3 {
        padding-bottom: 50%;
        text-align: left;
        margin-top: -140%;
        margin-left: 11%;
    }
    #blockchain{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 42px;
        line-height: 120%;
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }

    #dataEngineering{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 42px;
        line-height: 120%;
        letter-spacing: -0.04em;
        color: #0E276A;
    }
    #productDevelopment{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 42px;
        line-height: 120%;
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }
    #knowMore{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        color: #FFFFFF;
        padding-top: 1%;
        padding-bottom: 40%;
    }
    #knowMore1{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        color: #0E276A;
        padding-top: 1%;
        padding-bottom: 40%;
    
    }
    #blockchainDev{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #F4F4FF;
    }
    #dataEnggDev{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #0E276A;
    }
    #productDev{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #F4F4FF;
    }
.socialMediaIcon img{
    display: none
}
}


@media screen and (max-width:425px) and (min-width:376px) {
    .blockchainBl, .dataEngineeringBl, .productDevelopmentBl{
        display: block;
        width: 100vw;

    }

    #blockchainweb, #dataEngineeringweb, #productDevelopmentweb{
        display: none !important;
    }
.alice-carousel__wrapper {
    height: 100vh !important;
}
    .item1 {
        text-align: left;
        margin-top: -150%;
        margin-left: 11%;
        }
        
    .item2{
        text-align: left;
        margin-top: -150%;
        margin-left: 11%;
    }
        
    .item3 {
        text-align: left;
        margin-top: -150%;
        margin-left: 11%;
    }
    #blockchain{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 120%;
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }

    #dataEngineering{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 120%;
        letter-spacing: -0.04em;
        color: #0E276A;
    }
    #productDevelopment{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 120%;
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }
    #knowMore{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        color: #FFFFFF;
        padding-top: 1%;
        padding-bottom: 40%;
    }
    #knowMore1{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        color: #0E276A;
        padding-top: 1%;
        padding-bottom: 40%;
    
    }
    #blockchainDev{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #F4F4FF;
    }
    #dataEnggDev{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #0E276A;
    }
    #productDev{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #F4F4FF;
    }
.socialMediaIcon img{
    display: none
}
}


@media screen and (max-width:375px) {
    .blockchainBl, .dataEngineeringBl, .productDevelopmentBl{
        display: block;
        width: 100vw;
    }
    .alice-carousel__wrapper {
        height: 100vh !important;
    }
    #blockchainweb, #dataEngineeringweb, #productDevelopmentweb{
        display: none !important;
    }
    .item1 {
        text-align: left;
        margin-top: -150%;
        margin-left: 11%;
        padding-bottom: 70%;
        }
        
    .item2{
        padding-bottom: 70%;
        text-align: left;
        margin-top: -150%;
        margin-left: 11%;
    }
        
    .item3 {
        padding-bottom: 70%;
        text-align: left;
        margin-top: -150%;
        margin-left: 11%;
    }
    #blockchain{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 120%;
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }

    #dataEngineering{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 120%;
        letter-spacing: -0.04em;
        color: #0E276A;
    }
    #productDevelopment{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 120%;
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }
    #knowMore{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        color: #FFFFFF;
        padding-top: 1%;
        padding-bottom: 40%;
    }
    #knowMore1{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        color: #0E276A;
        padding-top: 1%;
        padding-bottom: 40%;
    
    }
    #blockchainDev{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #F4F4FF;
    }
    #dataEnggDev{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #0E276A;
    }
    #productDev{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #F4F4FF;
    }
.socialMediaIcon img{
    display: none
}
}