.perks{
    background-color: #0A1020;;
    width: 100%;
    height: 421px;
    padding: 5% 5%;
    display: flex;
    width: 100%;
}
.perks .perksLeftsection{
    width: 50%;
}
.perks .perksLeftsection #perksLeftTitle{
    font-family: poppins;
    font-size: 55px;
    font-weight: 600;
    color:#FFFFFF;
}
.perks .perksLeftsection #perksLeftText{
    color: #AEB4C3;
    font-family: poppins;
    font-size:16px;
    font-weight: 500;
    line-height: 24px;
    width:52%;
}
.perks .perksRightsection{
    display: flex;
    width: 50%;
    margin: 2% 0 0 0;
}
.perks .perksRightsection .perksLefticon{
    display: block;
    width: 50%;
}
.perks .perksRightsection .perksLefticon p{
    font-size: 18px;
    font-family: poppins;
    font-weight: 500;
    color: #FFFFFF;
}
.perks .perksRightsection .perksRighticon{
    display: block;
    width: 50%;
}
.perks .perksRightsection .perksLefticon p{
    margin: 0 0 15% 0;
}
.perks .perksRightsection .perksLefticon img{
    margin: -10% 0 0% 0;
}
.perks .perksRightsection .perksRighticon p{
    font-size: 18px;
    font-family: poppins;
    font-weight: 500;
    color: #FFFFFF;
    width: 100%;
}
.perks .perksRightsection .perksRighticon img{
    margin: -10% 0 0% 0;
}
.perks .perksRightsection .perksRighticon p{
    margin: 0 0 16% 0;
}
@media screen and (max-width:1445px)and (min-width:1024px){
.perks .perksRightsection {
    margin: 5% 0 0 0;
}
}
@media screen and (max-width:1025px) and (min-width:768px) {
.perks .perksLeftsection #perksLeftText{
    width:82%;
}
.perks .perksRightsection  p{
    margin: 15% 0 0 0;
}
}
@media screen and (max-width:768px) and (min-width:431px) {
.perks{
    height: 350px;
}
.perks .perksLeftsection #perksLeftTitle{
    font-size:35px;
}
.perks .perksRightsection  {
    margin: 5% 0 0 0;
}

}
@media  screen and (max-width:430px) {
    .perks{
        display: block;
        height: 550px;
        width: 428px;
        padding: 10% 5%;
    }
.perks .perksLeftsection{
    width:100%
}
.perks .perksRightsection{
    width:100%
}
.perks .perksLeftsection #perksLeftTitle{
    font-size: 40px;
    font-weight: 600;
    }
.perks .perksLeftsection #perksLeftText{
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    text-align: justify;
    width:80%
}

.perks .perksRightsection .perksLefticon{
    margin: 5% 0 0 0;
   width:50%

}

.perks .perksRightsection .perksRighticon{
    margin: 5% 0 0 0;

    width:50%

}
}