.perks{
    background-color: #0A1020;;
    width: 100%;
    height: auto;
    padding: 5% 15%;
    display: flex;
    width: 100%;
}
.perks .perksLeftsection{
    width: 50%;
}
.perks .perksLeftsection #perksLeftTitle{
    font-family: poppins;
    font-size: 55px;
    font-weight: 600;
    color:#FFFFFF;
}
.perks .perksLeftsection #perksLeftText{
    color: #AEB4C3;
    font-family: poppins;
    font-size:16px;
    font-weight: 500;
    line-height: 24px;
    width:55%;
}
.perks .perksRightsection{
    display: flex;
    width: 50%;
    margin: 2% 0 0 0;
}
.perks .perksRightsection .perksLefticon{
    display: block;
    width: 50%;
}
.perks .perksRightsection .perksLefticon p{
    font-size: 18px;
    font-family: poppins;
    font-weight: 500;
    color: #FFFFFF;
}
.perks .perksRightsection .perksLefticon #exploreTalents{
    margin-bottom: 25%;
}
.perks .perksRightsection .perksRighticon #careerGrowth{
    margin-bottom: 25%;
}
.perks .perksRightsection .perksRighticon{
    display: block;
    width: 50%;
}
.perks .perksRightsection .perksLefticon p{
    margin: 0 0 15% 0;
}
.perks .perksRightsection .perksLefticon img{
    margin: -10% 0 0% 0;
}
.perks .perksRightsection .perksRighticon p{
    font-size: 18px;
    font-family: poppins;
    font-weight: 500;
    color: #FFFFFF;
    width: 100%;
}
.perks .perksRightsection .perksRighticon img{
    margin: -10% 0 0% 0;
}
.perks .perksRightsection .perksRighticon p{
    margin: 0 0 16% 0;
}


@media screen and (max-width:1705px)and (min-width:1024px){
.perks .perksRightsection {
    margin: 5% 0 0 0;
}
.perks .perksLeftsection {
    width: 50%;
    margin-left: -5%;
}
.perks .perksLeftsection #perksLeftText {
    font-size: 16px;
    width: 431px;
    text-align: justify;
}
.perks .perksRightsection {
    margin-left: 16%;
    padding-left: 0%;
    margin-right: -15%;
}
.perks .perksLeftsection #perksLeftTitle
{
    font-family: poppins;
    font-size: 50px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
}



@media screen and (max-width:1025px) and (min-width:768px) {
    .perks .perksLeftsection #perksLeftText {
        width: 376px;
    }
.perks .perksRightsection  p{
    margin: 15% 0 0 0;
}
.perks .perksLeftsection #perksLeftTitle {
    font-size: 35px;
}
}



@media screen and (max-width:768px) and (min-width:431px) {
.perks{
    height: 350px;
}
.perks .perksLeftsection #perksLeftTitle{
    font-size:24px;
}
.perks .perksLeftsection #perksLeftText {
    font-size: 14px;
    width: 322px;
    text-align: justify;
}
.perks .perksRightsection {
    display: flex;
    width: 100%;
    margin: 6% 0 0 21%;
}
.perks .perksLeftsection {
    width: 50%;
    margin-left: -14%;
}
.perks .perksRightsection .perksLefticon #exploreTalents {
    margin-bottom: 24%;
    width: 300px;
    font-size: 16px !important;
}
.perks .perksRightsection .perksLefticon p {
    font-size: 16px;
}
.perks .perksRightsection .perksRighticon p {
    font-size: 16px;
}
}


@media  screen and (max-width:430px) and (min-width:375px){
    .perks{
        display: block;
        height: 550px;
        width: 428px;
        padding: 10% 5%;
    }
.perks .perksLeftsection{
    width:100%
}
.perks .perksRightsection{
    width:100%;
    margin-top: 14%;
}
.perks .perksLeftsection #perksLeftTitle{
    font-size: 34px;
    font-weight: 600;
    }
.perks .perksLeftsection #perksLeftText{
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    text-align: justify;
    width: 99%;
}

.perks .perksRightsection .perksLefticon{

        margin: 4% 53px 0 0;
        width: 50%;
    }
    .perks .perksRightsection .perksLefticon p {
        font-size: 15px;
    }
    .perks .perksRightsection .perksRighticon p {
        font-size: 15px;
    }

.perks .perksRightsection .perksRighticon{
    margin: 5% 0 0 0;

    width:50%

}
}

@media  screen and (max-width:430px) and (min-width:375px){
    .perks .perksLeftsection #perksLeftText {
        font-size: 14px;
        font-weight: 500;
        line-height: 28px;
        text-align: justify;
        width:98%;
    }
}

@media  screen and  (max-width:375px){
    .perks .perksLeftsection #perksLeftText {
        font-size: 14px;
        font-weight: 500;
        line-height: 28px;
        text-align: justify;
        width:85%;
    }
}