.hiring{
 padding: 5% 5%;
}
.hiring #hiringTitle{
    font-family: Poppins;
    font-size: 38px;
    font-weight: 600;
    line-height: 53px;
    letter-spacing: -0.04em;
    text-align: center;
    color: #000000;
}
#hiringGradient{
    background: -webkit-linear-gradient(60deg, #e66521, #d1368f, #ae01ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hiring #hiringText{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.04em;
    text-align: center;
}
.hiringpositions{
    padding: 5% 0 0 0;
}
.hiringposCard{
    padding: 5% 18%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 11%;
    grid-column-gap: 3%
}
.hiring .hireCards{
    padding: 10% 10%;
    width:316px;
    height: 256px;
    border-radius: 8px;
    background: #FFFFFF;
}
.hireCards #cardTitle{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.025em;
    text-align: left;
    color: #000000;
}
.hireCards #cardText{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.025em;
    text-align: left;
    width: 236px;
    color: #929292;
}
.hireEmployee{
    padding: 0% 5% 5%;
    position: absolute;
}
.backgroundimagesSA{
    position: relative;
    margin: 0 0 2% 0;
    height: 40vh;
}
.bgImgSA1{
    position: absolute;
    right: 0px;
    top: -420px;
}
.bgImgSA2{
    position: absolute;
    left: 0px;
    top: 270px;
}
.choose{
 padding: 5% 8%;
}
.choose #chooseTitle{
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #000000;
}
.choose #chooseText{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    width: 80%;
    color: #000000;
}
#chooseGradienttext{
    background: -webkit-linear-gradient(60deg, #e66521, #d1368f, #ae01ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.whyChoose{
    width:100%;
    padding: 5% 10%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap: 11%;
    grid-column-gap: 3%;
}
.choosingIdeas{
    width: 100%;
    display: block;
    margin: 0 0 0 10%;
}

.choosingIdeas #chooseimageText{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.04em;
    text-align: left;
    width: #000000;
    width: 90%;
    margin: 10% 0 0 0;
}
.hireDemand{
    display: flex;
}
.rightTexthire{
    background: #0A1020;
    height: 378px;
    width: 95%;
    padding: 5% 10%;
    border-radius: 0px 12px 12px 0px;
}
.rightTexthire #rightTitlehire{
    font-family: Poppins;
    font-size: 27px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: -0.025em;
    text-align: left;
    color: #FFFFFF;
    width:90%;

}
.rightTexthire #rightParathire{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #929292;
    width: 80%;
}


@media screen and (max-width:1440px) and (min-width:1030px) {
.hiringposCard{
    padding:5% 10%;
}
}
@media screen and (max-width:1025px) and (min-width:775px) {
    .hiringposCard{
        padding:5% 0%;
        margin: 0 0 0 -2%;
    }
    .venzoSAImage{
         width: 100%;
         height: 100%;
    }
    .rightTexthire{
        padding: 7% 8%;
    }
    .rightTexthire #rightTitlehire{
        width: 100%;
    }
    .rightTexthire #rightParathire{
        width: 100%;
    }
    .whyChoose{
        padding: 5% 0%;

    }
    .choosingIdeas{
        margin: 0 0 0 5%;
        width: 100%;

    }
    
    .choosingIdeas #chooseimageText{
          width: 100%;
    }
}
@media screen and (max-width:768px) and (min-width:431px){
    .hiringposCard{
        padding: 3% 2%;
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 11%;
        grid-column-gap: 3%
    }
    .hiring .hireCards{
        margin: -15% 0 0 0;
    }
    .hireDemand{
        display: block;
    }
    .backgroundimagesSA{
        height: 90vh;
    }
    .bgImgSA1,.bgImgSA2{
        display: none;
    }
    .hireDemand{
        padding:5% 3%;
        width: 100%;
        height: 40vh;
    }
    .backgroundimagesSA{
     margin:0 0 10% 0;
    }
    .venzoSAImage{
        border-radius: 0px 12px 0px 0px;
        width:100%;
    }
    .leftImagehire{
        width: 100%;
    }
    .rightTexthire{
        border-radius: 0px 0px 12px 12px;
        padding: 10% 5%;
        margin: -15px 0 0 0;
        width: 100%;
    }
    .whyChoose{
        width:100%;
        padding: 5% 10%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 11%;
        grid-column-gap: 3%;
    }
    .choosingIdeas{
        margin: 0 0 0 15%;
        width: 100%;
    }
    .choosingIdeas #chooseimageText{
        width:100%
    }
}
@media screen and (max-width:430px){
    .hiring{
        padding: 5% 3%;
    }
.hiring #hiringTitle{
    font-size: 32px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: -0.04em;
    text-align: left;
}
.hiringposCard{
    padding: 3% 5%;
    display: block;
}
.backgroundimagesSA{
    height: 90vh;
}
.bgImgSA1,.bgImgSA2{
    display: none;
}
.hireDemand{
    padding:3% 3%;
    width: 100%;
    height: 40vh;
    display: block;
}
.backgroundimagesSA{
 margin:0 0 -15% 0;
}
.venzoSAImage{
    border-radius: 0px 12px 0px 0px;
    width:100%;
}
.leftImagehire{
    width: 100%;
}
.rightTexthire{
    border-radius: 0px 0px 12px 12px;
    padding: 10% 5%;
    margin: -15px 0 0 0;
    width: 100%;
    height: 50vh;
}
.choose #chooseTitle{
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: -0.04em;
    text-align: left;
    width: 100%;

}
.choose #chooseText{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: justified;
    width: 100%;

}
.whyChoose{
    width:100%;
    padding: 5% 0%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 11%;
    grid-column-gap: 3%;
}
.choosingIdeas{
    width:100;
}
.choosingIdeas #chooseimageText{
    width:100%;
    margin: 5% 0 0 -10%;

}
}
@media screen and (max-width:375px) {
    .hireDemand{
        padding:3% 3%;
        width: 100%;
        height: 40vh;
        display: block;
        margin: -10% 0 0 0;
    }
    .backgroundimagesSA{
     margin:0 0 -15% 0;
    }
    .venzoSAImage{
        border-radius: 0px 12px 0px 0px;
        width:100%;
    }
    .leftImagehire{
        width: 100%;
    }
    .rightTexthire{
        border-radius: 0px 0px 12px 12px;
        padding: 15% 5%;
        margin: -15px 0 0 0;
        width: 100%;
        height: 60vh;
    }
}