@font-face {
    font-family:'poppins-light';
    src: url('../../Poppins/Poppins-Light.ttf');
}
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
@media screen  and (max-width:1440px) and (min-width:1030px) {
    .containor1{
        display: flex;
        margin-top: 4%
    }
    .build{
        height:12%;
        width:32%;
        margin-left: 15%;
    }
    .title{
     font-size: 5rem;
     padding-bottom: 1%;
    }
    .desc{
        font-size: 18px;
        line-height: 31px;
        color: #000000;
        opacity: 52%;
        font-family: sans-serif;
    }
    .images{
        margin-left: 9%;
        width: 49%;
        height: auto;
        width: 90%;

    }
    .row{
        display:flex;
        margin-left: 14%;
        margin-top: 2%;
        font-size: 20px;
    }
    .col1{
        width: 25%;
        margin-right: 2%;
    }
    .col2{
        width: 25%;
        margin-right: 2%;
    }
    .heading{
        font-size: 20px;
        margin: 2% 0 5% 0;

    }
    .col3{
        width: 27%;
    }
    .desc1{
        font-size: 13px;
        font-weight: 400;
        line-height: 24.5px;
        color: #000000;
        opacity: 52%;
        text-align:justify ;  
        margin:  0 0 20% 0;

    }

    .hr_line{
        width: 70%;
        margin-left: 14% ;
    }
    .customer{
        padding-left: 13%;
        padding-top: 4%;
        background-color: #f6f6f6;
        color: #0A1020;
        padding-bottom: 10%;
    
    }
    .row2{
        display:flex;
    }
    .cus-title{
        width: 70%;
        font-size: 30px;
        line-height: 1.6;
        font-family: poppins-light,sans-serif;
        background-image: url('../images/Vector-61.png');
        background-repeat: no-repeat;
        background-position-x: 93%;
        background-position-y: 70%;
    }
    .des1{
        width: 63%;
        font-size: 14px;
        line-height: 1.7;
        padding-bottom: 1%;
    }
    .readMore{
        float: right;
        margin-right: 15%;
        margin-top: 2%;
    }
    .arrow1{
        margin-top: -31%;
        margin-left: 85%;
    }
    .videoImg{
        margin-right: 2%;
        margin-top: -5%;
        width: 30vw;
    }
    .col4{
        margin-top: 2%;
        width: 50%;
    }
    .col5{
        width: 36%;
    }
    
    .containor3{
        margin: 0 9px 0  0;
        width: 100vw;
        height: 20%;
        display: flex;
        background-color: #f6f6f6;
    }
    
    .anyIdea{
        margin-left: 14vw;
        padding: 1% 0;
        font-size: 45px;
    }
    .talk{
        margin-left: 30vw;
        height: 5%;
        margin-top: 3%;
        width: 11vw;
        color: white;
        background-color: #000000;
        border-radius: 7px 7px 7px 7px;
        font-size: 18px;
    }
    .talk:hover{
        color: #FFFFFF;
        background-color: transparent;
        background-image: linear-gradient(90deg, #E25C37 0%, #951B98 100%);
    }
    
    .textColor{
        background: -webkit-linear-gradient(60deg, #e66521,#d1368f, #ae01ff);
        -webkit-background-clip: text;  
        -webkit-text-fill-color: transparent;
    }
}