@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media screen  and (max-width:768px) and (min-width:500px) {
    .containor1 {
        display: block;
        margin-top: 4%;
        width:100;
    }

    .build {
        width: 80%;
        text-align: center;
    }

    .title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        color: #000000;
        margin: 0 0 0 18%;
    }
 
    .desc {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5);
        text-align: center;
        width: 80%;
        margin-left: 18%;
    }

    .images {
        margin-left :14%;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 70%;
        height: auto;
    }

    .row {
        display: block;
        margin-left: 10%;
        margin-top: 2%;
        font-size: 20px;
    }

    .col1 {
        width: 70%;
        margin-right: 2%;
        justify-content: space-evenly;
    }

    

    .heading {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        color: #000000;
        margin: 5% 0 5% 0;

    }


    .desc1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5);
        margin: 0 0 10% 0;

    }

    .hr_line {
        width: 80%;
        margin-left: 10%;
        margin-top: 0;
    }

    .customer {
        padding-left: 5%;
        padding-top: 5%;
        background-color: #f6f6f6;
        color: #0A1020;
        padding-bottom: 7%;
        margin-top: -1%;
    }

    .row2 {
        display: block;
        margin-left: 8%;
        margin-top: 5%;
    }

    .cus-title .webBr{
        display: block;

    }
    .mobileBr {
        display: none;
    }

    .cus-title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #000000;
        line-height: 35px;
        background-image: url('../images/Vector-61.png');
        background-repeat: no-repeat;
        background-position-x: 1%;
        background-position-y: 135px;
        background-size: 50%;
        text-align: left;
    }

    .des1 {
        width: 80%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #000000;
        text-align: center;
    }

    .arrow {
        margin-left: 2%;
        margin-top: -1%;
    }

    .videoImg {
        width: 70%;
        margin: 0 0 0 10%;
    }

    .readMore1 {

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #000000;
        margin-top: 10%;
        margin-left: 32%;
        width: 100%;
    }

    .readMore1:hover {
        color: #000000;
        opacity: 100%;
        cursor: pointer;
    }

    .col4 {
        width: 100%;
        margin-top: 0%;
        align-items:center;

    }

    .col5 {
        width: 100%;
        align-items:center;

    }

    .containor3 {
        margin: 0 9px 0 0;
        padding: 10% 5%;
        width: 100%;
        display: block;
        background-color: #f6f6f6;
    }

    .anyIdea {
        font-family: Poppins;
        font-size: 45px;
        font-weight: 600;
        line-height: 54px;
        letter-spacing: -0.03em;
        text-align: left;
        width: 70%;
        color: #000000;
    }

    .talk {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0em;
        height: 50px;
        width: 160px;
        border-radius: 8px;
        color: #FFFFFF;
        background-color: #0A1020;
        margin: 2% 0 0 0%;
    }

    .talk:hover {
        color: #FFFFFF;
        background-color: transparent;
        background-image: linear-gradient(90deg, #E25C37 0%, #951B98 100%);
    }

    .textColor {
        background: -webkit-linear-gradient(60deg, #e66521, #d1368f, #ae01ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}