@font-face {
    font-family:'poppins-light';
    src: url('../../Poppins/Poppins-Light.ttf');
}
@media screen  and (max-width:770px) and (min-width:430px) {
    .containor1{
        display: block;
        margin-top: 1%
    }
    .build{
        height:12%;
        width:83%;
        margin-left: 9%;
    }
    .title{
        font-size: 32px;
        padding-bottom: 1%;
        text-align: center;
        margin:5% 0 0 0;

    }
    .desc{
        font-size: 18px;
        line-height: 31px;
        color: #000000;
        opacity: 52%;
        font-family: sans-serif;
        padding-bottom: 1%;

    }
    .images{
        margin-left: 13%;
        margin-top: 2%;
        height: auto;
        width: 80%;

    }
    .row{
        display:flex;
        margin-left: 9%;
        margin-top: 4%;
        font-size: 20px;
    }
    .col1{
        width: 29%;
        margin-right: 2%;
    }
    .col2{
        width: 31%;
        margin-right: 2%;
    }
    .heading{
        font-size: 15px;
        font-weight: 900;
        margin: 2% 0 2% 0 ;
        
    }
    .col3{
        width: 29%;
    }
    .desc1{
        font-size: 13px;
        font-weight: 400;
        line-height: 24.5px;
        color: #000000;
        opacity: 52%;
        text-align:justify ;  
        margin:  0 0 30% 0;
    }
    .readMore{
        float: right;
        margin-right: 35%;
        margin-top: 10%;
    }
    .arrow1{
        float: right;
        padding-top: 8%;
        padding-bottom: 18%;
        margin-right: 15%;
    }
    .hr_line{
        width: 84%;
        margin-left: 10%;
    }
    .customer{
        padding-left: 10%;
        padding-top: 4%;
        background-color: #f6f6f6;
        color: #0A1020;
        position: relative;
    }
    .row2{
        display:block;
        padding-top:2% ;
    }
    .cus-title{
        width: 90%;
        font-size: 24px;
        line-height: 1.7;
        font-family: sans-serif;
        background-image: url('../images/Vector-61.png');
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: 75%;
        background-size: 55%;
    }
    .readMore1{
        font-size: 20px;
        margin-left: -30%;
    }
    .des1{
        width: 70%;
        font-size: 15px;
        line-height: 1.7;
        padding-bottom: 1%;
    }
    .arrow{
        margin-left: 1%;
        padding-bottom: 0vh;
        margin-top: -1%;
    }
    .videoImg{
        margin-left: -8%;
        margin-top: 5%;
        width: 70vw;
    }

    .col4{
        width: 100vw;
        margin-left: 50vw;
        background-color: #f6f6f6;
        padding-left: 0vw;
        margin-left: 5vw;
        padding-right: 0vw;
        text-align: center;
    }
    .col5{
        width: 86%;
        margin-left: 0vw;
        padding-left: 10vw;
        padding-bottom: 0vh;
        background-color: #f6f6f6;

    }
    .containor3{
        margin: 0% 9px 0  0;
        width: 101%;
        height: 20%;
        display: flex;
        background-color: #f6f6f6;
    }
    .anyIdea{
        margin-left: 10vw;
        padding: 8% 0;
        font-size: 40px;
    }
    .talk{
        margin-left: 8%;
        margin-top: 9%;
        width: 20%;
        height: 40%;
        color: white;
        background-color: #000000;
        border-radius: 7px 7px 7px 7px;
        font-size: 18px;
        padding: 2% 4% 2%;
    }
    .talk:hover{
        color: #FFFFFF;
        background-color: transparent;
        background-image: linear-gradient(90deg, #E25C37 0%, #951B98 100%);
    }
    
    .textColor{
        background: -webkit-linear-gradient(60deg, #e66521,#d1368f, #ae01ff);
        -webkit-background-clip: text;  
        -webkit-text-fill-color: transparent;
    }
}