.hamburger{
    background-color: #0A1020;
    height: 100vh;
    width: 100vw;
    padding: 1.5% 3%;
    position: absolute;
    right: 0px;
    top: 0px;
    animation: moving 200ms linear;  
    /* transition: 10s; */
}



#hamburger{
    animation-timing-function: ease-in;  
}
@keyframes moving {
    from{
        top:-500px;
    }
    to{
        bottom:1000px;
    }
}



.menu{
    padding: 5% 3%;
    width: 100%;
    display: inline-flex;
}
.hamLogo{
    width: 30%;
}
.routeLinks{
    width: 70%;
    display: inline-flex;
    margin: 8% 0 0 5%;
}
.routes2{
    margin: 0 0 0 8%;
}
    #cardText{
        font-family: Poppins;
        font-size: 22px;
        font-weight: 400;
        line-height: 39px;
        letter-spacing: 0em;
        text-align: left;
         color: #FFFFFF;        
    }
    #hrincard{
        height: 0px;
        width: 315px;
        border: 2px solid #686868
    }
    .closeBtn{
        float:right;
        /* animation: movingup 300ms linear; */
        cursor: poiner;

    }
    .closeBtn:hover{
        cursor: pointer;
    }
    /* #closeBtn{
        animation-timing-function: ease-in-out;
    }
    @keyframes movingup {
        from{
            bottom:1000px;
        }
        to{
            top:-500px;
        }
    } */
  
@media screen and (max-width:1705px) and (min-width:1024px) {
    .hamburger{
    background-color: #0A1020;
    height: 100vh;
    width: 100vw;
    padding: 1% 3%;
    position: absolute;
    right: 0px;
    top: 0px;
}
.menu{
    padding: 1% 3%;
    width: 100%;
    display: inline-flex;
}
.hamLogo{
    width: 30%;
}
.venzoLogoham{
    width: 50%;
}
.routeLinks{
    width: 70%;
    display: inline-flex;
    margin: 5% 0 0 3%;
}
.routes2{
    margin: 0 0 0 8%;
}
    #cardText{
        font-family: Poppins;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;           
        margin: 8% 0 0 0;

    }
    #hrincard{
        height: 0px;
        width: 315px;
        border: 1px solid #FFFFFF4D;
    }
    .closeBtn{
        float:right;
    }
}
@media screen and (max-width:1024px) and (min-width:768px) {
    .hamburger{
        background-color: #0A1020;
        height: 100vh;
        width: 100vw;
        padding: 1.5% 3%;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .hamLogo{
        width: 30%;
    }
    .venzoLogoham{
     width: 75%;
    }
    .routeLinks{
        width: 70%;
        display: inline-flex;
        margin: 15% 0 0 -5%;
    }
    .routes2{
        margin: 0 0 0 8%;
    }
    
        #cardText{
            font-family: Poppins;
            font-size: 22px;
            font-weight: 400;
            line-height: 39px;
            letter-spacing: 0em;
            text-align: left;
            color: #ffffff;           
            margin: 8% 0 0 0;
    
        }
        #hrincard{
            height: 0px;
            width: 315px;
            border: 1px solid #FFFFFF4D;
        }
        .closeBtn{
            float:right;
        }
}

    @media screen and (max-width:768px) and (min-width:430px) {
        .hamburger{
            background-color: #0A1020;
            height: 75vh;
            width: 100vw;
            padding: 1.5% 3%;
            position: absolute;
            right: 0px;
            top: 0px;
        }
        .menu{
            display: block;
        }
        .hamLogo{
            width: 30%;
            margin: 5% 0 0 0;
        }
        .venzoLogoham{
         width: 75%;
        }
        .routeLinks{
            width: 60%;
            display: inline-flex;
            margin: 10% 0 0 15%;
        }
        .routes2{
            margin: 0% 0 0 15%;
        }
        #cardText{
            font-size: 16px;
            line-height: 19px;
        }
        #hrincard{
            height: 0px;
            width: 215px;
            border: 1px solid #FFFFFF4D;
        }
        .closeBtn{
            float:right;
            margin: 4% 0 0 0;
        }
    }
    @media screen and (max-width:425px) and (min-width:375px) {
        .hamburger{
            background-color: #0A1020;
            height: 100vh;
            width: 100vw;
            padding: 1.5% 3%;
            position: absolute;
            right: 0px;
            top: 0px;
        }
        .menu{
            display: block;
        }
        .hamLogo{
            width: 50%;
            margin: 5% 0 0 5%;
        }
        .venzoLogoham{
         width: 75%;
        }
        .routeLinks{
            width: 60%;
            display: block;
            margin: 10% 0 0 5%;
        }
        .routes2{
            margin: 20% 0 0 0%;
        }
        .closeBtn{
            position: absolute;
            top:10px;
            right: 25px;
        }
        #cardText{
            font-size: 16px;
            line-height: 19px;
        }
        #hrincard{
            height: 0px;
            width: 300px;
            border: 1px solid #FFFFFF4D;
        }
    }
    @media screen and (max-width:376px) {
        .hamburger{
            background-color: #0A1020;
            height: 100vh;
            width: 100vw;
            padding: 1.5% 3%;
            position: absolute;
            right: 0px;
            top: 0px;
        }
    }
    /* @media screen and (max-width:365px){
        .hamburger{
            height: 800px;
            padding: 3% 10%;
            width: 375px;
        }
        .closeBtn{
            position: absolute;
            top:5px;
            right: 25px;
        }
    }
    @media screen and (max-width:280px) {
        .hamburger{
            height: 725px;
            padding: 3% 10%;
            width: 285px;
        }
        .closeBtn{
            position: absolute;
            top:5px;
            right: 25px;
        }
        #hrincard{
            height: 0px;
            width: 230px;
            border: 1px solid #00CD78;
        }
    }
     */