@media screen and (max-width:545px) and (min-width:430px) {

    * {
        margin: 0;
        padding: 0;
    }

    body {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        cursor: default;
    }

    .sect1 {
        margin: 6% 0 0 8%;
    }

    .mobilBr {
        display: none;
    }

    .component {
        padding: 20% 0 10% 0;
        background-image: url("../../webDev_Image/devBgM.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
    }

    .web_Title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 42px;
        line-height: 120%;
        letter-spacing: -0.04em;
        color: #FFFFFF;
        margin-right: -10%;
        width: 90%;
    }

    .webDesc {

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #F4F4FF;
        width: 80%;
        padding-top: 5%;
    }

    .whiteArrow {
        margin-left: 0.5%;
    }

    .knowmore {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        color: #FFFFFF;
        margin-top: 5%;
    }

    .sect2 {
        margin-top: 10%;
    }

    .sect2_title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 120%;
        text-align: center;
        background: linear-gradient(182.19deg, #000000 -860.5%, rgba(0, 0, 0, 0) 98.16%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    .sect2-desc {
        background-color: #0A1020;
        display: block;
        gap: 0px;
        background: 0.3s, border-radius 0.3s, opacity 0.3s;
        border-style: solid;
        border-width: 0px 0px 0px 0px;
        border-radius: 10px 10px 10px 10px;
        margin-top: 10%;
        margin-right: 3%;
        padding: 10%;
        margin-left: 7%;
        margin-bottom: 10%;
        width: 85%;
    }

    .devdesc-p {
        width: 100%;
    }

    .Webdesc-titlte {
        width: 100%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 120%;
        text-align: center;
        color: #FFFFFF;
        margin-top: 3%;
    }

    .Webdesc-detail {
        margin: auto;
        width: 70%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 175%;
        text-align: center;
        color: #FFFFFF;
    }

    .Vline1 {
        display: none;
    }

    .lineM1 {
        display: block;
        width: 50%;
        margin-left: 25%;
        margin-top: 14%;
        margin-bottom: 14%;
        background-color: #FFFFFF;

    }


    .development1 {
        display: block;
        margin-top: 5%
    }

    .devContent {
        height: 12%;
        width: 40%;
        margin-left: 8%;
    }

    .con_title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 120%;
        color: #000000;
        padding-top: 15%;
    }

    .con_desc {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 175%;
        width: 200%;
        text-align: justify;
        padding-bottom: 10%;

    }

    .con_image {
        display: none;
    }

    .row1 {
        margin-left: 7%;
        margin-top: 4%;
        font-size: 20px;
        width: 90%;
    }

    .column {
        width: 100%;
        display: block;
        margin-bottom: 5%;
    }

    .column1 {
        display: block;
    }

    .column2 {
        width: 100%;
        display: flex;
        margin-bottom: 5%;
    }

    .icon1 {
        width: 17px;
        height: 20px;
        margin-right: 5%;
        margin-left: 10%;
    }

    .heading1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        width: 70%;
        margin-left: 3%;
    }

    .desc1 {
        font-size: 13px;
        font-weight: 400;
        line-height: 24.5px;
        color: #000000;
        opacity: 52%;
        text-align: justify;
    }

    .hr_line2 {
        width: 85%;
        margin-left: 7%;
        padding-bottom: 1%;
        margin-top: 15%;
        margin-bottom: 15%;

    }

    .hr_line1 {
        width: 95%;
        margin-left: 0%;
        margin-top: 15%;
    }

    .sect3_title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 120%;
        text-align: center;
        background: linear-gradient(182.19deg, #000000 -860.5%, rgba(0, 0, 0, 0) 98.16%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    .devCaros .carousel {
        margin: 0%;
        padding: 0;
        margin-bottom: 2%;
        display: flex;
        z-index: -1;
    }
    .devCaros .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
        display: flex;
        height: 500px !important;
    }
    .devCaros .carousel .carousel-item {
        width: 85%;
        margin: 0% 8%;
        padding: 10% 0;
        background-color: #F8F8F8;
        border-radius: 7px 7px 7px 7px;
        height: 100% !important;

    }

    .devCaros .carousel-control-next-icon {
        display: none;
    }

    .devCaros .carousel-control-prev-icon {
        display: none;
    }

    .devCaros .carousel-indicators {
        display: flex;
        text-align: center;
        background-color: #FFF;
        margin-top: 0%;
        bottom: -139px;
    }
    .devCaros .carousel-indicators button {
        border-radius: 50%;
        padding: 5px;
        width: 10px;
        background-color: red;
        margin-top: 0%;

    }

    .devCaros .item1 {
        text-align: center;
        margin-top: -35%;
        margin-left: 5%;
        display: block;

    }

    .devCaros .mango {
        margin-top: 8%;
        margin-left: -8%;
        width: 65%;
        height: 65.34px;
        padding-bottom: 2%;
        margin-bottom: 5%;

    }


    .rightPic {
        margin-left: -5%;
        width: 85%;
        margin-top: 10%;
        margin-bottom: 10%;
    }


    .devCaros .blockchainDev {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 175%;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
        width: 90%;

    }

    .containor12 {
        margin: 20% 9px 0 0;
        padding: 4% 0;
        width: 100%;
        display: block;
        background-color: #f6f6f6;
    }

    .anyIdea12 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 120%;
        letter-spacing: -0.03em;
        color: #000000;
        margin-left: 8%;
        padding-top: 10%;
    }

    .talk12 {
        margin-left: 8%;
        height: 40%;
        margin-top: 5%;
        width: 35%;
        color: white;
        background-color: #000000;
        border-radius: 7px 7px 7px 7px;
        font-family: 'Poppins';
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10%;
    }

    .talk12:hover {
        color: #FFFFFF;
        background-color: transparent;
        background-image: linear-gradient(90deg, #E25C37 0%, #951B98 100%);
    }

    .textColor {
        background: -webkit-linear-gradient(60deg, #e66521, #d1368f, #ae01ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
/* */
    .webSlide1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 0%;
        margin-left: 8%;
        margin-right: 8%;
    }
    .webCard1, .webCard2, .webCard3, .webCard4, .webCard5, .webCard6, .webCard7, .webCard8, .webCard9, .webCard10, .webCard11, .webCard12, .webCard13, .webCard14, .webCard15, .webCard16 {
        height: 243px;
        width: 100%;
    }
}


@media screen and (max-width:425px) and (min-width:380px) {

    * {
        margin: 0;
        padding: 0;
    }

    body {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        cursor: default;
    }

    .sect1 {
        margin: 15% 0 0 8%;
    }

    .mobilBr {
        display: none;
    }

    .component {
        padding: 15% 0 10% 0;
        background-image: url("../../webDev_Image/devBgM.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
    }

    .web_Title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 42px;
        line-height: 120%;
        letter-spacing: -0.04em;
        color: #FFFFFF;
        margin-right: -10%;
        width: 90%;
    }

    .webDesc {

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #F4F4FF;
        width: 80%;
        padding-top: 5%;
    }

    .whiteArrow {
        margin-left: 0.5%;
    }

    .knowmore {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        color: #FFFFFF;
        margin-top: 5%;
    }

    .sect2 {
        margin-top: 10%;
    }

    .sect2_title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 120%;
        text-align: center;
        background: linear-gradient(182.19deg, #000000 -860.5%, rgba(0, 0, 0, 0) 98.16%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    .sect2-desc {
        background-color: #0A1020;
        display: block;
        gap: 0px;
        background: 0.3s, border-radius 0.3s, opacity 0.3s;
        border-style: solid;
        border-width: 0px 0px 0px 0px;
        border-radius: 10px 10px 10px 10px;
        margin-top: 10%;
        margin-right: 3%;
        padding: 10%;
        margin-left: 7%;
        margin-bottom: 10%;
        width: 85%;
    }

    .devdesc-p {
        width: 100%;
    }

    .Webdesc-titlte {
        width: 100%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 120%;
        text-align: center;
        color: #FFFFFF;
        margin-top: 3%;
    }

    .Webdesc-detail {
        margin: auto;
        width: 80%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 175%;
        text-align: center;
        color: #FFFFFF;
    }

    .Vline1 {
        display: none;
    }

    .lineM1 {
        display: block;
        width: 60%;
        margin-left: 20%;
        margin-top: 14%;
        margin-bottom: 14%;
        background-color: #FFFFFF;

    }


    .development1 {
        display: block;
        margin-top: 5%
    }

    .devContent {
        height: 12%;
        width: 40%;
        margin-left: 8%;
    }

    .con_title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 120%;
        color: #000000;
        padding-top: 15%;
    }

    .con_desc {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 175%;
        width: 200%;
        text-align: justify;
        padding-bottom: 10%;

    }

    .con_image {
        display: none;
    }

    .row1 {
        margin-left: 7%;
        margin-top: 4%;
        font-size: 20px;
        width: 90%;
    }

    .column {
        width: 100%;
        display: block;
        margin-bottom: 3%;
    }

    .column1 {
        display: block;
    }

    .column2 {
        width: 100%;
        display: flex;
        margin-bottom: 5%;
    }

    .icon1 {
        width: 17px;
        height: 20px;
        margin-right: 5%;
        margin-left: 10%;
    }

    .heading1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        width: 70%;
        margin-left: 3%;
    }

    .desc1 {
        font-size: 13px;
        font-weight: 400;
        line-height: 24.5px;
        color: #000000;
        opacity: 52%;
        text-align: justify;
    }

    .hr_line2 {
        width: 85%;
        margin-left: 7%;
        padding-bottom: 1%;
        margin-top: 15%;
        margin-bottom: 15%;

    }

    .hr_line1 {
        width: 95%;
        margin-left: 0%;
        margin-top: 15%;
    }

    .sect3_title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 120%;
        text-align: center;
        background: linear-gradient(182.19deg, #000000 -860.5%, rgba(0, 0, 0, 0) 98.16%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    .devCaros .carousel {
        margin: 0%;
        padding: 0;
        margin-bottom: 2%;
        display: flex;
        z-index: -1;
    }
    .devCaros .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
        display: flex;
        height: 500px !important;
    }
    .devCaros .carousel .carousel-item {
        width: 85%;
        margin: 0% 8%;
        padding: 10% 0;
        background-color: #F8F8F8;
        border-radius: 7px 7px 7px 7px;
        height: 100% !important;

    }

    .devCaros .carousel-control-next-icon {
        display: none;
    }

    .devCaros .carousel-control-prev-icon {
        display: none;
    }

    .devCaros .carousel-indicators {
        display: flex;
        text-align: center;
        background-color: #FFF;
        margin-top: 0%;
        bottom: -139px;
    }
    .devCaros .carousel-indicators button {
        border-radius: 50%;
        padding: 5px;
        width: 10px;
        background-color: red;
        margin-top: 0%;

    }

    .devCaros .item1 {
        text-align: center;
        margin-top: -35%;
        margin-left: 5%;
        display: block;

    }

    .devCaros .mango {
        margin-top: 8%;
        margin-left: -8%;
        width: 65%;
        height: 65.34px;
        padding-bottom: 2%;
        margin-bottom: 5%;

    }


    .rightPic {
        margin-left: -5%;
        width: 85%;
        margin-top: 10%;
        margin-bottom: 10%;
    }


    .devCaros .blockchainDev {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 175%;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
        width: 90%;

    }

    .containor12 {
        margin: 20% 9px 0 0;
        padding: 4% 0;
        width: 100%;
        display: block;
        background-color: #f6f6f6;
    }

    .anyIdea12 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 120%;
        letter-spacing: -0.03em;
        color: #000000;
        margin-left: 8%;
        padding-top: 10%;
    }

    .talk12 {
        margin-left: 8%;
        height: 40%;
        margin-top: 5%;
        width: 35%;
        color: white;
        background-color: #000000;
        border-radius: 7px 7px 7px 7px;
        font-size: 14px;
        margin-bottom: 10%;
    }

    .talk12:hover {
        color: #FFFFFF;
        background-color: transparent;
        background-image: linear-gradient(90deg, #E25C37 0%, #951B98 100%);
    }

    .textColor {
        background: -webkit-linear-gradient(60deg, #e66521, #d1368f, #ae01ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    /*  */
    .webSlide1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0%;
        margin-left: 8%;
        margin-right: 8%;
    }
    .webCard1, .webCard2, .webCard3, .webCard4, .webCard5, .webCard6, .webCard7, .webCard8, .webCard9, .webCard10, .webCard11, .webCard12, .webCard13, .webCard14, .webCard15, .webCard16 {
        height: 390px;
        width: 100%;
    }
}


@media screen and (max-width:375px)  {

    * {
        margin: 0;
        padding: 0;
    }

    body {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        cursor: default;
    }

    .sect1 {
        margin: 15% 0 0 8%;
    }

    .mobilBr {
        display: none;
    }

    .component {
        padding: 15% 0 10% 0;
        background-image: url("../../webDev_Image/devBgM.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
    }

    .web_Title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 42px;
        line-height: 120%;
        letter-spacing: -0.04em;
        color: #FFFFFF;
        margin-right: -10%;
        width: 90%;
    }

    .webDesc {

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #F4F4FF;
        width: 80%;
        padding-top: 5%;
    }

    .whiteArrow {
        margin-left: 0.5%;
    }

    .knowmore {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        color: #FFFFFF;
        margin-top: 5%;
    }

    .sect2 {
        margin-top: 10%;
    }

    .sect2_title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 120%;
        text-align: center;
        background: linear-gradient(182.19deg, #000000 -860.5%, rgba(0, 0, 0, 0) 98.16%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    .sect2-desc {
        background-color: #0A1020;
        display: block;
        gap: 0px;
        background: 0.3s, border-radius 0.3s, opacity 0.3s;
        border-style: solid;
        border-width: 0px 0px 0px 0px;
        border-radius: 10px 10px 10px 10px;
        margin-top: 10%;
        margin-right: 3%;
        padding: 10%;
        margin-left: 7%;
        margin-bottom: 10%;
        width: 85%;
    }

    .devdesc-p {
        width: 100%;
    }

    .Webdesc-titlte {
        width: 100%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 120%;
        text-align: center;
        color: #FFFFFF;
        margin-top: 3%;
    }

    .Webdesc-detail {
        margin: auto;
        width: 90%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 175%;
        text-align: center;
        color: #FFFFFF;
    }

    .Vline1 {
        display: none;
    }

    .lineM1 {
        display: block;
        width: 65%;
        margin-left: 20%;
        margin-top: 14%;
        margin-bottom: 14%;
        background-color: #FFFFFF;

    }


    .development1 {
        display: block;
        margin-top: 5%
    }

    .devContent {
        height: 12%;
        width: 40%;
        margin-left: 8%;
    }

    .con_title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 120%;
        color: #000000;
        padding-top: 15%;
    }

    .con_desc {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 175%;
        width: 200%;
        text-align: justify;
        padding-bottom: 10%;

    }

    .con_image {
        display: none;
    }

    .row1 {
        margin-left: 7%;
        margin-top: 4%;
        font-size: 20px;
        width: 90%;
    }

    .column {
        width: 100%;
        display: block;
        margin-bottom: 5%;
    }

    .column1 {
        display: block;
    }

    .column2 {
        width: 100%;
        display: flex;
        margin-bottom: 1%;
    }

    .icon1 {
        width: 17px;
        height: 20px;
        margin-right: 5%;
        margin-left: 10%;
    }

    .heading1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        width: 70%;
        margin-left: 3%;
    }

    .desc1 {
        font-size: 13px;
        font-weight: 400;
        line-height: 24.5px;
        color: #000000;
        opacity: 52%;
        text-align: justify;
    }

    .hr_line2 {
        width: 85%;
        margin-left: 7%;
        padding-bottom: 1%;
        margin-top: 15%;
        margin-bottom: 15%;

    }

    .hr_line1 {
        width: 95%;
        margin-left: 0%;
        margin-top: 15%;
    }

    .sect3_title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 120%;
        text-align: center;
        background: linear-gradient(182.19deg, #000000 -860.5%, rgba(0, 0, 0, 0) 98.16%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    .devCaros .carousel {
        margin: 0%;
        padding: 0;
        margin-bottom: 2%;
        display: flex;
        z-index: -1;
    }
    .devCaros .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
        display: flex;
        height: 500px !important;
    }
    .devCaros .carousel .carousel-item {
        width: 85%;
        margin: 0% 8%;
        padding: 10% 0;
        background-color: #F8F8F8;
        border-radius: 7px 7px 7px 7px;
        height: 100% !important;

    }

    .devCaros .carousel-control-next-icon {
        display: none;
    }

    .devCaros .carousel-control-prev-icon {
        display: none;
    }

    .devCaros .carousel-indicators {
        display: flex;
        text-align: center;
        background-color: #FFF;
        margin-top: 0%;
        bottom: -139px;
    }
    .devCaros .carousel-indicators button {
        border-radius: 50%;
        padding: 5px;
        width: 10px;
        background-color: red;
        margin-top: 0%;

    }

    .devCaros .item1 {
        text-align: center;
        margin-top: -35%;
        margin-left: 5%;
        display: block;

    }

    .devCaros .mango {
        margin-top: 8%;
        margin-left: -8%;
        width: 65%;
        height: 65.34px;
        padding-bottom: 2%;
        margin-bottom: 5%;

    }


    .rightPic {
        margin-left: -5%;
        width: 85%;
        margin-top: 10%;
        margin-bottom: 10%;
    }


    .devCaros .blockchainDev {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 175%;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
        width: 90%;

    }
    .containor12 {
        margin: 20% 9px 0 0;
        padding: 4% 0;
        width: 100%;
        display: block;
        background-color: #f6f6f6;
    }

    .anyIdea12 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 120%;
        letter-spacing: -0.03em;
        color: #000000;
        margin-left: 5%;
        padding-top: 10%;
    }

    .talk12 {
        margin-left: 8%;
        height: 35%;
        margin-top: 5%;
        width: 35%;
        color: white;
        background-color: #000000;
        border-radius: 7px 7px 7px 7px;
        font-size: 14px;
        margin-bottom: 10%;
    }

    .talk12:hover {
        color: #FFFFFF;
        background-color: transparent;
        background-image: linear-gradient(90deg, #E25C37 0%, #951B98 100%);
    }

    .textColor {
        background: -webkit-linear-gradient(60deg, #e66521, #d1368f, #ae01ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
  /*  */
    .webSlide1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0%;
        margin-left: 8%;
        margin-right: 8%;
    }
    .webCard1, .webCard2, .webCard3, .webCard4, .webCard5, .webCard6, .webCard7, .webCard8, .webCard9, .webCard10, .webCard11, .webCard12, .webCard13, .webCard14, .webCard15, .webCard16 {
        height: 390px;
        width: 100%;
    }
}