.customerExperiance{
    background-color: whitesmoke;
    height: 35vh;
    padding: 4% 10%;
    display: inline-flex;
    width: 100vw;
}
.customerExperiance h3{
    font-family:poppins-semibold;
    font-size: 45px;
}
.customerExperiance #through{
    background: linear-gradient(272.33deg, #AD00FF 21.7%, #FF7A00 103.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.customerExperiance .reachus{
    height: 5vh;
    width: 13vw;
    color: white;
    background-color: #000000;
    border-radius: 10px 10px 10px 10px;
    font-size: 18px;
    margin: 1.5% 0 0 10%;
}
@media screen and (max-width:1445px) and (min-width:1025px) {
    .customerExperiance{
        background-color: whitesmoke;
        padding: 4% 10% 20%;
        display: inline-flex;
        width: 100vw;
    }
    .customerExperiance h3{
        font-family:poppins-semibold;
        font-size: 40px;
    }
    .customerExperiance #through{
        background: linear-gradient(272.33deg, #AD00FF 21.7%, #FF7A00 103.44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    .customerExperiance .reachus{
        height: 5vh;
        width: 13vw;
        color: white;
        background-color: #000000;
        border-radius: 10px 10px 10px 10px;
        font-size: 18px;
        margin: 8% 0 0 10%;
    }
}
    @media screen and (max-width:1024px) and (min-width:769px) {
        .customerExperiance {
            margin-top: 4%;
        }
        .customerExperiance h3{
            font-size: 24px;
            width: 65%;
            margin-top: 4%;
        }
        .customerExperiance .reachus{
            height: 5vh;
            width: 13vw;
            color: white;
            background-color: #000000;
            border-radius: 10px 10px 10px 10px;
            font-size: 18px;
            margin: 7% 0 0 10%;
        }

}
    
    @media screen and (max-width:768px) and (min-width:435px) {
        .customerExperiance h3{
            font-size: 27px;
            width: 63%;
        }
        .customerExperiance .reachus{
            width: 15vw;
        }
}
    
    @media screen and (max-width: 425px) and (min-width:376px) {
        .customerExperiance{
            display: block;
            padding-top: 15%;
            padding-bottom: 15%;
        }
        .customerExperiance h3{
            font-size: 20px;
            width: 110%;
            margin: -10% 0 0% 1%;
        }
        .customerExperiance .reachus{
            width: 30vw;
            margin: 5% 0 0 1%;

        }
    }
        @media screen and (max-width:375px)  {
            .customerExperiance{
                display: block;
                padding-top: 15%;
            }
            .customerExperiance h3{
                font-size: 20px;
                width: 110%;
                margin: 0 0 0 2%;
            }
            .customerExperiance .reachus{
                width: 30vw;
                margin: 5% 0 0 2%;
    
            }
        }
    
    
