@font-face {
    font-family:'poppins-semibold';
    src: url('../../../Poppins/Poppins-SemiBold.ttf');
}
@font-face {
    font-family:'poppins-thin';
    src: url('../../../Poppins/Poppins-Thin.ttf');
}
@font-face {
    font-family: 'poppins-black';
    src: url('../../../Poppins/Poppins-Black.ttf');
}
@font-face {
    font-family: 'poppins-medium';
    src: url('../../../Poppins/Poppins-Medium.ttf');
}
@font-face {
    font-family: 'poppins-regular';
    src: url('../../../Poppins/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'poppins-extrabold';
    src: url('../../../Poppins/Poppins-ExtraBold.ttf');
}
body{
    padding: 0;
    margin: 0;
}
.whatwedo{
    background-color: white;
    height: 185vh;
    padding: 0 0 0 5%;
   
}
.whatwedoflex{
    width: 100%;
    display: flex;
}
.whatwedoText{
    width:30%;
}
.whatwedoText h3{
    font-size: 50px;
    font-family: poppins-semibold;
    margin: 12% 0 0 15%;
}
.whatwedoText p{
    width:20%;
    color: black;
    opacity: 0.4;
    font-family: poppins-medium;
    margin: 2% 0 0 5%;
    position: absolute;
    font-size: 20px;

}
.whatwedoCard{
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 70%;
}
.whatwedoCard div{
    padding:4% 1%;
    border:1px solid #ebeaea;
    border-top: none;
    width:25%;
    background-color: #d9d7d7;
}
.whatwedoCard p{
    width:105%;
    font-size: 18px;
    font-family: poppins-regular;
    margin:30% 0 0 0;
}
.whatwedoCard .uxResearch{
    background-image: url('../../images/uxResearch_No1.svg');
    background-repeat: no-repeat;
    background-size: 100% ;
}
.whatwedoCard .uiuxDesign{
    background-image: url('../../images/uiux_Design_No2.svg');
    background-repeat: no-repeat;
    background-size: 100% ;

}
.whatwedoCard .digitalPrototyping{
    background-image: url('../../images/digitalPrototyping_No3.svg');
    background-repeat: no-repeat;
    background-size: 100% ;

}
.whatwedoCard .digitalBranding{
    background-image: url('../../images/digitalBranding_No4.svg');
    background-repeat: no-repeat;
    background-size: 100% ;

}
.whatwedoCard .uxResearch:hover{
    background-image: url('../../images/UX research.svg');
    color: white;
}
.whatwedoCard .uiuxDesign:hover{
    background-image: url('../../images/Ux\ Ui\ Design.svg');
    color: white;
}
.whatwedoCard .digitalPrototyping:hover{
    background-image: url('../../images/Digital\ prototyping.svg');
    color: white;
}
.whatwedoCard .digitalBranding:hover{
    background-image: url('../../images/Digital branding.svg');
    color: white;
}
.whatwedo .ourApproach h1{
    font-family: poppins-semibold;
    font-size: 130px;
    text-align: center;
    margin: 5% 0 0 0;
    background: linear-gradient(178deg, #000000 -700.43%, rgba(0, 0, 0, 0) 105.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.whatwedo .ourApproach .approach{
    display: block;
    padding: 3% 15%;
}
.ourApproach .approachDesign{
    position: relative;
}
.ourApproach .approachDesign img{
    position: absolute;
    margin: 3.5% 0 0 30%;
    height: 63vh;
}

.approach{
    position: absolute;
}
.approach .research{
    display: inline-flex;
}

.approach .ideate{
    margin: 18% 0 0 19%;
    display: inline-flex;
}
.approach .prototype{
    margin: 15% 0 0 29%;
    display: inline-flex;
}
.approach div p{
    margin:2% 0 0 10%;
    font-family: poppins-medium;
    font-size: 18px;
    opacity: 0.5;
    line-height: 1;
}
@media screen and (max-width:1440px) and (min-width:1030px) {
    .whatwedo{
        height: 170vh;
       
    }
    .whatwedoCard{
        height: 70vh;
    }
    .whatwedo .ourApproach h1{
           font-size: 80px;
    }
    .ourApproach .prototype h2{
        margin: 4% 0 0 0%;
    }
    .approach .research p{
        margin: 0 0 0 3%;
    }
     .approach .prototype p{
        margin: 8% 0% 0 20%;
    }
}