.joinus{
    padding: 5% 20%;
}
.joinus .innerJoin{
    background-color: #0A1020;
    height: 350px;
    width:1166px;
    width:100%;
    display: inline-flex;
    padding: 5% 5%;
    border-radius:12px 12px 12px 12px;
}
.innerJoin .innerText{
    width:50%;
    margin:0 0 0 6%;
}
.innerJoin .innerText #innerTextTitle{
    font-family: poppins;
    font-size: 40px;
    font-weight: 600;
    color: #FFFFFF;
}
.innerJoin .innerText #innerTextPara{
    color: #FFFFFF;
    font-family: poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}
.innerJoin .innerText #applyNow{
    color: #FFFFFF;
    font-family: poppins;
    font-size: 14px;
    font-weight: 600;
}
.innerJoin img{
margin: 0 0 0 2%;
}
@media screen and (max-width:1445px)and (min-width:1024px){
.joinus .innerJoin{
    width: 950px;
}
}
@media screen and (max-width:1024px)and (min-width:768px){
.joinus{
    padding: 10% 3.5%;
}

}
@media screen and (max-width:768px)and (min-width:431px){
    .innerJoin .joinImg{
        width:55%;
    }
}
@media screen and (max-width:430px) {
.joinus{
    padding: 0;
}
.joinus .innerJoin{
    border-radius: 0px;
    height: 615px;
    width: 428px;
    display: block;
    padding-top: 10%;

}
.innerJoin .joinImg{
    width: 100%;
    margin: 0;
}
.joinus .innerJoin .joinImgRes{
    display: block;
}
.innerJoin .innerText{
    width:100%;
}
.innerJoin .innerText #innerTextTitle{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin: 10% 0 0 -10%;
}
.innerJoin .innerText #innerTextPara{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin: 5% 0 0 -12%;

}
.innerJoin .innerText #applyNow{
    text-align: center;
    margin: 10% 0 0 -12%;

}

}
@media screen  and (max-width:376px){
.joinus .innerJoin{
    height:550px
}
    .innerJoin .joinImg{
        width: 85%;
    }
    .innerJoin .innerText #innerTextTitle{
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        margin: 10% 0 0 -25%;
    }
    .innerJoin .innerText #innerTextPara{
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
        margin: 5% 0 0 -3%;
        width: 80%;
    
    }
    .innerJoin .innerText #applyNow{
        text-align: center;
        margin: 10% 0 0 -25%;
    
    }
}