.policyVenzo{
      padding: 1% 5%;
      margin: -25% 0 0 0;
}
.policies{
    background-color: #F8F8F8;
    /* height: 1350px; */
    width: 90%;
    margin: auto;
    left: 101px;
    top: 284px;
    border-radius: 8px;

}
.policy{
    padding: 5% 5%;
}
.policy #firstPara{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.03em;
    text-align: justified;
    text-align: left;
    width:100%;
    color: #606060;

}
.policy #personalTitle{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
    width:100%;
}
.policy #personalTitle1{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
    width:100%;
}

.policy #personalText{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.03em;
    text-align: justified;
    width:100%;
    color: #606060;
}
.policyList #policyListText{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.03em;
    text-align: justified;
    width:100%;
    color: #606060;

}
.policyList ul li{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.03em;
    text-align: justified;
    color: #606060;

}
.policy #emailText{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.03em;
    text-align: justified;
    color: #606060;

}
.policy #attentionMail{
    color: #000000;
}
.policy #attentionText{
    color:#000000;
}
.policy #attention{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.03em;
    text-align: justified;
    color: #606060;
    width:30%;

}
@media screen and (max-width:1705px) and (min-width:1024px){
        .policyVenzo{
            padding: 1% 3%;
            top:0px
        }
        .policies{
        background-color: #F8F8F8;
        height: auto;
        width: 1250px;
    }
    .policy #firstPara {
        font-family: Poppins;
        font-size: 17px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: -0.03em;
        text-align: justified;
        text-align: justify;
        width: 95%;
        color: #606060;
        margin-left: 2%;
    }
    .policy #personalText {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: -0.03em;
        text-align: justified;
        width: 100%;
        color: #606060;
        margin-left: 2%;
    }
    .policyList{
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: -0.03em;
        text-align: justified;
        width: 100%;
        color: #606060;
        margin-left: 2%;
    }
    .policy #personalTitle {
        font-family: Poppins;
        font-size: 20px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: center;
        color: #000000;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 4%;
    }
    .policy #emailText {
        margin-left: 2%;
    }
    .policy #attention {
        margin-left: 2%;
        width: 35%;
    }
    .policy #personalTitle1 {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: center;
        color: #000000;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}
@media screen and (max-width:1024px) and (min-width:775px){
    .policyVenzo{
        padding: 1% 2.1%;
    margin: -35% 0 0 0;
    }
    .policies{
    background-color: #F8F8F8;
    height: auto;
    width: 900px;
   }
.policy #attention{
    width:45%
}
.policy #firstPara {
    text-align: justify;
}
.policy #personalTitle {
    margin-top: 6%;
}
.policy #personalText {
    margin-top: 4%;
}
.policy #personalTitle1 {
    margin-top: 6%;
}
}
@media screen and (max-width:770px) and (min-width:431px){
    .policyVenzo {
        padding: 1% 2.3%;
        margin: -55% 0 0 0;
    }
    .policies{
    background-color: #F8F8F8;
    height: 1550px;
    width: 735px;
   }
   .policy #attention{
    width:55%
}
.policy #firstPara {
    text-align: justify;
}
.policy #personalTitle {
    margin-top: 7%;
}
.policy #personalTitle1 {
    margin-top: 7%;
}
.connectwithUs .ppicons {
    margin: 0 0 0 3%;
    width: 22px;
    height: 21px;
}
}
@media screen and (max-width:430px) {
    .policyVenzo{
        margin: 0% 0 0 0;
        padding: 0;
    }
    .policies{
        background-color: #F8F8F8;
        height: auto;
        width: 735px;
        border-radius: 0px;
       }
       .policy {
        padding: 3% 3%;
    }
       .privacyVenzo .privacyBG {
        height: auto;
        margin-top: 20%;
    }
    .policy #firstPara {
        font-size: 16px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: -0.03em;
        width: 379px;
        text-align: justify;
    }
    .policy #personalTitle {
        font-size: 18px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 5%;
    }
    .policyList #policyListText{
        font-size: 16px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: -0.03em;
        text-align: justified;
        width:388px;
    }
    .policy #personalText{
        font-size: 16px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: -0.03em;
        text-align: justified;
        width:388px;
    }
    .policyList ul li{
        font-size: 16px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: -0.03em;
        text-align: justified;
        width:388px;
    }
    .policy #personalTitle1 {
        font-size: 18px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
        width: 388px;
        margin-top: 6%;
    }
    .policy #emailText{
        font-size: 16px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: -0.03em;
        text-align: justified;
        width: 388px;
    }
    .policy #attention{
        width: 388px;
    }
} 
@media screen and (max-width:376px) {
    .policy #firstPara{  
        width: 330px;
        font-size: 14px;
    }
    .privacyVenzo .privacyBG {
        height: auto;
        margin-top: 24%;
    }
    .policy #personalTitle{
        width: 330px;
        font-size: 14px;

    }
    .policyList #policyListText{
        width: 330px;
        font-size: 14px;
    }
    .policy #personalText{
        width: 330px;
        font-size: 14px;
    }
    .policyList ul li{
        width: 330px;
        font-size: 14px;
    }
    .policy #personalTitle1{
        width: 330px;
        font-size: 14px;
    }
    .policy #emailText{
        width: 330px;
        font-size: 14px;
    }
    .policy #attention{
        width: 330px;
        font-size: 14px;

    }
}