.ourapproachQA{
    background-color: white;
    margin: 5% 0 0 0;
} 

.ourapproachQA h1 {
   font-family: poppins-semibold;
   font-size: 130px;
   text-align: center;
   margin: 5% 0 0 0;
   background: linear-gradient(178deg, #000000 -700.43%, rgba(0, 0, 0, 0) 105.58%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
}
.ourapproachQA .approachQA{
    display: block;
    padding: 3% 12%;
}
.ourapproachQA .approachDesignQA {
    position: relative;
}

.ourapproachQA .approachDesignQA img {
    position: absolute;
    margin: 3.5% 0 0 25%;
    height: 90vh;
}
.ourapproachQA .approachQA div{
    display: inline-flex;
}
.ourapproachQA .approachQA div h2{
    width: 20%;
    font-size: 28px;
    font-weight: 500;
    font-family: poppins;
}
.ourapproachQA .approachDesignQA div p{
    font-family: poppins-medium;
    font-size: 18px;
    opacity: 0.5;
    line-height: 1;
    width: 50%;
}
.approachQA .requirement p{
    margin: 2% 0 0 10%;
}
.approachQA .feasibility{
    margin: 6% 0 0 0;
}
.approachQA .feasibility p{
    margin: 0 0 0 12%;
}
.approachQA .analysis{
    margin: 10% 0 0 19%;
}
.approachQA .analysis p{
    margin: 0% 0 0 18%;
}
.approachQA .implementation{
    margin: 5% 0 0 16%;
}
.approachQA .implementation p{
    margin: 0 0 0 15%;
}
.approachQA .analysis h2{
    margin: 0% 0 0 -5%;
}
.approachQA .implementation h2{
    margin: 0% 0 0 -1%;
}
.approachQA .production{
    margin: 8.5% 0 0 34%;
}
.approachQA .production p{
    margin: 0% 0 0 20%;
}
.approachQA .enhancement{
    margin: 8.5% 0 0 34%;
}
.approachQA .enhancement p{
    margin: 0% 0 0 19%;
}
.ourapproachQA .approachDesignQA #straightarrowQA{
    display: none;
}
@media screen and (max-width:1445px) and (min-width:1025px) {
    .ourapproachQA{
        background-color: white;
        margin: 5% 0 5% 0;
    } 
    
    .ourapproachQA h1 {
       font-family: poppins-semibold;
       font-size: 130px;
       text-align: center;
       margin: 5% 0 0 0;
       background: linear-gradient(178deg, #000000 -700.43%, rgba(0, 0, 0, 0) 105.58%);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       background-clip: text;
    }
    .ourapproachQA .approachQA{
        display: block;
        padding: 3% 12%;
    }
    .ourapproachQA .approachDesignQA {
        position: relative;
    }
    
    .ourapproachQA .approachDesignQA img {
        position: absolute;
        margin: 3.5% 0 0 30%;
    }
    .ourapproachQA .approachQA div{
        display: inline-flex;
    }
    .ourapproachQA .approachQA div h2{
        width: 20%;
        font-size: 28px;
        font-weight: 500;
        font-family: poppins;
    }
    .ourapproachQA .approachDesignQA div p{
        font-family: poppins-medium;
        font-size: 18px;
        opacity: 0.5;
        line-height: 1;
        width: 50%;
    }
    .approachQA .requirement p{
        margin: 1% 0 0 10%;
    }
    .approachQA .feasibility{
        margin: 5% 0 0 0;
    }
    .approachQA .feasibility p{
        margin: 0 0 0 12%;
    }
    .approachQA .analysis{
        margin: 8% 0 0 19%;
    }
    .approachQA .analysis p{
        margin: 0% 0 0 23%;
    }
    .approachQA .implementation{
        margin: 5% 0 0 16%;
    }
    .approachQA .implementation p{
        margin: 0 0 0 15%;
    }
    .approachQA .analysis h2{
        margin: 0% 0 0 -5%;
    }
    .approachQA .implementation h2{
        margin: 0% 0 0 5%;
    }
    .approachQA .production{
        margin: 9% 0 0 38%;
    }
    .approachQA .production p{
        margin: 0% 0 0 30%;
    }
    .approachQA .enhancement{
        margin: 8% 0 0 38%;
    }
    .approachQA .enhancement p{
        margin: 0% 0 0 30%;
    }
    .ourapproachQA .approachDesignQA #straightarrowQA{
        display: none;
    }
}
@media screen and (max-width:1024px) and (min-width:769px) {
        
        .ourapproachQA h1 {
            font-size: 90px;
            margin: 10% 0 0 0;
        }
        .approachQA .production {
            margin-top:12%
        }
        .ourapproachQA .approachDesignQA img {
            margin: 3.5% 0 0 25%;
            height: 78vh;
        }
        .ourapproachQA .approachDesignQA #straightarrowQA{
            display: none;
        }
        .ourapproachQA .approachQA div h2{
            font-size: 20px;
        }
        .approachQA .requirement{
            margin: 0% 0 0 -3%;
        }
        .approachQA .requirement p{
            margin: 0% 0 0 8%;
        }
        .approachQA .feasibility {
            margin: 8% 0 0 -3%;
        }
        .approachQA .feasibility p{
            margin: 0 0 0 8%;
        }
        .approachQA .analysis p{
            margin-left: 17%;
        }
        .approachQA .production {
            margin-top:12%
        }
        .approachQA .production p{
            margin-left:30%;
        }
        .approachQA .enhancement p{
            margin-left:30%
        }

    }
    
    @media screen and (max-width:768px) and (min-width:426px) {
        .ourapproachQA{
            height: 100vh;
        }
        .ourapproachQA h1 {
            font-size: 70px;
            margin: 10% 0 0 0;
        }
        .approachQA .production {
            margin-top:12%
        }
        .ourapproachQA .approachDesignQA #bankingarrow{
            display: none;
        }
        .ourapproachQA .approachDesignQA #straightarrowQA{
            height: 65vh;
            margin: 8% 0 0 40%;
            display: block;

        }
        .ourapproachQA .approachQA div h2{
            font-size:18px;
        }
        .ourapproachQA .approachQA div p{
            font-size: 16px;
        }
        .approachQA .requirement{
            margin: 5% 0 0 5%;
        }
        .approachQA .requirement p{
            margin: 0% 0 0 30%;
        }
        .approachQA .feasibility {
            margin: 10% 0 0 5%;

        }
        .approachQA .feasibility p{
            margin: 0% 0 0 30%;
        }
        .approachQA .analysis {
            margin: 8% 0 0 10%;
        }
        .approachQA .analysis p{
            margin-left: 32%;
        }
        .approachQA .implementation{
            margin: 8% 0 0 6%;
        }
        .approachQA .implementation p{
            margin-left: 30%;
        }
        .approachQA .production {
            margin: 9% 0 0 5%;
        }
        .approachQA .production p{
            margin-left:30%;
        }
        .approachQA .enhancement{
            margin:12% 0 0 5%;
        }
        .approachQA .enhancement p{
            margin-left:30%
        }
    }
    
    @media screen and (max-width:425px) and (min-width:380px) {
        .ourapproachQA{
            height: 95vh;
            padding: 3% 0 0 0;

        }
        .ourapproachQA h1 {
            font-size: 35px;
            margin: 10% 0 0 0;
        }
        .ourapproachQA .approachQA div h2{
            font-size:12px;
        }
        .ourapproachQA .approachQA div p{
            font-size: 14px;
        }
        .approachQA .production {
            margin-top:12%
        }
        .ourapproachQA .approachDesignQA #bankingarrow{
            display: none;
        }
        .ourapproachQA .approachDesignQA #straightarrowQA{
            height: 65vh;
            margin: 8% 10% 0 45%;
            display: block;

        }
       
        .approachQA .requirement{
            margin: 7% 0 0 5%;
        }
        .approachQA .requirement p{
            margin: 0% 0 0 30%;
        }
        .approachQA .feasibility {
            margin: 10% 0 0 5%;

        }
        .approachQA .feasibility p{
            margin: 0% 0 0 30%;
        }
        .approachQA .analysis {
            margin: 9% 0 0 10%;
        }
        .approachQA .analysis p{
            margin-left: 32%;
        }
        .approachQA .implementation{
            margin: 16% 0 0 6%;
        }
        .approachQA .implementation p{
            margin-left: 30%;
        }
        .approachQA .production {
            margin:12% 0 0 5%;
        }
        .approachQA .production p{
            margin-left:30%;
        }
        .approachQA .enhancement{
            margin:15% 0 0 5%;
        }
        .approachQA .enhancement p{
            margin-left:30%
        }
    }
    
    @media screen and (max-width:375px)  {
        .ourapproachQA{
            height: 90vh;
            padding: 3% 0 0 0;
        }
        .ourapproachQA h1 {
            font-size: 35px;
            margin: 10% 0 0 0;
        }
        .ourapproachQA .approachQA div h2{
            font-size:12px;
        }
        .ourapproachQA .approachQA div p{
            font-size: 14px;
        }
        .approachQA .production {
            margin-top:12%
        }
        .ourapproachQA .approachDesignQA #bankingarrow{
            display: none;
        }
        .ourapproachQA .approachDesignQA #straightarrowQA{
            height: 67vh;
            margin: 8% 0 0 45%;
            display: block;
        }
        .approachQA .requirement{
            margin: 5% 0 0 5%;
        }
        .approachQA .requirement p{
            margin: 0% 0 0 30%;
        }
        .approachQA .feasibility {
            margin: 10% 0 0 5%;

        }
        .approachQA .feasibility p{
            margin: 0% 0 0 30%;
        }
        .approachQA .analysis {
            margin: 8% 0 0 10%;
        }
        .approachQA .analysis p{
            margin-left: 32%;
        }
        .approachQA .implementation{
            margin: 14% 0 0 6%;
        }
        .approachQA .implementation p{
            margin-left: 30%;
        }
        .approachQA .production {
            margin:12% 0 0 5%;
        }
        .approachQA .production p{
            margin-left:30%;
        }
        .approachQA .enhancement{
            margin:12% 0 0 5%;
        }
        .approachQA .enhancement p{
            margin-left:30%
        }
    }