.discussion{
    display: inline-flex;
    width:100%;
    padding: 5% 5%;
}
.discussion .gotanIdea{
    width:50%;
    display:block;
}
.discussion .enquiryinDiscussion{
    width:50%
}
.gotanIdea #gotanIdeaTitle{
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #0A1020;
}
.gotanIdea #gotanIdeaText{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color:#636363;
    width: 45%;

}
.enquiryinDiscussion  .contactform {
    width: 50%;
    height: 84%;
    margin-left: -4%;
    margin-top: 3%;
    background: linear-gradient(137.06deg, rgba(31, 26, 26, 0.25) -38.45%, rgba(217, 217, 217, 0) 149.05%);
    border-radius: 10.8395px;
    padding: 4%;

}
.enquiryinDiscussion .formTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: -0.03em;
    color: #FFFFFF;

}

.enquiryinDiscussion  input {
    padding: 2%;
    border-radius: 7px;
}

.enquiryinDiscussion  .Fname {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #929292;
    margin: 2% 4% 4% 0;
}

.enquiryinDiscussion  .Femail {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #929292;
}

.enquiryinDiscussion  .Fphone {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #929292;
    margin: 2% 4% 4% 0;
    width: 93%;
}

.enquiryinDiscussion  .Fmessage {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #929292;
    padding: 2%;
    width: 93%;
    height: 30%;
}

.enquiryinDiscussion  .Fbutton {
    background: linear-gradient(272.33deg, #AD00FF 21.7%, #FF7A00 103.44%);
    border-radius: 8px;
    padding: 1% 5%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
    margin: 8% 0 0 75%;
}
