.provenDev {
    height: 430px;
    padding: 5% 5% 20%;
    text-align: center;
}

.provenDev #provenDevTitle {
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: -0.04em;
    color: #000000;
    margin-bottom: 3%;
}
.provenDev .provenDevdesc{
    display: flex;
}
.provenDev .provenDevText {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    color: #00000080;
    text-align: center;
    /* margin: 1% 0 0 42%; */
}

.processSA {
    display: inline-flex;
    position: relative;
    margin: 1% 0 0 0;
    justify-content: center;
    align-items: center;
    z-index: -1;

}


.arrowImg1{
    margin-left: -75%;
    width: 70%;
    height: 1%;

}
.arrowImg2 {
    margin-left: -85%;
    width: 80%;
    height: 1%;
    margin-top: 0%;
}
 .processSAIcon1 {
    margin-top: 1%;

}
.processSAIcon3{
    margin-top: 0%;
}

.processSAIcon1, .processSAIcon2, .processSAIcon3{
    width: 85px;
}

.processSAIcon1:hover , .processSAIcon2:hover, .processSAIcon3:hover{
    width: 100px;
}
 .iconbelowText {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: -0.04em;
    text-align: center;
    color: #4A4A4A;
    margin: 5% 0% 0 -5%;
}

/* .processSA #iconbelowText1 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: -0.04em;
    text-align: center;
    margin: 12% 0% 0 -8%;
}

.processSA .iconbelowText2 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: -0.04em;
    text-align: center;
    color: #4A4A4A;
    margin: 12% 0% 0 -15%;

} */

@media screen and (max-width:1705px) and (min-width:1026px) {
    .processSA #iconbelowText {
        margin: 17% 0% 0 -10%;
        
    }

    .processSA {
        margin: 0 0 0 0%;
    }

    .provenDev .provenDevText {
        width: 90%;
        margin: 1% 0 0 5%;
       
    }

}

@media screen and (max-width:1025px) and (min-width:769px) {
    .processSA {
        margin: 0 0 0 -5%;
    }

    .provenDev .provenDevText {
        width: 81%;
        margin: 1% 0 0 8%;
    }
}


@media screen and (max-width:768px) and (min-width:431px) {
    .provenDev {
        height: 850px;
        position: relative;
    }

    .provenDev .provenDevdesc{
        display: block;
    }
    .provenDev .provenDevText {
        width: 81%;
        margin: 1% 0 6% 8%;
    }
    .arrowImg1,
    .arrowImg2 {
        display: none;
    }
    .processSAIcon1, .processSAIcon2, .processSAIcon3{
        margin-left: -4%;
        z-index: -1;
    }
}

@media screen and (max-width:430px) {
    .provenDev {
        height: 850px;
        position: relative;
        padding: 10% 5%;
    }

    .provenDev .provenDevdesc{
        display: block;
    }
    .provenDev .provenDevText {
        width: 81%;
        margin: 1% 0 6% 8%;
    }

    .arrowImg1,
    .arrowImg2 {
        display: none;
    }

    .processSAIcon1, .processSAIcon2, .processSAIcon3{
        margin-left: -4%;
        z-index: -1;
    }
}

@media screen and (max-width:375px) {
    .processSA #iconbelowText1 {
        margin: 2% 0 60% 3%;
    }
    .provenDev {
        height: 900px;
        position: relative;
        padding: 10% 5%;
    }
}