@font-face {
    font-family: 'poppins-thin';
    src: url('../../../Poppins/Poppins-Thin.ttf');
}

@font-face {
    font-family: 'poppins-medium';
    src: url('../../../Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'poppins-regular';
    src: url('../../../Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'poppins-semibold';
    src: url('../../../Poppins/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'poppins-light';
    src: url('../../../Poppins/Poppins-Light.ttf');
}

footer {
    background-color: #0A1020;
    height: 100%;
    width: 100%;
}

.footer {
    display: flex;
    line-height: 2;
    padding: 5% 11% 1%;
    width: 100%;
}

.laptopResponsive {
    display: flex;
    width: 50%;
}

.laptopResponsive1 {
    display: flex;
    width: 50%;
}

.footer h5 {
    font-family: poppins-medium;
    margin-top: 2%;
    font-size: 18px;
    color: #FFFFFF;
}


.address {
    display: block;
    margin: 0 0% 0 -8%;
    color: rgba(255, 255, 255, 0.8);
    font-family: poppins-regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
    width: 50%;
}

.branchOffice {
    margin: 5% 0 0 0;
}

.services {
    display: block;
    color: rgba(255, 255, 255, 0.8);
    font-family: poppins-regular;
    font-size: 14px;
    font-weight: 400;
    width: 50%;
    margin: 0 0 0 5%;
}

.aboutUs {
    display: block;
    color: rgba(255, 255, 255, 0.8);
    font-family: poppins-regular;
    font-size: 14px;
    font-weight: 400;
    width: 50%;

}

.careers {
    margin: 5% 0 0 0;
}

.contactUs {
    display: block;
    color: rgba(255, 255, 255, 0.8);
    font-family: poppins-regular;
    font-size: 14px;
    font-weight: 400;
    width: 50%;
}

.contact p {
    margin: unset !important;
}

.business {
    margin: 12% 0 0 0;

}

.copyRight {
    color: rgba(255, 255, 255, 0.8);
    font-family: poppins-regular;
    font-size: 14px;
    font-weight: 400;
    margin: 2% -0.4%;
    display: block;
}

.copyRight p {
    margin: 1% 8%;
}



.titleHr {
    border: 1px solid white;
    width: 50%;
    margin: 1% 0% 2% 0;
    opacity: 5;
}

.business {
    margin: 14% 0 0 0;

}

#paraHR {
    width: 75%;
    margin: 0 0 0 8%;
}

.logoIcon {
    width: 70px;
    height: 70px;
    margin: -10% 0% 0% 85%;
}



@media screen and (max-width:1705px) and (min-width:1030px) {
    footer {
        background-color: #0A1020;
        width: 100%;
    }

    .footer {
        padding: 3% 12% 1%;
    }


    .footer h5 {
        font-family: 'poppins-medium';
    }

    .footerDetails {
        margin: -2%;
    }

    .branchOffice {
        margin: 7% 0 0 0;
    }

    #paraHR {
        width: 70%;
        margin: 0 0 0 9.2%;
    }

    .copyRight p {
        margin: 1% 9.2%;
    }

}


@media screen and (max-width:1030px) and (min-width:768px) {
    footer {
        background-color: #0A1020;
        width: 100%;
    }

    .footer {
        display: block;
        padding: 3% 15%;

    }

    .laptopResponsive {
        margin: 5% 0 0 8%;
        width: 100%;
    }

    .laptopResponsive1 {
        margin: 5% 0 0 0%;
        width: 100%;
    }

    .contactUs {
        margin: 0 0 0 10%;
    }

    #paraHR {
        width: 70%;
        margin: 0 0 0 15%;
    }

    .copyRight p {
        margin: 1% 15%;
    }

    .logoIcon {
        width: 70px;
        height: 70px;
        margin: -15% 0% 0% 87%;
    }
}

@media screen and (max-width:768px) and (min-width:501px) {
    footer {
        background-color: #0A1020;
        width: 100%;
    }

    .footer {
        display: block;
        padding: 3% 12%;

    }

    .laptopResponsive {
        margin: 5% 0 0 8%;
        width: 100%;
    }

    .laptopResponsive1 {
        margin: 5% 0 0 0%;
        width: 100%;
    }

    .contactUs {
        margin: 0 0 0 10%;
    }

    #paraHR {
        width: 70%;
        margin: 0 0 0 12%;
    }

    .copyRight p {
        margin: 2% 12%;
    }

    .logoIcon {
        width: 70px;
        height: 70px;
        margin: -15% 0% 0% 87%;
    }

}

@media screen and (max-width:500px) and (min-width:430px) {
    footer {
        background-color: #0A1020;
        width: 100%;
    }

    .footer {
        display: block;
        padding: 3% 10%;

    }

    .laptopResponsive {
        margin: 5% 0 0 8%;
        width: 100%;
    }

    .laptopResponsive1 {
        margin: 5% 0 0 0%;
        width: 100%;
    }

    .contactUs {
        margin: 0 0 0 10%;
    }

    #paraHR {
        width: 70%;
        margin: 0 0 0 15%;
    }

    .copyRight p {
        margin: 1% 15%;
    }

    .logoIcon {
        width: 70px;
        height: 70px;
        margin: -15% 0% 0% 87%;
    }

}

@media screen and (max-width:430px) and (min-width:376px) {
    footer {
        background-color: #0A1020;
        width: 100%;
    }

    .footer {
        display: block;
        padding: 3% 5%;

    }

    .laptopResponsive {
        margin: 5% 0 0 8%;
        width: 100%;
    }

    .laptopResponsive1 {
        margin: 5% 0 0 0%;
        width: 100%;
    }


    .footer h5 {
        font-family: poppins-medium;
        font-size: 14px;
        color: #FFFFFF;
    }

    .address {
        display: block;
        margin: 0 0% 0 -8%;
        color: rgba(255, 255, 255, 0.8);
        font-family: poppins-regular;
        font-size: 12px;
        font-weight: 400;
        line-height: 2;
        width: 50%;
    }

    #addressBr {
        display: none;
    }

    .branchOffice {
        margin: 5% 0 0 0;
    }

    .services {
        display: block;
        color: rgba(255, 255, 255, 0.8);
        font-family: poppins-regular;
        font-size: 12px;
        font-weight: 400;
        width: 50%;
        margin: 0 0 0 5%;
    }

    .aboutUs {
        display: block;
        color: rgba(255, 255, 255, 0.8);
        font-family: poppins-regular;
        font-size: 12px;
        font-weight: 400;
        width: 50%;

    }

    .careers {
        margin: 5% 0 0 0;
    }

    .contactUs {
        display: block;
        color: rgba(255, 255, 255, 0.8);
        font-family: poppins-regular;
        font-size: 12px;
        font-weight: 400;
        width: 50%;
        margin: 0 0 0 3%;
    }

    .contact {
        margin: 0 0 0 5%;
    }

    .contact p {
        margin: unset !important;
    }

    .business {
        margin: 19% 0 0 5%;

    }

    .copyRight {
        color: rgba(255, 255, 255, 0.8);
        font-family: poppins-regular;
        font-size: 12px;
        font-weight: 400;
        margin: 2% -0.4%;
        display: block;
    }

    .copyRight p {
        margin: 5% 5%;
    }



    .titleHr {
        border: 1px solid white;
        width: 75%;
        margin: 1% 0% 2% 0;
        opacity: 5;
    }



    #paraHR {
        width: 75%;
        margin: 0 0 0 5%;
    }



    .logoIcon {
        width: 50px;
        height: 50px;
        margin: -20% 0% 0% 85%;
    }

}

@media screen and (max-width:375px) {
    footer {
        background-color: #0A1020;
        width: 100%;
    }

    .footer {
        display: block;
        padding: 3% 5%;

    }

    .laptopResponsive {
        margin: 5% 0 0 8%;
        width: 100%;
    }

    .laptopResponsive1 {
        margin: 5% 0 0 0%;
        width: 100%;
    }


    .footer h5 {
        font-family: poppins-medium;
        font-size: 12px;
        color: #FFFFFF;
    }

    .address {
        display: block;
        margin: 0 0% 0 -8%;
        color: rgba(255, 255, 255, 0.8);
        font-family: poppins-regular;
        font-size: 11px;
        font-weight: 400;
        line-height: 2;
        width: 50%;
    }

    #addressBr {
        display: none;
    }

    .branchOffice {
        margin: 5% 0 0 0;
    }

    .services {
        display: block;
        color: rgba(255, 255, 255, 0.8);
        font-family: poppins-regular;
        font-size: 11px;
        font-weight: 400;
        width: 50%;
        margin: 0 0 0 5%;
    }

    .aboutUs {
        display: block;
        color: rgba(255, 255, 255, 0.8);
        font-family: poppins-regular;
        font-size: 11px;
        font-weight: 400;
        width: 50%;

    }

    .careers {
        margin: 5% 0 0 0;
    }

    .contactUs {
        display: block;
        color: rgba(255, 255, 255, 0.8);
        font-family: poppins-regular;
        font-size: 11px;
        font-weight: 400;
        width: 50%;
        margin: 0 0 0 3%;
    }

    .contact {
        margin: 0 0 0 5%;
    }

    .contact p {
        margin: unset !important;
    }

    .business {
        margin: 19% 0 0 5%;

    }

    .copyRight p {
        margin: 5% 5%;
        font-size: 12px;
    }



    .titleHr {
        border: 1px solid white;
        width: 75%;
        margin: 1% 0% 2% 0;
        opacity: 5;
    }

    #paraHR {
        width: 75%;
        margin: 0 0 0 5%;
    }



    .logoIcon {
        width: 50px;
        height: 50px;
        margin: -20% 0% 0% 85%;
    }
}