@font-face {
    font-family: 'poppins-thin';
    src: url('../../../Poppins/Poppins-Thin.ttf');
}

@font-face {
    font-family: 'poppins-medium';
    src: url('../../../Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'poppins-regular';
    src: url('../../../Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'poppins-semibold';
    src: url('../../../Poppins/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'poppins-light';
    src: url('../../../Poppins/Poppins-Light.ttf');
}

footer {
    background-color: #0A1020;
    height: 100%;
    width: 100%;
}


.footer {
    display: flex;
    line-height: 2;
    margin: 0 0 0 20%;
    padding-top: 3%;
}

.footer h5 {
    font-family: poppins-medium;
    margin-top: 2%;
    font-size: 18px;
}

.footerDetails {
    margin: -2%;
}

.address {
    display: block;
    margin: 0 -10% 0 -8%;
    color: #FFFFFF;
    font-family: poppins-regular;
    font-size: 14px;
    font-weight: 400;
    width: 30vw;
    line-height: 2;
}

.services {
    display: block;
    color: #FFFFFF;
    font-family: poppins-regular;
    font-size: 14px;
    font-weight: 400;
    margin: 0 22% 0 -8%;
    width: 20vw;

}

.aboutUs {
    display: block;
    color: #FFFFFF;
    font-family: poppins-regular;
    font-size: 14px;
    font-weight: 400;
    margin: 0 9% 0 -70%;

}

.contactUs {
    display: block;
    color: #FFFFFF;
    font-family: poppins-regular;
    font-size: 14px;
    font-weight: 400;
    margin: 0 2%;

}

.business {
    margin: 5% 0 0 0;

}

.copyRight {
    color: #FFFFFF;
    font-family: poppins-regular;
    font-size: 14px;
    font-weight: 400;
    margin: 2% 10%;
    display: block;
}

.copyRight p {
    margin: 1% 8%;
}

.copyRightHr {
    color: #FFFFFF;
    width: 85%;
    margin: 1% 0% 0 8%;
    opacity: 0.5;
}

.titleHr {
    border: 1px solid white;
    width: 50%;
    margin: 1% 0% 2% 0;
    opacity: 5;
}

#paraHR {
    width: 80%;
    margin: 0 0 0 8%;

}

.logoIcon {
    width: 70px;
    height: 70px;
    margin: -10% 0% 0% 85%;
}

.laptopResponsive {
    display: flex;
}

.laptopResponsive1 {
    display: flex;


}

@media screen and (max-width:1440px) and (min-width:1030px) {
    footer {
        background-color: #0A1020;
        height: 100%;
        width: 100%;
    }

    .footer {
        display: flex;
        line-height: 1.5;
        padding: 3% 10%;
        margin: 2% 0 0 0%;
    }

    .footer h5 {
        font-family: 'poppins-medium';
    }

    .footerDetails {
        margin: -2%;
    }

    .address {
        display: block;
        margin: 0 12% 0 11%;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 400;
    }

    .services {
        display: block;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 400;
        margin: 0 19% 0 -10%;

    }

    .services p {
        width: 20vw;

    }

    .headOffice {
        width: 20vw;
    }

    .aboutUs {
        display: block;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 400;
        margin: 0 17% 0 -21%;

    }

    .contactUs {
        display: block;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 400;
        margin: 0 10% 0 -12%;

    }

    .copyRight {
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 400;
        margin: -1% 3%;
        display: block;
    }

    .copyRight p {
        margin: 1% 13%;
    }

    .copyRight hr {
        color: #FFFFFF;
        width: 75%;
        margin: 1% 0% 0 12.5%;
        opacity: 0.5;
    }

    .logoIcon {
        width: 70px;
        height: 70px;
        margin: -8% 0% 0% 90%;
    }

    .laptopResponsive {
        display: flex;
    }

    .laptopResponsive1 {
        display: flex;
    }

}


@media screen and (max-width:1030px) and (min-width:775px) {
    footer {
        background-color: #0A1020;
        height: 100%;
        width: 100vw;
    }

    .laptopResponsive {
        margin: 5% 0 0 0;
        width: 100%;
    }

    .address {
        display: block;
        margin: 0 -4% 0 -7%;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 400;
        width: 50%;
    }

    .address .headOffice {
        width: 200%;
    }

    .address .branchOffice {
        width: 210%;
    }

    .services {
        margin: 0 0 0 69%;
        width: 50%;
        font-size: 16px;
    }

    .services p {
        width: 200%;
    }

    .laptopResponsive1 {
        margin: 45% 0% 0 -23.2%;
        width: 100%;

    }

    .contactUs {
        margin: 0 0% 0 30%;
        width: 50%;
        font-size: 16px;


    }

    .aboutUs {

        width: 50%;
        font-size: 16px;


    }

    .copyRight {
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 400;
        margin: 2% 10%;
        display: block;
    }

    .copyRightHr {
        color: #FFFFFF;
        width: 47%;
        margin: 1% 0% 0 26%;
        opacity: 0.5;
    }

    .logoIcon {
        width: 70px;
        height: 70px;
        margin: -15% 0% 0% 87%;
    }
}

@media screen and (max-width:770px) and (min-width:501px) {
    footer {
        background-color: #0A1020;
        width: 100vw;
        padding-bottom: 15%;
    }

    .laptopResponsive {
        margin: 2% 0 0 -10%;
        width: 100%;

    }

    .address {
        width: 50%;
    }

    .address .headOffice {
        width: 200%;
    }

    .address .branchOffice {
        width: 210%;
    }

    .services {
        margin: 0 0 0 70%;
        width: 50%;
    }

    .services p {
        width: 200%;
    }


    .aboutUs {

        margin: 2% 0% 0 -90%;
        width: 50%;

    }

    .laptopResponsive1 {
        margin: 48% 0% 0 -10%;
        width: 100%;
    }

    .contactUs {
        margin: 4% 0% 0 40%;
        width: 50%;
    }

    .business {
        margin: 12% 0 0 0;

    }

    .copyRight p {
        width: 80%;
        margin: 2% 0 0 -2%;
    }

    .copyRightHr {
        width: 90%;
        margin: 0 0 0 -2%
    }

    .logoIcon {
        width: 60px;
        height: 60px;
        margin: -20% 0% 0% 80%;
    }

}

@media screen and (max-width:500px) and (min-width:426px) {
    footer {
        background-color: #0A1020;
        height: 100%;
        width: 100vw;
    }

    .footer p {
        font-size: 12px;
    }

    .laptopResponsive {
        margin: 5% 0 0 -10%;
        width: 100%;

    }

    .address {
        width: 50%;
    }

    .address .headOffice {
        font-size: 11px;
        margin-top: 10%;
        width: 200%;
    }

    .address .branchOffice {
        font-size: 11px;
        width: 210%;

    }

    .aboutUs {

        margin: 2% 0% 0 -86%;

    }

    .services {
        margin: 2% 0 0 95%;
    }

    .services p {
        width: 200%;
    }

    .laptopResponsive1 {
        margin: 65% 0% 0 7%;
        width: 100%;
    }

    .aboutUs {
        width: 50%;
    }

    .company {
        font-size: 12px;
    }

    .contactUs {
        margin: 5% 0% 0 40%;
        width: 50%;
    }

    .careers {
        margin: 26% 0 0 0;
    }

    .business {
        margin: 31% 0 0 0;

    }

    .copyRight p {
        width: 80%;
        margin: 2% 0 0 -2%;
        font-size: 12px;
    }

    .copyRightHr {
        width: 85%;
        margin: 0 0 0 -2%
    }

    .logoIcon {
        width: 50px;
        height: 50px;
        margin: -20% 0% 0% 80%;
    }

}

@media screen and (max-width:425px) and (min-width:376px) {
    footer {
        background-color: #0A1020;
        height: 100%;
        width: 100vw;
    }

    .footer p {
        font-size: 12px;
    }

    .laptopResponsive {
        margin: 5% 0 0 -10%;
        width: 100%;

    }

    .address {
        width: 50%;
    }

    .address .headOffice {
        font-size: 11px;
        margin-top: 10%;
        width: 200%;
    }

    .address .branchOffice {
        font-size: 11px;
        width: 210%;

    }

    .aboutUs {

        margin: 2% 0% 0 -86%;

    }

    .services {
        margin: 2% 0 0 70%;
    }

    .services p {
        width: 200%;
    }

    .laptopResponsive1 {
        margin: 85% 0% 0 13%;
        width: 100%;
    }

    .aboutUs {
        width: 50%;
    }

    .company {
        font-size: 12px;
    }

    .contactUs {
        margin: 5% 0% 0 20%;
        width: 50%;
    }

    .careers {
        margin: 26% 0 0 0;
    }

    .business {
        margin: 31% 0 0 0;

    }

    .copyRight p {
        width: 80%;
        margin: 2% 0 0 -2%;
        font-size: 12px;
    }

    .copyRightHr {
        width: 85%;
        margin: 0 0 0 -2%
    }

    .logoIcon {
        width: 50px;
        height: 50px;
        margin: -20% 0% 0% 80%;
    }

}

@media screen and (max-width:375px) {
    footer {
        background-color: #0A1020;
        height: 100%;
        width: 100vw;
    }

    .footer p {
        font-size: 11px;
    }

    .laptopResponsive {
        margin: 5% 0 0 -10%;
        width: 100%;
    }

    .address {
        width: 50%;
    }

    .address .headOffice {
        width: 200%;
        font-size: 11px;
    }

    .address .branchOffice {
        width: 210%;
        font-size: 11px;
    }

    .services {
        width: 50%;
        margin-top: 4%;
        margin-left: 75%;
    }

    .services p {
        width: 200%;
    }

    .laptopResponsive1 {
        margin: 100% 0% 0 17.5%;
        width: 100%;

    }

    .aboutUs {
        width: 50%;
        margin-left: -92%;
    }

    .contactUs {
        width: 50%;
        margin: 0 0 0 20%;
    }

    .careers {
        margin: 15% 0 0 0;

    }

    .business {
        margin: 10% 0 0 -2%;

    }

    .copyRight p {
        width: 80%;
        margin: 2% 0 0 -2%;
        font-size: 12px;
    }

    .copyRightHr {
        width: 90%;
        margin: 0 0 0 0%
    }

    .logoIcon {
        width: 50px;
        height: 50px;
        margin: -20% 0% 0% 80%;
    }
}