.bcBanner {
    background-image: url('../../../images/allpageabanner/blockchain/blockchain_1x.webp');
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
    padding: 5% 8%;
    display: block;
}

.bcBannerRes {
    display: none;
}

#bcbannerTitle {
    font-family: Poppins;
    font-size: 65px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: -0.04em;
    text-align: left;
    background: linear-gradient(180deg, #FFFFFF 26.54%, rgba(255, 255, 255, 0) 116.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 18% 0 1% 5%;
    width: 50%;
}

#bcBannergradienttext {
    background: linear-gradient(90deg, #FF3BFF 0%, #ECBFBF 38.02%, #5C24FF 75.83%, #D94FD5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#bcbannerText {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.bcdemoButton {
    background-image: url("../../../images/blockchaindevelopment/demobtn.png");
    background-repeat: no-repeat;
    background-size: 10% 100%;
    padding: 1%;
    color: #FFFFFF;
    padding-left: 2%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    cursor: pointer;

}

@media screen and (max-width:1705px) and (min-width:1025px) {
    #bcbannerTitle {
        width: 50%;
    }

    .bcBanner {
        height: 100vh;
    }
    #bcbannerTitle {
        font-family: Poppins;
        font-size: 57px;
        font-weight: 400;
        line-height: 70px;
        letter-spacing: -0.04em;
        text-align: left;
        background: linear-gradient(180deg, #FFFFFF 26.54%, rgba(255, 255, 255, 0) 116.98%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin: 18% 0 1% 8%;
        width: 50%;
    }
}

@media screen and (max-width:1024px) and (min-width:768px) {
    .bcBanner {
        padding: 5% 8%;
        height: 93vh;
    }

   
    #bcbannerTitle {
        font-family: Poppins;
        font-size: 40px;
        font-weight: 400;
        line-height: 50px;
        letter-spacing: -0.04em;
        text-align: left;
        background: linear-gradient(180deg, #FFFFFF 26.54%, rgba(255, 255, 255, 0) 116.98%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin: 30% 0 1% 7%;
        width: 50%;
    }
    .bcdemoButton {
        background-size: 13% 100%;
    }
}

@media screen and (max-width:768px) and (min-width:431px) {
    .bcBanner {
        padding: 5% 8%;
        height: 100vh;
    }

    .innerbcBanner {
        margin: 15% 0 0 0;
    }

    #bcbannerTitle {
        font-family: Poppins;
        font-size: 40px;
        font-weight: 400;
        line-height: 50px;
        letter-spacing: -0.04em;
        text-align: left;
        background: linear-gradient(180deg, #FFFFFF 26.54%, rgba(255, 255, 255, 0) 116.98%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin: 35% 0 0% 10%;
        width: 80%;
    }

    .bcdemoButton {
        background-size: 15% 100%;
    }
}

@media screen and (max-width:430px) {
    .bcBanner {
        display: none;
    }

    .bcBannerRes {
        display: block;
        background-image: url('../../../images/blockchaindevelopment/bcd29.png');
        height: 100vh;
        padding: 10% 5%;
    }

    .innerbcBannerRes {
        margin: 15% 0 10% 0;
    }

    #bcbannerTitleRes {
        font-family: Poppins;
        font-size: 30px;
        font-weight: 400;
        line-height: 50px;
        letter-spacing: -0.04em;
        text-align: left;
        background: linear-gradient(180deg, #FFFFFF 26.54%, rgba(255, 255, 255, 0) 116.98%);
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin: 70% 0 0 6%;
    }

    #bcbannerTextRes {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
    }

    .bcdemoButton {
        background-image: url("../../../images/blockchaindevelopment/demobtn.png");
        background-repeat: no-repeat;
        background-size: 30% 100%;
        padding: 2%;
        color: #FFFFFF;
        padding-left: 5%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
    }
}

@media screen and (max-width:375px) {
    .innerbcBannerRes {
        margin: 15% 0 10% -11px;
    }
}