.bcNetwork{
    padding: 5% 5%;
}
#bcnetworkgradient{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.025em;
    text-align: center;
    background: linear-gradient(272.57deg, #AD00FF 21.61%, #FF7A00 133.54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#bcnetworkTitle{
    font-family: Poppins;
    font-size: 44px;
    font-weight: 600;
    line-height: 62px;
    letter-spacing: -0.025em;
    text-align: center;
    color: #000000;    
}
#bcnetworkText{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    color: #4D4D4DBF;    
    width: 80%;
    margin: 0 0 0 12%;
}
.bcnetworkImages{
    padding: 3% 5%;
    display: block;
    margin: 3% 0 0 10%;
}

.bcnetworkRes{
    display: none;
}
.bcnetworkImage1{
    display: flex;
}
.bcnetworkImage1 img{
    margin: 0 0 0 5%;
}
.bcnetworkImage2{
    display: flex;
    margin: 0 0 0 15%;
}
.bcnetworkImage2 img{
    margin: 3% 0 0 7%;
}
@media screen and (max-width:1440px) and (min-width:1025px) {
    .bcnetworkImages{
        padding: 3% 3%;
        margin: 0 0 0 2%;
    }
    #bcnetworkText{
        margin: 0 0 0 1%;
        width: 100%;
    }
}
@media screen and (max-width:1024px) and (min-width:768px) {
    #bcnetworkText{
        margin: 0 0 0 1%;
        width: 100%;
    }
    .bcnetworkImages{
        margin: 0 0 0 -12%;
    }
}
@media screen and (max-width:768px) and (min-width:431px) {
    #bcnetworkTitle{
        font-size: 40px;
    }
   .bcnetworkImages{
       width: 75%;
   }
   .bcnetworkImage2{
       margin: 5% 0 0 35%;
   }
}
@media screen and (max-width:430px) {
    #bcnetworkTitle{
        font-family: Poppins;
        font-size: 24px;
        font-weight: 600;
        line-height: 34px;
        letter-spacing: -0.025em;
        text-align: center;
        margin: 0 0 0 -1%;
    }
    #bcnetworkText{
        display: none;
    }
    .bcnetworkImages{
        display: none;
    }
    .bcnetworkRes{
        display: block;
        margin: 10% 0 5% 3%;
    }
    .bcnetworkImageRes1{
        margin:0 0 0 -10%;
    }
    .bcnetworkImageRes1 img{
       margin:0 0 0 3%;
    }
    .bcnetworkImageRes2{
         margin: 5% 0 0 5%;
    }
    .bcnetworkImageRes2 img{
        margin:0 0 0 5%;
   }
    .bcnetworkImageRes3{
        margin:5% 0 0 -5%;
    }
    .bcnetworkImageRes3 img{
        margin:0 0 0 3%
    }
}
@media screen and (max-width:375px) {
    .bcnetworkImageRes1{
        margin:0 0 0 -5%;
    }
    .bcnetworkImageRes1 img{
       margin:0 0 0 1%;
    }
    .bcnetworkImageRes2{
         margin: 5% 0 0 5%;
    }
    .bcnetworkImageRes2 img{
        margin:0 0 0 5%;
   }
    .bcnetworkImageRes3{
        margin:5% 0 0 -5%;
    }
    .bcnetworkImageRes3 img{
        margin:0 0 0 1%
    }
}