.bcServices {
    width: 100%;
    position: relative;
    background-image: url('../../../images//blockchaindevelopment/bcd30.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 1250px;
}

.innerbcServices {
    position: absolute;
    top: 100px;
    width: 100%;

}

.bcServicesBG {
    width: 100%;
}

.bcServicesText {
    width: 100%;
    padding: 3% 5%;
    display: flex;
    margin: 0 0 0 10%;
}

.bcServicesLeft {
    width: 30%;
}

.bcServicesRight {
    width: 70%;
}

#bcServicesTitle1 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.025em;
    text-align: left;
    color: #FFFFFF;
}

#bcServicesTitle2 {
    font-family: Poppins;
    font-size: 38px;
    font-weight: 500;
    line-height: 46px;
    letter-spacing: -0.055em;
    text-align: left;
    background: linear-gradient(90deg, #FF3BFF 0%, #ECBFBF 38.02%, #5C24FF 75.83%, #D94FD5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#bcServicesrightText {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: justified;
    color: #FFFFFFFC;
    width: 70%;
}

.bctalkServices {
    padding: 3% 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 11%;
    grid-column-gap: 3%;

}


.bcservicesCards:hover {
    border: 0.46px solid !important;
    padding: 8% 5% 28%;
    border-radius: 15px !important;
    background-size: 100% 100% !important;
    background-image: url("../../../images/blockchaindevelopment/cardbgHover.png") !important;
    background-repeat: no-repeat !important;
    cursor: pointer;
}

.bcservicesCards {
    border: 0.46px solid;
    padding: 8% 5% 28%;
    border-radius: 15px;
    background-image: url("../../../images/blockchaindevelopment/cardbg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#bcCardtitle {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.025em;
    text-align: left;
    color: #FFFFFF;
    width: 60%;
    margin: 5% 0 0 0;
}

#bcCardtext {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFFA6;
    margin: 5% 0 0 0;
    height: 65%;
    width: 90%;
}

.bcServicesbutton {
    background: #404759;
    border-radius: 8px;
    color: #FFFFFF;
    width: 30%;
    height: 15%;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14.0557px;
    line-height: 120%;
}

.bcserviceChoose {
    padding: 3% 5%;

}

#bcservicechooseTitle {
    font-family: Poppins;
    font-size: 26px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.025em;
    text-align: center;
    color: #FFFFFF;
}

#bcservicegradientText {
    background: linear-gradient(272.33deg, #f12929 21.7%, #FF7A00 103.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#bcservicechooseText {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF80;
    width: 65%;
    margin: 1% 0 0 18%;

}

.bcserviceschooseCards {
    padding: 3% 15%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 11%;
    grid-column-gap: 3%;
    margin: 0% 0 0 0%;
}

.bcserviceschooseCard1 {
    background-image: url('../../../images/blockchaindevelopment/bcd21.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.bcserviceschooseCard2 {
    background-image: url('../../../images/blockchaindevelopment/bcd24.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.bcserviceschooseCard3 {
    background-image: url('../../../images/blockchaindevelopment/bcd22.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.bcserviceschooseCard4 {
    background-image: url('../../../images/blockchaindevelopment/bcd23.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#bcserviceschooseCardText {
    margin: 25% 0 15% 23%;
}
#bcserviceschooseCardText {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.025em;
    text-align: center;
    color: #FFFFFF;
    width: 55%;
    text-align: center;
    margin: auto;
    margin-top: 25%;
}

@media screen and (max-width:1445px) and (min-width:1025px) {
    .bcServices {
        height: 1300px;

    }

    .innerbcServices {
        top: 50px;
        width: 100%;
    }

    .bcServicesText {
        padding: 5% 2%;
    }

    .bcServicesLeft {
        width: 20%;
    }

    .bcServicesRight {
        width: 80%;
    }

    #bcServicesrightText {
        width: 75%;
        margin: 2% 0 0 5%;
    }

    #bcCardtitle {
        width: 80%;
    }

    #bcserviceschooseCardText {
        margin: 25% 0 15% 23%;
    }
}

@media screen and (max-width:1024px) and (min-width:769px) {
    .innerbcServices {
        top: 30px;
    }

    .bcServices {
        height: 1200px;
    }

    .bcServicesText {
        padding: 5% 1%;
        margin: 0 0 0 5%;
    }

    #bcServicesrightText {
        width: 94%;
    }

    .bcserviceschooseCards {
        padding: 3% 5%;
        margin: 0 0 0 0%;
    }

    #bcserviceschooseCardText {
        width: 85%;
        padding: 30px;
        top: 0px;
        left: 20px;
    }

    .bctalkServices {
        padding: 3% 5%;
    }

    .bcservicesCards {
        width: 100%;
    }

    #bcCardtitle {
        width: 100%;
    }
    #bcCardtext{
        width: 95%;
    }
    .bcServicesbutton {
        width: 50%;
        height: 10%;
    }


}

@media screen and (max-width:768px) and (min-width:431px) {
    .bcServices {
        height: 1600px;
    }
    .innerbcServices {
        top: 55px;
        width: 100%;
    }

    #bcCardtitle {
        width: 85%
    }

    #bcservicechooseText {
        width: 80%;
        margin: 0 0 0 11%;
    }

    .bctalkServices {
        padding: 3% 5%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 5%;
        grid-column-gap: 3%;
    }

    .bcserviceChoose {
        margin: 3% 0 0 0;
    }

    .bcserviceschooseCard1,
    .bcserviceschooseCard2,
    .bcserviceschooseCard3,
    .bcserviceschooseCard4 {
        background-size: 100% 100%;
    }
    .bcserviceschooseCards {
        padding: 3% 5%;
        margin: 0 -1% 0 -4%;
    }
    #bcserviceschooseCardText {
        width: 100%;
        padding: 25px;
        top: -15px;
        left: 15px;
    }

    .bcServicesbutton {
        width: 50%;
        height: 15%;
    }
    .bcServicesText {
        padding: 5% 1%;
        margin: 0 0 0 3%;
    }
    .bcServicesLeft {
        width: 40%;
    }

}

@media screen and (max-width:430px) {
    .bcServices {
        background-image: url('../../../images/blockchaindevelopment/bcd31.png');
        background-size: 100% 100%;
        height: 2900px;
    }

    .innerbcServices {
        top: 40px;
    }

    .bcServicesText {
        display: block;
        padding: 1% 1%;
        margin: 0 0 0 3%;
    }

    .bcServicesLeft {
        width: 100%;
    }

    .bcServicesRight {
        width: 100%;
    }

    #bcServicesTitle1 {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.025em;
        text-align: left;
    }

    #bcServicesTitle2 {
        font-family: Poppins;
        font-size: 38px;
        font-weight: 500;
        line-height: 46px;
        letter-spacing: -0.055em;
        text-align: left;
    }

    #bcServicesrightText {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: justified;
        width: 100%;
    }

    .bctalkServices {
        display: block;
        padding: 3% 5%;
    }

    .bcservicesCards {
        width: 100%;
        margin: 0 0 8% 0;
        padding: 8% 5% 20%;
    }

    #bcCardtext {
        height: 80%;
    }

    .bcServicesbutton {
        margin: 10% 0 0 0;
    }

    #bcservicechooseTitle {
        font-family: Poppins;
        font-size: 22px;
        font-weight: 600;
        line-height: 31px;
        letter-spacing: -0.025em;
        text-align: center;
    }

    #bcservicechooseText {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
        width: 100%;
        margin: auto;
    }

    .bcserviceschooseCards {
        padding: 3% 15%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 5%;
        grid-column-gap: 3%;
        margin: -5% 0 0 0%;
    }
    .bcserviceschooseCard1,
    .bcserviceschooseCard2,
    .bcserviceschooseCard3,
    .bcserviceschooseCard4 {
      height: 215px;
    }
}