.agileDev{
    background-color: #0A1020;
    width: 100%;
    padding: 4% 3%;
}
#agileDevTitle{
    font-family: Poppins;
    font-size: 34px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: -0.025em;
    text-align: center;
    background: linear-gradient(272.33deg, #AD00FF 21.7%, #FF7A00 103.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: 46%;
    margin: 0 0 0 25%;
}
.agileCards{
    width: 100%;
    padding: 4% 3%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 11%;
    grid-column-gap: 3%;
}
.agileimage2{
    margin:-8% 0 0 0;
}
.agileCard1{
    display: flex;

}
.agilecardText{
    display: block;
    margin: 5% 0 0 0;    
}
.agilecardText2{
    margin: 8% 0 0 -3%;
    width: 100%;
}
#agileTitle{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
     color: #FFFFFF;    
}
#agileText{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #A4A4A4;
    width: 75%;
}
#agileText2{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #A4A4A4;
    width: 90%;
}
#agileDevbutton{
    background: #0A1020;
    width: 30%;
    text-align: center;
    margin: 2% 0 0 0%;
    color: #FFFFFF;
    border: 1px solid ;
    border-image-slice: 1;
    border-width: 1px;
    border-radius: 8px !important;
}
.border-gradient-purple {
    border-image-source: linear-gradient(272.33deg, #AD00FF 21.7%, #FF7A00 103.44%);
    
}
@media screen and (max-width:1440px) and (min-width:1025px) {
.agileCards{
    padding: 3% 0%;
    margin: 0 0 0 -2%;
}
#agileDevTitle{
    width: 65%;
    margin: 0 0 0 18%;
}
#agileText{
    width: 100%;
}
.agilecardText2{
    margin: 5% 0 0 -7%;
    width: 100%;
}
#agileText2{
    width: 100%;
}
}
@media screen and (max-width:1025px) and (min-width:768px) {
    .agileCards{
        padding: 3% 0%;
        margin: 0 0 0 -5%;
        display: block;
    }
    #agileDevTitle{
        width: 65%;
        margin: 0 0 0 18%;
    }
    #agileText{
        width: 100%;
    }
    .agilecardText2{
        margin: 8% 0 0 -5%;
        width: 100%;
    }
    #agileText2{
        width: 100%;
    }
    .agileCard1{
        margin: 5% 0 0 0;
    }
    .agileimage2 {
        margin: -5% 0 0 -5%;
    }
}
@media screen and (max-width:768px) and (min-width:431px){
    .agilecardText2{
        margin: 8% 0 0 -6%;
        width: 100%;
    }
    .agileimage2 {
        margin: -5% 0 0 -7%;
    }
}
@media screen and (max-width:430px) {
    #agileDevTitle{
        font-family: Poppins;
        font-size: 26px;
        font-weight: 600;
        line-height: 34px;
        letter-spacing: -0.025em;
        text-align: center;
        width: 90%;
        margin: 0 0 0 5%;
    }
    .agileCards{
        padding: 3% 0%;
        display: block;
    }
    .agileCard1{
        display: block;
    }
    .agilecardText{
        margin: 0 0 0 10%;
    }
    .agilecardText2{
        margin: 0 0 0 10%;
    }
    #agileTitle{
        font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: center;
    }
    #agileText{
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;
        width: 75%;
    }
    #agileText2{
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;
        width: 75%;
    }
    #agileDevbutton{
        width: 30%;
        margin: 5% 0 0 20%;
       
    }
}