body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.container2{
    background-color: #0A1020;
    display: flex;
    height: 65%;
    padding: 6% 9% 3% 18%;
}
.blogHr{
    color: white;
    border: 2px solid #ffff;
    width: 100%;
    margin: 0 0 8% 0;
}
.bloghead{
    color: white;
    width: 19vw;
}
.arrows{
    margin-left: 20vw;
    margin-top: -34%;
}
.arrows2{
    margin-left: 20vw;
    margin-top: -45%;
}
.Blogs{
    margin-right: 20%;
    line-height: 1.6;
}
.box{
    width: 130%;
    height: 60%;
    margin-left: 5%;
    padding: 13%;
    background-color: #50535e; 
    border-radius: 5%
}
.careershead{
    color: #f6f6f6;
}
.careersdec{
    text-align: center;
    color: white;
    opacity: 52%;
    padding: 5% 0;
}
.date {
    color: white;
    opacity: 52%;
    font-family: poppins-light;
}
.blurTitle{
    padding: 0 10% 8% 12%;
    font-size: 36px;
    background: linear-gradient(182.19deg, #FFFFFF -860.5%, rgba(255, 255, 255, 0) 98.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    
}
.blurTitle1{
    padding: 0 10% 8% 40%;
    font-size: 36px;
    background: linear-gradient(182.19deg, #FFFFFF -860.5%, rgba(255, 255, 255, 0) 98.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.jobs{
    margin-left: 7vw;
    color: #FFFFFF;
    background-color: transparent;
    background-image: linear-gradient(90deg, #E25C37 0%, #951B98 100%);
}


@media screen  and (max-width:1024px) and (min-width:775px){
    .container2{
        background-color: #0A1020;
        display: flex;
        height: 60%;
        padding: 5% 9% 0 10%;
        line-height: 1.7;

    }
    
    .bloghead{
        color: white;
        width: 65%;

    }
    .arrows{
        margin-left: 90%;
        margin-top: -35%;
    }
    .arrows2{
        margin-left: 90%;
        margin-top: -48%;
    }
    .Blogs{
        margin-right: 20%;
    }
    .box{
        width: 125%;
        height: 50%;
        margin-left: -2%;
        padding: 10%;
        background-color: #50535e; 
        border-radius: 5%;
    }
    .careershead{
        color: #f6f6f6;
        font-size:large;
        padding-top: 8%;
        margin-left: 10%;
    }
    .careersdec{
        text-align: center;
        color: white;
        opacity: 52%;
        font-size:small;
        padding-top: 8%;
    }
    .date {
        color: white;
        opacity: 52%;
        font-family: poppins-light;
        padding-bottom: 3%;

    }
    .blurTitle{
        padding: 0 0 5% 5vw;
    }
    .jobs{
        margin-left: 5vw;
        color: #FFFFFF;
        background-color: transparent;
        background-image: linear-gradient(90deg, #E25C37 0%, #951B98 100%);
    }
    .blurTitle1{
        padding: 0 0 9% 25%;
    }
}

@media screen  and (max-width:1440px) and (min-width:1030px){
    .container2{
        background-color: #0A1020;
        display: flex;
        padding: 3% 9% 0 15%;
        line-height: 1.7;

    }
    
    .bloghead{
        color: white;
        width: 24vw;
    }
    .arrows{
        margin-left: 27vw;
        margin-top: -33%;
    }
    .arrows2{
        margin-left: 27vw;
        margin-top: -40;
    }
    .Blogs{
        margin-right: 20%;
    }
    .box{
        width: 160%;
        height: 60%;
        margin-left: 5%;
        padding: 17%;
        background-color: #50535e; 
        border-radius: 5%;
    }
    .careershead{
        color: #f6f6f6;
        font-size:large;
        padding-top: 8%;
        padding-left: 15%;
    }
    .careersdec{
        text-align: center;
        color: white;
        opacity: 52%;
        font-size:small;
        padding-top: 8%;

    }
    .date {
        color: white;
        opacity: 52%;
        font-family: poppins-light;
    }
    .blurTitle{
        padding: 0 0 9% -30%;
    }
    .blurTitle1{
        padding: 0 0 9% 35%;
    }
    .jobs{
        margin-left: 30%;
        color: #FFFFFF;
        background-color: transparent;
        background-image: linear-gradient(90deg, #E25C37 0%, #951B98 100%);
    }

}

@media screen  and (max-width:770px) and (min-width:500px){
    .container2{
        background-color: #0A1020;
        display: block;
        height: 100%;
        padding: 5% 9% 8% 10%;
        line-height: 1.7;
    }
    
    .bloghead{
        color: white;
        width: 100%;
    }
    .arrows{
        margin-left: 100%;
        margin-top: -30%;
    }
    .arrows2{
        margin-left: 100%;
        margin-top: -28%;
    }
    .Blogs{
        margin-right: 20%;
    }
    .box{
        width: 95%;
        height: 33%;
        margin-left: 0%;
        padding: 5%;
        background-color: #50535e; 
        border-radius: 7px;
        margin-top: -7%;
    }
    .blogHr{
        display: none;
    }
    .careershead{
        color: #f6f6f6;
        font-size:  35px;
        padding-top: 1%;
        text-align: center; 
       }
    .careersdec{
        text-align: center;
        color: white;
        opacity: 52%;
        font-size:20px;
        padding-top: 2%;

    }
    .date {
        color: white;
        opacity: 52%;
        font-family: poppins-light;
    }
    .blurTitle{
        padding: 0 0 9% 30%;
        padding-top: 2%;
    }
    .jobs{
        margin-left: 30vw;
        color: #FFFFFF;
        background-color: transparent;
        background-image: linear-gradient(90deg, #E25C37 0%, #951B98 100%);
    }
    .blurTitle1{
        padding: 0 0 9% 35%;
    }
}
@media screen  and (max-width:425px) and (min-width:375px){
    .container2{
        background-color: #0A1020;
        display: block;
        height: 100%;
        padding: 5% 9% 10% 10%;
        line-height: 2;
    }
    .blurTitle{
        padding: 0 0 9% 3%;
    }
    .bloghead{
        color: white;
        width: 70%;
        font-size: 12px;
    }
    .arrows{
        margin-left: 80%;
        margin-top: -33%;
    }
    .arrows2{
        margin-left: 80%;
        margin-top: -44%;
    }
    .Blogs{
        margin-right: 0%;
    }
    .box{
        width: 100%;
        height: 50%;
        margin-left: 0%;
        padding: 10%;
        background-color: #50535e; 
        border-radius: 5%;
    }
    .careershead{
        color: #f6f6f6;
        font-size:large;
        padding-top: 8%;
        padding-left: 10%;
    }
    .careersdec{
        text-align: center;
        color: white;
        opacity: 52%;
        font-size:small;
        padding-top: 8%;

    }
    .date {
        color: white;
        opacity: 52%;
        font-family: poppins-light;
    }
    .blurTitle1{
        padding: 0 0 9% 25%;
    }
    .jobs{
        margin-left: 30%;
        color: #FFFFFF;
        background-color: transparent;
        background-image: linear-gradient(90deg, #E25C37 0%, #951B98 100%);
    }
    .blogHr{
        display: none;
    }
}

@media screen  and (max-width:378px) {
    .container2{
        background-color: #0A1020;
        display: block;
        height: 90%;
        padding: 5% 9% 10% 10%;
        line-height: 2;
    }
    .blurTitle{
        padding: 0 0 9% 3%;
    }
    .bloghead{
        color: white;
        width: 70%;
        font-size: 12px;
    }
    .arrows{
        margin-left: 80%;
        margin-top: -33%;
    }
    .arrows2{
        margin-left: 80%;
        margin-top: -44%;
    }
    .Blogs{
        margin-right: 0%;
    }
    .box{
        width: 100%;
        height: 50%;
        margin-left: 0%;
        padding: 10%;
        background-color: #50535e; 
        border-radius: 5%;
    }
    .careershead{
        color: #f6f6f6;
        font-size:large;
        padding-top: 8%;
        padding-left: 10%;
    }
    .careersdec{
        text-align: center;
        color: white;
        opacity: 52%;
        font-size:small;
        padding-top: 8%;

    }
    .date {
        color: white;
        opacity: 52%;
        font-family: poppins-light;
    }
    .blurTitle1{
        padding: 0 0 9% 25%;
    }
    .jobs{
        margin-left: 20vw;
        color: #FFFFFF;
        background-color: transparent;
        background-image: linear-gradient(90deg, #E25C37 0%, #951B98 100%);
    }
    .blogHr{
        display: none;
    }
}