@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
@media screen  and (min-width:1450px) 
{
.container2{
    background: #0A1020;
    display: flex;
    height: 65%;
    padding: 6% 9% 3% 14%;
}
.blogHr{
    color: white;
    width: 100%;
    margin: 0 0 8% 0;
}
.bloghead{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.035em;
    color: #F0F0F0;
    width: 83%;
}
.arrows{
    margin-left: 90%;
    margin-top: -25%;
}
.arrows2{
    margin-left: 90%;
    margin-top: -25%;
}
.Blogs{
    margin-right: 20%;
    line-height: 1.6;
}
.box{
    width: 130%;
    height: 60%;
    margin-left: 8%;
    padding: 13%;
    background: linear-gradient(137.06deg, rgba(31, 26, 26, 0.25) -38.45%, rgba(217, 217, 217, 0) 149.05%);
    border-radius: 15px;    
    border-radius: 5%;
    box-sizing: border-box;
}
.careershead{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.025em;
    color: #FFFFFF;}
.careersdec{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.015em;
    color: #A6A6A6;
    padding: 5% 0;
}
.date {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.035em;
    color: #BCBCBC;
    padding-top: 3%;
}
.blurTitle{
    padding: 0 0% 8% 0%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 120%;
    text-align: center;
    background: linear-gradient(182.19deg, #FFFFFF -860.5%, rgba(255, 255, 255, 0) 98.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    
}
.blurTitle1{
    padding: 0 0% 8% 30%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 120%;
    text-align: center;
    background: linear-gradient(182.19deg, #FFFFFF -860.5%, rgba(255, 255, 255, 0) 98.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.jobs{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;  
    background-color: transparent;
    background: linear-gradient(272.33deg, #AD00FF 21.7%, #FF7A00 103.44%);
    border-radius: 8px;
    margin-left: 35%;
    padding: 4%;
}
}

@media screen  and (max-width:1440px) and (min-width:1030px){
    .container2{
        background: #0A1020;
        display: flex;
        height: 65%;
        padding: 6% 9% 3% 10%;
    }
    .blogHr{
        color: white;
        width: 100%;
        margin: 0 0 8% 0;
    }
    .bloghead{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: -0.035em;
        color: #F0F0F0;
        width: 83%;
    }
    .arrows{
        margin-left: 90%;
        margin-top: -25%;
    }
    .arrows2{
        margin-left: 90%;
        margin-top: -25%;
    }
    .Blogs{
        margin-right: 20%;
        line-height: 1.6;
    }
    .box{
        width: 130%;
        height: 60%;
        margin-left: -3%;
        padding: 15%;
        background: linear-gradient(137.06deg, rgba(31, 26, 26, 0.25) -38.45%, rgba(217, 217, 217, 0) 149.05%);
        border-radius: 15px;    
        box-sizing: border-box;
    }
    .careershead{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 120%;
        text-align: center;
        letter-spacing: -0.025em;
        color: #FFFFFF;}
    .careersdec{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        letter-spacing: -0.015em;
        color: #A6A6A6;
        padding: 5% 0;
    }
    .date {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.035em;
        color: #BCBCBC;
        padding-top: 3%;
    }
    .blurTitle{
        padding: 0 0% 8% 0%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 52px;
        line-height: 120%;
        text-align: center;
        background: linear-gradient(182.19deg, #FFFFFF -860.5%, rgba(255, 255, 255, 0) 98.16%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        
    }
    .blurTitle1{
        padding: 0 0% 8% 30%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 52px;
        line-height: 120%;
        text-align: center;
        background: linear-gradient(182.19deg, #FFFFFF -860.5%, rgba(255, 255, 255, 0) 98.16%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
    .jobs{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        text-align: center;
        color: #FFFFFF;  
        background-color: transparent;
        background: linear-gradient(272.33deg, #AD00FF 21.7%, #FF7A00 103.44%);
        border-radius: 8px;
        margin-left: 25%;
        padding: 4% 15%;
    }
}


@media screen  and (max-width:1024px) and (min-width:775px){
    .container2{
        background: #0A1020;
        display: flex;
        height: 65%;
        padding: 6% 9% 3% 5%;
    }
    .blogHr{
        color: white;
        width: 100%;
        margin: 0 0 8% 0;
    }
    .bloghead{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 140%;
        letter-spacing: -0.035em;
        color: #F0F0F0;
        width: 83%;
    }
    .arrows{
        margin-left: 90%;
        margin-top: -25%;
    }
    .arrows2{
        margin-left: 90%;
        margin-top: -25%;
    }
    .Blogs{
        margin-right: 0%;
        line-height: 1.6;
    }
    .box{
        width: 130%;
        height: 60%;
        margin-left: 35%;
        padding: 15%;
        background: linear-gradient(137.06deg, rgba(31, 26, 26, 0.25) -38.45%, rgba(217, 217, 217, 0) 149.05%);
        border-radius: 15px;    
        box-sizing: border-box;
    }
    .careershead{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        letter-spacing: -0.025em;
        color: #FFFFFF;}
    .careersdec{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        letter-spacing: -0.015em;
        color: #A6A6A6;
        padding: 5% 0;
    }
    .date {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.035em;
        color: #BCBCBC;
        padding-top: 3%;
    }
    .blurTitle{
        padding: 0 0% 8% 0%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 120%;
        text-align: center;
        background: linear-gradient(182.19deg, #FFFFFF -860.5%, rgba(255, 255, 255, 0) 98.16%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        
    }
    .blurTitle1{
        width: 100%;
        margin-left: 50%;
        margin-bottom: 10%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 120%;
        text-align: center;
        background: linear-gradient(182.19deg, #FFFFFF -860.5%, rgba(255, 255, 255, 0) 98.16%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
    .jobs{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        text-align: center;
        color: #FFFFFF;  
        background-color: transparent;
        background: linear-gradient(272.33deg, #AD00FF 21.7%, #FF7A00 103.44%);
        border-radius: 8px;
        margin-left: 25%;
        padding: 4% 15%;
    }
}


@media screen  and (max-width:770px) and (min-width:545px){
    .container2{
        background: #0A1020;
        display: block;
        height: 65%;
        padding: 6% 9% 3% 5%;
    }
    .blogHr{
        color: white;
        width: 100%;
        margin: 0 0 8% 0;
    }
    .bloghead{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 200%;
        letter-spacing: -0.035em;
        color: #F0F0F0;
        width: 83%;
    }
    .arrows{
        margin-left: 90%;
        margin-top: -25%;
    }
    .arrows2{
        margin-left: 90%;
        margin-top: -25%;
    }
    .Blogs{
        margin-left: 10%;
        line-height: 1.6;
        width: 80%;
    }
    .box{
        width: 90%;
        height: 50%;
        margin-left: 9%;
        margin-bottom: 4%;
        padding: 15%;
        background: linear-gradient(137.06deg, rgba(31, 26, 26, 0.25) -38.45%, rgba(217, 217, 217, 0) 149.05%);
        border-radius: 15px;    
        box-sizing: border-box;
    }
    .careershead{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        text-align: center;
        letter-spacing: -0.025em;
        color: #FFFFFF;
    }
    .careersdec{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        text-align: center;
        letter-spacing: -0.015em;
        color: #A6A6A6;
        padding: 3% 0;
    }
    .date {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.035em;
        color: #BCBCBC;
        padding-top: 9%;
    }
    .blurTitle{
        padding: 0 0% 8% 0%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 120%;
        text-align: center;
        background: linear-gradient(182.19deg, #FFFFFF -860.5%, rgba(255, 255, 255, 0) 98.16%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        
    }
    .blurTitle1{
        width: 100%;
        margin-left: 0%;
        margin-bottom: 10%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 120%;
        text-align: center;
        background: linear-gradient(182.19deg, #FFFFFF -860.5%, rgba(255, 255, 255, 0) 98.16%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
    .jobs{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        text-align: center;
        color: #FFFFFF;  
        background-color: transparent;
        background: linear-gradient(272.33deg, #AD00FF 21.7%, #FF7A00 103.44%);
        border-radius: 8px;
        margin-left: 25%;
        padding: 4% 15%;
    }
}

@media screen  and (max-width:540px) and (min-width:430px){
    .container2{
        background: #0A1020;
        display: block;
        height: 65%;
        padding: 6% 9% 3% 5%;
    }
    .blogHr{
        color: white;
        width: 100%;
        margin: 0 0 8% 0;
    }
    .bloghead{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 200%;
        letter-spacing: -0.035em;
        color: #F0F0F0;
        width: 83%;
    }
    .arrows{
        margin-left: 90%;
        margin-top: -38%;
    }
    .arrows2{
        margin-left: 90%;
        margin-top: -45%;
    }
    .Blogs{
        margin-left: 7%;
        line-height: 1.6;
        width: 85%;
    }
    .box{
        width: 90%;
        height: 50%;
        margin-left: 9%;
        margin-bottom: 4%;
        padding: 15%;
        background: linear-gradient(137.06deg, rgba(31, 26, 26, 0.25) -38.45%, rgba(217, 217, 217, 0) 149.05%);
        border-radius: 15px;    
        box-sizing: border-box;
    }
    .careershead{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        text-align: center;
        letter-spacing: -0.025em;
        color: #FFFFFF;
    }
    .careersdec{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        text-align: center;
        letter-spacing: -0.015em;
        color: #A6A6A6;
        padding: 3% 0;
    }
    .date {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.035em;
        color: #BCBCBC;
        padding-top: 9%;
    }
    .blurTitle{
        padding: 0 0% 8% 0%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 120%;
        text-align: center;
        background: linear-gradient(182.19deg, #FFFFFF -860.5%, rgba(255, 255, 255, 0) 98.16%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        
    }
    .blurTitle1{
        width: 100%;
        margin-left: 0%;
        margin-bottom: 10%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 120%;
        text-align: center;
        background: linear-gradient(182.19deg, #FFFFFF -860.5%, rgba(255, 255, 255, 0) 98.16%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
    .jobs{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        text-align: center;
        color: #FFFFFF;  
        background-color: transparent;
        background: linear-gradient(272.33deg, #AD00FF 21.7%, #FF7A00 103.44%);
        border-radius: 8px;
        margin-left: 25%;
        padding: 4% 15%;
    }
}

@media screen  and (max-width:428px) and (min-width:375px){
    .container2{
        background: #0A1020;
        display: block;
        height: 65%;
        padding: 6% 9% 3% 5%;
    }
    .blogHr{
        color: white;
        width: 100%;
        margin: 0 0 8% 0;
    }
    .bloghead{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 200%;
        letter-spacing: -0.035em;
        color: #F0F0F0;
        width: 83%;
    }
    .arrows{
        margin-left: 90%;
        margin-top: -48%;
    }
    .arrows2{
        margin-left: 90%;
        margin-top: -48%;
    }
    .Blogs{
        margin-left: 7%;
        line-height: 1.6;
        width: 85%;
    }
    .box{
        width: 95%;
        height: 50%;
        margin-left: 4%;
        margin-bottom: 4%;
        padding: 15%;
        background: linear-gradient(137.06deg, rgba(31, 26, 26, 0.25) -38.45%, rgba(217, 217, 217, 0) 149.05%);
        border-radius: 15px;    
        box-sizing: border-box;
    }
    .careershead{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 120%;
        text-align: center;
        letter-spacing: -0.025em;
        color: #FFFFFF;
    }
    .careersdec{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        text-align: center;
        letter-spacing: -0.015em;
        color: #A6A6A6;
        padding: 3% 0;
    }
    .date {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.035em;
        color: #BCBCBC;
        padding-top: 9%;
    }
    .blurTitle{
        padding: 0 0% 8% 0%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 120%;
        text-align: center;
        background: linear-gradient(182.19deg, #FFFFFF -860.5%, rgba(255, 255, 255, 0) 98.16%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        
    }
    .blurTitle1{
        width: 100%;
        margin-left: 0%;
        margin-bottom: 10%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 120%;
        text-align: center;
        background: linear-gradient(182.19deg, #FFFFFF -860.5%, rgba(255, 255, 255, 0) 98.16%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
    .jobs{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        text-align: center;
        color: #FFFFFF;  
        background-color: transparent;
        background: linear-gradient(272.33deg, #AD00FF 21.7%, #FF7A00 103.44%);
        border-radius: 8px;
        margin-left: 25%;
        padding: 4% 15%;
    }
}

@media screen  and (max-width:378px) {
    .container2{
        background: #0A1020;
        display: block;
        height: 65%;
        padding: 6% 9% 3% 5%;
    }
    .blogHr{
        color: white;
        width: 100%;
        margin: 0 0 8% 0;
    }
    .bloghead{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 200%;
        letter-spacing: -0.035em;
        color: #F0F0F0;
        width: 83%;
    }
    .arrows{
        margin-left: 90%;
        margin-top: -50%;
    }
    .arrows2{
        margin-left: 90%;
        margin-top: -54%;
    }
    .Blogs{
        margin-left: 7%;
        line-height: 1.6;
        width: 85%;
    }
    .box{
        width: 95%;
        height: 50%;
        margin-left: 4%;
        margin-bottom: 4%;
        padding: 15%;
        background: linear-gradient(137.06deg, rgba(31, 26, 26, 0.25) -38.45%, rgba(217, 217, 217, 0) 149.05%);
        border-radius: 15px;    
        box-sizing: border-box;
    }
    .careershead{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        letter-spacing: -0.025em;
        color: #FFFFFF;
    }
    .careersdec{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 140%;
        text-align: center;
        letter-spacing: -0.015em;
        color: #A6A6A6;
        padding: 3% 0;
    }
    .date {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.035em;
        color: #BCBCBC;
        padding-top: 9%;
    }
    .blurTitle{
        padding: 0 0% 8% 0%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 120%;
        text-align: center;
        background: linear-gradient(182.19deg, #FFFFFF -860.5%, rgba(255, 255, 255, 0) 98.16%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        
    }
    .blurTitle1{
        width: 100%;
        margin-left: 0%;
        margin-bottom: 10%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 120%;
        text-align: center;
        background: linear-gradient(182.19deg, #FFFFFF -860.5%, rgba(255, 255, 255, 0) 98.16%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
    .jobs{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        text-align: center;
        color: #FFFFFF;  
        background-color: transparent;
        background: linear-gradient(272.33deg, #AD00FF 21.7%, #FF7A00 103.44%);
        border-radius: 8px;
        margin-left: 25%;
        padding: 4% 15%;
    }
}