.offering {
    padding: 3% 5% 10%;
    background-color: #0A1020;
    width: 100%;
}

#offeringTilte {
    font-family: Poppins;
    font-size: 34px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: -0.025em;
    text-align: center;
    background: linear-gradient(272.33deg, #AD00FF 21.7%, #FF7A00 103.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.cardsinOffering {
    padding: 3% 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 11%;
    grid-column-gap: 3%;
    margin: 0 0 0 4%;

}

.offerCards1 {
    background: linear-gradient(182.19deg, rgba(156, 165, 188, 0.69) -860.5%, rgba(10, 16, 32, 0.69) 98.16%);
    width: 100%;
    border-radius: 5px;
    padding: 5% 5%;

}

#offerCardsTitle {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.025em;
    text-align: left;
    color: #FFFFFF;
    width: 90%;
}

#offerCardsText {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.025em;
    text-align: left;
    color: #EDEDED;
    height: 70%;
}

.offerButton {
    width: 99%;
    text-align: center;
    background: transparent;
    color: #FFFFFF;
    border: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-radius: 8px !important;
    height: 46px;

}

.border-gradient-purple {
    border-image-source: linear-gradient(272.33deg, #AD00FF 21.7%, #FF7A00 103.44%);

}

@media screen and (max-width:1705px) and (min-width:1025px) {
    #offerCardsTitle {
        width: 100%;
    }

    .cardsinOffering {
        padding: 3% 2%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 11%;
        grid-column-gap: 6%;
        margin: 0 0 0 0%;
    }
}

@media screen and (max-width:1025px) and (min-width:768px) {

    .cardsinOffering {
        padding: 3% 2%;
        display: block;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 15%;
        grid-column-gap: 3%;
        margin: 0 0 5% 17%;
        width: 70%;
    }

    .offering {
        padding: 3% 5% 0%;
    }

    .offerCards1 {
        width: 95%;
    }
}

@media screen and (max-width:768px) and (min-width:431px) {
    .offering {
        padding: 3% 5% 0%;
    }

    #offerCardsTitle {
        width: 100%;
    }
}

@media screen and (max-width:430px) and (min-width:378px) {
    .offering {
        padding: 5% 5% 0%;
    }

    .cardsinOffering {
        display: block;
        margin-left: -1%;
    }

    .offerCards1 {
        width: 100%;
        margin: 0 0 10% 0;
    }

    #offerCardsTitle {
        font-family: Poppins;
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: -0.025em;
        text-align: left;
        width: 100%;
    }

    #offeringTilte {
        font-family: Poppins;
        font-size: 31px;
        font-weight: 600;
        line-height: 42px;
        letter-spacing: -0.025em;
        text-align: center;
        width: 80%;
        margin: 5% 0 0 10%;
    }
}

@media screen and (max-width:375px) {
    .offering {
        padding: 5% 5% 0%;
    }

    .cardsinOffering {
        display: block;
        margin-left: -1%;
    }

    .offerCards1 {
        width: 100%;
        margin: 0 0 10% 0;
    }

    #offerCardsTitle {
        font-family: Poppins;
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: -0.025em;
        text-align: left;
        width: 100%;
    }

    #offeringTilte {
        font-family: Poppins;
        font-size: 31px;
        font-weight: 600;
        line-height: 42px;
        letter-spacing: -0.025em;
        text-align: center;
        width: 80%;
        margin: 5% 0 0 10%;
    }
}