@font-face {
    font-family: 'poppins-thin';
    src: url('../../../Poppins/Poppins-Thin.ttf');
}

@font-face {
    font-family: 'poppins-medium';
    src: url('../../../Poppins/Poppins-Medium.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    cursor:default;
}
.section1 {
    margin: 0% 0 0 8%;
}

.starting {
    padding: 15% 0 10% 0;
    background-image: url("../../images/Blockchain.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
}
.Dm_Title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 55px;
    font-weight: 600;
    font-style: normal;
    line-height: 66px;
    letter-spacing: -2px;
}

.blockchainDesc {
    color: #FFFEFE;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    line-height: 32px;
}
.whiteArrow{
    margin-left: 0.5%;
}
.GetQuote {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    line-height: 16.8px;
    color: #FFFEFE;
    margin-top: 2%;
}

.section2 {
    margin-top: -5%;

}

.Dm_sec {
    display: flex;
    height: 251px;
}

.Dm_heading {
    font-family: "Poppins", Sans-serif;
    font-size: 140px;
    font-weight: 600;
    font-style: normal;
    line-height: 168px;
    text-align: center;
    margin-top: 10%;
    background: linear-gradient(182.19deg, #000000 -860.5%, rgba(0, 0, 0, 0) 98.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Dm_subheading {
    text-align: center;
    background-image: url('../../images/Vector-61.png');
    background-repeat: no-repeat;
    background-position-x: 64%;
    background-position-y: 30%;
    margin-top: -2%;
    background-size: 19%;
    padding-bottom: 5%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 175%;
    color: #000000;
}
.Serv_left {
    width: 25%;
    margin: 3% 0 0 13%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
}

.Serv_right {
    width: 40%;
    margin: 3% 0 0 10%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: rgba(0, 0, 0, 0.5);
}

.DM_icons {
    margin-right: 5%;
    margin-top: 6%;
    width: 50px;
    height: 50px;
    font-size: 12px;
}

.serv_hr {
    border: 1 solid black;
    display: inline;
    margin-left: 10%;
    width: 80%;

}


.section4 {
    margin-top: 3%;
}

.sect4_title {
    font-family: "Poppins", Sans-serif;
    font-size: 100px;
    font-weight: 600;
    font-style: normal;
    line-height: 120px;
    text-align: center;
    background: linear-gradient(182.19deg, #000000 -860.5%, rgba(0, 0, 0, 0) 98.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sect4-desc {
    background-color: #0A1020;
    display: flex;
    flex-direction: row;
    gap: 0px;
    background: 0.3s, border-radius 0.3s, opacity 0.3s;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 10px 10px 10px 10px;
    margin-top: 2%;
    margin-right: 3%;
    padding-bottom: 5%;
    margin-left: 3%;
}

.desc-p {
    width: 33.3%;
}

.desc-titlte {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    line-height: 36px;
    text-align: center;
    margin: 20% auto 0;

}

.desc-detail {
    text-align: center;
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 24.5px;
    margin: auto;
    width: 70%;
}

.line {
    margin-top: -20%;
}
.lineM{
    display: none;
}
.section5 {
    margin: 3% 10%;
}
.section51{
    display: none;
}
.portFolioLine{
    color: #000;
}
.image-gallery-thumbnail-image {
    display: none
}
.PortFolioHead{
    color: gray;
}
.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails .image-gallery-thumbnail,
.image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails .image-gallery-thumbnail{    
    display: block;
    margin-right: 0;
    margin-top: 50% !important;
}
.image-gallery-thumbnail-label {    
    box-sizing: none;
    color: red !important;
    font-size: 1em;
    left: 0;
    line-height: 1em;
    padding: 25%;
    position: absolute;
    top: 50%;
    text-shadow: 1px 1px 0 black;
    transform: translateY(-50%);
    white-space: normal;
    width: 100%;
    background-color: #000;
    margin-top: 5%;
}
.sect5_title {
    font-family: "Poppins", Sans-serif;
    font-size: 100px;
    font-weight: 600;
    font-style: normal;
    line-height: 120px;
    text-align: center;
    background: linear-gradient(182.19deg, #000000 -860.5%, rgba(0, 0, 0, 0) 98.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.DM_cardTitle {
    width: 30%;
    height: 20%;
    margin-left: 12%;
    list-style: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px; 
    line-height: 120%;
    text-align-last: end;
}

.sliderDesk {
    margin: 0% 8%;
    z-index: -1;
}
.sliderLap, .slidermob{
    display: none;
}
.slick-prev:before,
.slick-next:before {
    display: none;
}
.DM_cardTitle>li {
    color: #BCBCBC;
    font-size: 22px;
    padding-bottom: 7%;
    margin-top: 1%;
}

.DM_cardTitle>li:hover {
    color: black;
}
.subTitle{
    color: #BCBCBC;
    font-size: 14px;
}
.DM_cardTitle .cardtitle01{
    color: #000 !important;
}
.DM_cardTitle li:focus  {
    color: black;
}

.carousel-control-next,
.carousel-control-prev {
    display: none;
}

.line1 {
    margin-right: 2%;
    margin-left: 5%;
    width: max-content;
}

.card1 {
    width: 30%;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-left: 5%;
    padding: 1%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 175%;
    color: #0A1020;
    padding-top: 5%;
}
.card1 .cardDecs   {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 175%;
    color: rgba(0, 0, 0, 0.5);    
}
.accordion-flush .accordion-item .accordion-button {
    border-radius: 0;
}
.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: var(--bs-accordion-inner-border-radius);
    border-top-right-radius: var(--bs-accordion-inner-border-radius);
}
button:focus:not(:focus-visible) {
    outline: 0;
}
.accordion-button:not(.collapsed) {
    color: black;
    background-color: white;
    box-shadow: none;
}
.accordion-button:focus {
    border: none !important;
    box-shadow: none;
}
.cardList {
    display: flex;
    height: 500px;
    padding-top: 5%;
    background-image: url('../../images/Background-1.jpg');
    background-repeat: no-repeat;
    background-position-x: 24vw;
    background-position-y: -1vh;
    margin-bottom: 5%       ;
}
.section6{
    margin-top: 5%;
}
.sect6_title {
    font-family: "Poppins", Sans-serif;
    font-size: 75px;
    font-weight: 600;
    font-style: normal;
    line-height: 120px;
    text-align: center;
   
}

.freqQus {
    width: 43%;
    margin-left: 30%;
    margin-bottom: 5%;
    z-index: 0;
    margin-top: 2%;
}

.Accordion.Header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px !important;
    line-height: 175%;
    color: #000000;
    padding-bottom: 3%;
    z-index: 0;
}

.collapseData {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: rgba(0, 0, 0, 0.5);
}

.accordion-flush .accordion-item {
    padding-bottom: 3%;
}

.accordion:active {
    color: #FFFFFF;
}

/* .accordion-button::after {
    background-image: url("../../DMpage/pluse.png") !important;
    transform: scale(.7) !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("../../DMpage/minus.png") !important;
} */

.freqQus .accordion-flush .accordion-item .accordion-button,.freqQus .accordion-flush .accordion-item .accordion-button.collapsed {

    border-radius: 0;
    background-repeat: no-repeat;
    background-position-x: right;
    background-image: url("../../DMpage/pluse.png");
    background-position-y: center;

}
.freqQus .accordion-flush .accordion-item .accordion-button,.freqQus .accordion-flush .accordion-item .accordion-button.collapsed::after {
    border-radius: 0;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    background-image: url(../../DMpage/minus.png);
}
.accordion-button:not(.collapsed) {
    color: black;
    background-color: white;
    box-shadow: none
} 

.freqQus .accordion-flush .accordion-item .accordion-button,.freqQus .accordion-flush .accordion-item .accordion-button.collapsed {
    border-radius: 0;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    background-image: url(../../DMpage/pluse.png);
}
.freqQus .accordion-flush .accordion-item .accordion-button,.freqQus .accordion-flush .accordion-item .accordion-button.collapsed::after {
    border-radius: 0;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    background-image: url(../../DMpage/minus.png);
}

.accordion-button:focus .accordion-button:hover {
    /* z-index: 0; */
    border-color: none;
    outline: 0;
    box-shadow: none;
}
.containor11{
    background: #F7F7F7;
    display: flex;
    padding: 8% 0 3%;
}
.auidt {
    margin-left: 35%;
    height: 40%;
    width: 12%;
    color: white;
    background-color: #000000;
    border-radius: 7px 7px 7px 7px;
    font-size: 18px;
    margin-bottom: 5%;
    padding: 1%;
}

.auidt:hover {
    color: #FFFFFF;
    width: 12%;
    font-size: 18px;
    height: 40%;
    background-color: transparent;
    background-image: linear-gradient(90deg, #E25C37 0%, #951B98 100%);
}
.anyIdea1{
    margin-left: 11%;
    padding: 1% 0;
    font-size: 45px;
    margin-top: -3%;
    line-height: 1.2;
    font-family: poppins-semibold;

}

.cmpyLogo{
    margin-bottom: 3%;
    margin-top: 6%;
    margin-left: 5%;
}