@media screen and (max-width:770px) and (min-width:501px) {
    .section1 {
        margin: 0% 0 0 3%;
    }

    .starting {
        padding: 10% 0 70% 0;
        background-image: url("../../DMpage/blockLogo1.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100vw;
    }
    .Dm_Title br{
        display: none;
    }
    .Dm_Title {
        color: #FFFFFF;
        font-family: "Poppins", Sans-serif;
        font-size: 55px;
        font-weight: 600;
        font-style: normal;
        line-height: 1.3;
        letter-spacing: -2px;
        padding-top: 15%;
    }

    .blockchainDesc {
        color: #FFFEFE;
        font-family: "Poppins", Sans-serif;
        font-size: 22px;
        font-weight: 400;
        font-style: normal;
        line-height: 32px;
    }

    .GetQuote {
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        line-height: 16.8px;
        color: #FFFEFE;
    }

    .section2 {
        margin-top: 0%
    }

    .Dm_sec {
        display: block;
    }

    .Serv_left {
        width: 87%;
        margin: 5% 0 4% 7%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 120%;
    }

    .Serv_right {
        width: 87%;
        margin: 4% 0 4% 7%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        color: rgba(0, 0, 0, 0.5);
    }

    .DM_icons {
        margin-right: 5%;
        margin-top: 3%;
    }

    .serv_hr {
        border: 1 solid black;
        display: inline;
        margin-left: 7%;
        width: 87%;
        margin-top: 3%;
    }

    .Dm_heading {
        font-family: "Poppins", Sans-serif;
        font-size: 140px;
        font-weight: 600;
        font-style: normal;
        line-height: 168px;
        text-align: center;
        margin-top: 5%;
        background: linear-gradient(182.19deg, #000000 -860.5%, rgba(0, 0, 0, 0) 98.16%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .Dm_subheading {
        text-align: center;
        background-image: url('../../images/Vector-61.png');
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: 30%;
        margin-top: -5%;
        background-size: 45%;
        padding-bottom: 10%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 120%;
        color: #000000;
        width: 90%;
        margin-left: 5%;
    }

    .section4 {
        margin-top: 3%;
    }

    .sect4_title {
        font-family: "Poppins", Sans-serif;
        font-size: 70px;
        font-weight: 600;
        font-style: normal;
        line-height: 120px;
        margin-left: 0%;
    }

    .sect4-desc {
        background-color: #0A1020;
        display: block;
        flex-direction: row;
        gap: 0px;
        background: 0.3s, border-radius 0.3s, opacity 0.3s;
        border-style: solid;
        border-width: 0px 0px 0px 0px;
        border-radius: 10px 10px 10px 10px;
        margin: 4% auto 0;
        width: 70%;
        height: 100%;
        padding-bottom: 20%;
    }

    .desc-p {
        width: 46vw;
        margin-left: 15%;
        padding-top: 1%;
    }

    .desc-titlte {
        color: #FFFFFF;
        font-family: "Poppins", Sans-serif;
        font-size: 28px;
        font-weight: 600;
        font-style: normal;
        line-height: 36px;
        text-align: center;
        margin: 25% 20px 0% 20px;

    }

    .desc-detail {
        text-align: center;
        color: #FFFFFF;
        font-family: "Poppins", Sans-serif;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        line-height: 24.5px;
        margin: 2% 0 -10% 15%;
        width: 75%;
    }

    .line {
        display: none;
    }

    .lineM {
        background-color: #FFFFFF;
        display: inline;
        margin-left: 18%;
        width: 70%;
        margin-top: 25%;
    }

    .section5 {
        margin-top: 10%;
    }

    .sect5_title {
        font-family: "Poppins", Sans-serif;
        font-size: 80px;
        font-weight: 600;
        font-style: normal;
        line-height: 120px;
        text-align: center;
        background: linear-gradient(182.19deg, #000000 -860.5%, rgba(0, 0, 0, 0) 98.16%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }

    .cardbox {
        width: 90%;
        background: #FFFFFF;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin-left: 5%;
    }

    .cardList {
        display: none
    }
    .section51 .accordion-button{
        font-size: 24px;
        margin-left: 7%;
    } 
    .section51 {
        display: block;
    }

    .section51 .accordion-button::after {
        display: none;
    }

    .section51 .accordion-item {
        border: none;
    }

    .section51 >.Accordion.Header {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        text-align: right;
        color: #000000;
        z-index: 0;

    }

    .cardtitle {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 175%;
        color: #0A1020;
    }

    .carddesc {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 175%;
        color: rgba(0, 0, 0, 0.5);
    }

    .sliderLap {
        display: block;
        margin: 15% 5%;
        z-index: -1;
    }

    .slidermob,
    .sliderDesk {
        display: none;
    }

    .carousel-item {
        height: 4%;
    }

    .section6 {
        margin-top: 10%;
    }

    .sect6_title {
        font-family: "Poppins", Sans-serif;
        font-size: 60px;
        font-weight: 600;
        font-style: normal;
        line-height: 80px;
        text-align: center;
        background: linear-gradient(182.19deg, #000000 -860.5%, rgba(0, 0, 0, 0) 98.16%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .freqQus {
        width: 80%;
        margin-left: 7%;
        margin-bottom: 5%;
        z-index: 0;

    }

    .freqQus .Accordion.Header {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 175%;
        color: #000000;
        padding-bottom: 3%;
    }

    .collapseData {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        color: rgba(0, 0, 0, 0.5);
    }

    .accordion-flush .accordion-item {
        padding-bottom: 3%;
        margin-left: 0;
    }

    .accordion-button:focus .accordion-button:hover {
        z-index: 0;
        border-color: none;
        outline: 0;
        box-shadow: none;
    }

    .auidt {
        margin-top: 5%;
        width: 22%;
        color: white;
        background: #0A1020;
        border-radius: 7px 7px 7px 7px;
        font-size: 14px;
        margin-left: 10%;
    }

    .auidt:hover {
        color: #FFFFFF;
        width: 22%;
        font-size: 13px;
        height: 70%;
        background-color: transparent;
        background-image: linear-gradient(90deg, #E25C37 0%, #951B98 100%);
    }

    .anyIdea1 {
        margin-left: 7%;
        padding: 4% 0;
        font-size: 45px;
        margin-top: -1%;
        font-size: 35px;
    }
    .cmpyLogo{
        margin-bottom: 10%;
    }
}

@media screen and (max-width:500px) and (min-width:426px) {
    .section1 {
        margin: 0% 0 0 7%;
    }

    .starting {
        padding: 0% 0 0 0;
        background-image: url("../../DMpage/blockLogo1.png");
        height: 100vh;
    }

    .Dm_Title {
        color: #FFFFFF;
        font-family: "Poppins", Sans-serif;
        font-size: 40px;
        font-weight: 600;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: -4;
        padding-bottom: 7%;
        padding-top: 20%;
    }

    .blockchainDesc {
        color: #FFFEFE;
        font-family: "Poppins", Sans-serif;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        line-height: 32px;
        padding-bottom: 7%;

    }

    .GetQuote {
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        line-height: 16.8px;
        color: #FFFEFE;
    }

    .section2 {
        margin-top: 0%
    }

    .Dm_sec {
        display: block;
    }

    .Serv_left {
        width: 87%;
        margin: 10% 0 4% 7%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
    }

    .Serv_right {
        width: 87%;
        margin: 4% 0 4% 7%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 175%;
    }

    .DM_icons {
        margin-right: 5%;
        margin-top: 3%;
    }

    .serv_hr {
        border: 1 solid black;
        display: inline;
        margin-left: 7%;
        width: 87%;
        margin-top: 13%;
    }

    .Dm_heading {
        font-family: "Poppins", Sans-serif;
        font-size: 45px;
        font-weight: 600;
        font-style: normal;
        line-height: 45px;
        text-align: center;
        margin-top: 25%;
        background: linear-gradient(182.19deg, #000000 -860.5%, rgba(0, 0, 0, 0) 98.16%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-bottom: 2%;
    }

    .Dm_subheading {
        text-align: center;
        background-image: url('../../images/Vector-61.png');
        background-repeat: no-repeat;
        background-position-x: 75%;
        background-position-y: 85%;
        background-size: 55%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 175%;
        text-align: center;
        color: #000000;
        width: 80%;
        padding-left: 20%;
    }

    .section4 {
        margin-top: 35%;
    }

    .sect4_title {
        font-family: "Poppins", Sans-serif;
        font-size: 45px;
        font-weight: 600;
        font-style: normal;
        line-height: 120%;
        margin-left: 0%;
    }

    .sect4-desc {
        background-color: #0A1020;
        display: block;
        flex-direction: row;
        gap: 0px;
        background: 0.3s, border-radius 0.3s, opacity 0.3s;
        border-style: solid;
        border-width: 0px 0px 0px 0px;
        border-radius: 10px 10px 10px 10px;
        margin: 4% auto 0;
        width: 90%;
        height: 100%;
        padding-bottom: 20%;
    }

    .desc-p {
        width: 60vw;
        margin-left: 15%;
        padding-top: 1%;
    }

    .desc-titlte {
        color: #FFFFFF;
        font-family: "Poppins", Sans-serif;
        font-size: 28px;
        font-weight: 600;
        font-style: normal;
        line-height: 36px;
        text-align: center;
        margin: 25% 20px 0% 20px;

    }

    .desc-detail {
        text-align: center;
        color: #FFFFFF;
        font-family: "Poppins", Sans-serif;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        line-height: 24.5px;
        margin: 2% 0 -10% 7%;
        width: 90%;
    }

    .line {
        display: none;
    }

    .lineM {
        background-color: #FFFFFF;
        display: inline;
        margin-left: 10%;
        width: 90%;
        margin-top: 25%;
    }

    .section5 {
        margin-top: 10%;
    }

    .sect5_title {
        font-family: "Poppins", Sans-serif;
        font-size: 45px;
        font-weight: 600;
        font-style: normal;
        line-height: 120px;
        text-align: center;
        background: linear-gradient(182.19deg, #000000 -860.5%, rgba(0, 0, 0, 0) 98.16%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }

    .cardbox {
        width: 90%;
        background: #FFFFFF;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin-left: 5%;
    }

    .cardList {
        display: none
    }

    .section51 {
        display: block;
    }
    .section51 .accordion-button{
        font-size: 20px;
        margin-left: 7%;
    } 
    .section51 .accordion-button::after {
        display: none;
    }

    .section51 .accordion-item {
        border: none;
    }

    .section51 >.Accordion.Header {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        text-align: right;
        color: #000000;
    }

    .cardtitle {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 175%;
        color: #0A1020;
    }

    .carddesc {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 175%;
        color: rgba(0, 0, 0, 0.5);
    }


    .slidermob {
        display: block;
        margin: 30% 0 -20% 30%;
        z-index: -1;
    }

    .sliderLap,
    .sliderDesk {
        display: none;
    }

    .sect6_title {
        font-family: "Poppins", Sans-serif;
        font-size: 40px;
        font-weight: 600;
        font-style: normal;
        line-height: 120%;
        text-align: center;
        background: linear-gradient(182.19deg, #000000 -860.5%, rgba(0, 0, 0, 0) 98.16%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .section6 {
        margin-top: 40%;
    }

    .freqQus {
        width: 85%;
        margin-left: 7%;
        margin-bottom: 5%;
    }

    .Accordion.Header {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        color: #000000;
        padding-bottom: 3%;
        z-index: 0;
    }

    .collapseData {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 175%;
        color: rgba(0, 0, 0, 0.5);
    }

    .accordion-flush .accordion-item {
        padding-bottom: 3%;
    }

    .accordion-button:focus .accordion-button:hover {
        z-index: 0;
        border-color: none;
        outline: 0;
        box-shadow: none;
    }

    .auidt {
        height: 10%;
        margin-top: 0%;
        width: 40%;
        color: white;
        background: #0A1020;
        border-radius: 7px 7px 7px 7px;
        font-size: 14px;
        margin-left: 7%;
    }

    .auidt:hover {
        color: #FFFFFF;
        width: 40%;
        font-size: 13px;
        height: 40%;
        background-color: transparent;
        background-image: linear-gradient(90deg, #E25C37 0%, #951B98 100%);
    }

    .anyIdea1 {
        margin-left: 7%;
        padding: 5% 0;
        font-size: 45px;
        font-size: 32px;
    }

    .containor11 {
        margin-top: 5%;
    }
    .cmpyLogo{
        margin-bottom: 40%;
    }

}



@media screen and (max-width:425px) and (min-width:376px) 
{
    .section1 {
        margin: 0% 0 0 7%;
    }
    .cmpyLogo{
        margin-bottom: 50%;
    }


    .starting {
        padding: 15% 0 0 0;
        background-image: url("../../DMpage/blockLogo1.png");
        height: 100vh;
    }

    .Dm_Title {
        color: #FFFFFF;
        font-family: "Poppins", Sans-serif;
        font-size: 42px;
        font-weight: 600;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: -4;
        padding-bottom: 2%;
        margin-top: 15%;
    }

    .blockchainDesc {
        color: #FFFEFE;
        font-family: "Poppins", Sans-serif;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        line-height: 32px;
        padding-bottom: 7%;

    }

    .GetQuote {
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        line-height: 16.8px;
        color: #FFFEFE;
    }

    .section2 {
        margin-top: 0%
    }

    .Dm_sec {
        display: block;
    }

    .Serv_left {
        width: 87%;
        margin: 10% 0 4% 7%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 120%;
    }

    .Serv_right {
        width: 87%;
        margin: 4% 0 4% 7%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 175%;
    }

    .DM_icons {
        margin-right: 5%;
        margin-top: 3%;
    }

    .serv_hr {
        border: 1 solid black;
        display: inline;
        margin-left: 7%;
        width: 87%;
        margin-top: 13%;
    }

    .Dm_heading {
        font-family: "Poppins", Sans-serif;
    font-size: 50px !important;
    font-weight: 600;
    padding-top: 11%;
    font-style: normal;
    line-height: 45px;
    text-align: center;
    margin-top: 25%;
    background: linear-gradient(182.19deg, #000000 -860.5%, rgba(0, 0, 0, 0) 98.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 2%;
    }

    .Dm_subheading {
        text-align: center;
        background-image: url('../../images/Vector-61.png');
        background-repeat: no-repeat;
        background-position-x: 75%;
        background-position-y: 85%;
        background-size: 70%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 175%;
        text-align: center;
        color: #000000;
        width: 90%;
        padding-left: 8%;
    }

    .section4 {
        margin-top: 35%;
    }

    .sect4_title {
        font-family: "Poppins", Sans-serif;
        font-size: 45px;
        font-weight: 600;
        font-style: normal;
        line-height: 120%;
        margin-left: 0%;
    }

    .sect4-desc {
        background-color: #0A1020;
        display: block;
        flex-direction: row;
        gap: 0px;
        background: 0.3s, border-radius 0.3s, opacity 0.3s;
        border-style: solid;
        border-width: 0px 0px 0px 0px;
        border-radius: 10px 10px 10px 10px;
        margin: 4% auto 0;
        width: 90%;
        height: 100%;
        padding-bottom: 20%;
    }

    .desc-p {
        width: 60vw;
        margin-left: 15%;
        padding-top: 1%;
    }

    .desc-titlte {
        color: #FFFFFF;
        font-family: "Poppins", Sans-serif;
        font-size: 30px;
        font-weight: 600;
        font-style: normal;
        line-height: 36px;
        text-align: center;
        margin: 25% 20px 0% 20px;

    }

    .desc-detail {
        text-align: center;
        color: #FFFFFF;
        font-family: "Poppins", Sans-serif;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 24.5px;
        margin: 2% 0 -10% 7%;
        width: 90%;
    }

    .line {
        display: none;
    }

    .lineM {
        background-color: #FFFFFF;
        display: inline;
        margin-left: 6%;
        width: 90%;
        margin-top: 25%;
    }

    .section5 {
        margin-top: 10%;
    }

    .sect5_title {
        font-family: "Poppins", Sans-serif;
        font-size: 45px;
        font-weight: 600;
        font-style: normal;
        line-height: 120px;
        text-align: center;
        background: linear-gradient(182.19deg, #000000 -860.5%, rgba(0, 0, 0, 0) 98.16%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }

    
    .cardbox {
        width: 90%;
        background: #FFFFFF;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin-left: 5%;
    }

    .cardList {
        display: none
    }

    .section51 {
        display: block;
    }
    .section51 .accordion-button{
        font-size: 18px;
        margin-left: 7%;

    } 
    .section51 .accordion-button::after {
        display: none;
    }

    .section51 .accordion-item {
        border: none;
    }

    .section51 >.Accordion.Header {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        text-align: right;
        color: #000000;
    }

    .cardtitle {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 175%;
        color: #0A1020;
    }

    .carddesc {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 175%;
        color: rgba(0, 0, 0, 0.5);
    }


    .slidermob {
        display: block;
        margin: 30% 0 -20% 30%;
        z-index: -1;
    }

    .sliderLap,
    .sliderDesk {
        display: none;
    }

    .sect6_title {
        font-family: "Poppins", Sans-serif;
        font-size: 45px;
        font-weight: 600;
        font-style: normal;
        line-height: 120%;
        text-align: center;
        background: linear-gradient(182.19deg, #000000 -860.5%, rgba(0, 0, 0, 0) 98.16%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .section6 {
        margin-top: 40%;
    }

    .freqQus {
        width: 95% !important;
        margin-left: 0%;
        margin-bottom: 5%;
    }

    .freqQus .Accordion.Header {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        color: #000000;
        padding-bottom: 3%;
        z-index: 0;
    }

    .collapseData {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 175%;
        color: rgba(0, 0, 0, 0.5);
    }

    .accordion-flush .accordion-item {
        padding-bottom: 3%;
    }

    .accordion-button:focus .accordion-button:hover {
        z-index: 0;
        border-color: none;
        outline: 0;
        box-shadow: none;
    }

    .auidt {
        height: 45px;
        margin-top: 0%;
        width: 40%;
        color: white;
        background: #0A1020;
        border-radius: 7px 7px 7px 7px;
        font-size: 14px;
        margin-left: 7%;
    }

    .auidt:hover {
        color: #FFFFFF;
        width: 40%;
        font-size: 13px;
        height: 40%;
        background-color: transparent;
        background-image: linear-gradient(90deg, #E25C37 0%, #951B98 100%);
    }

    .anyIdea1 {
        margin-left: 7%;
        padding: 5% 0;
        font-size: 45px;
        font-size: 32px;
    }

    .containor11 {
        margin-top: 5%;
        display: block;
    }
}

@media screen and (max-width:375px) {


    .section1 {
        margin: 0% 0 0 7%;
    }

    .starting {
        padding: 0% 0 0 0;
        background-image: url("../../DMpage/blockLogo1.png");
        height: 100vh;
    }
    .cmpyLogo{
        margin-bottom: 50%;
    }

    .Dm_Title {
        color: #FFFFFF;
        font-family: "Poppins", Sans-serif;
        font-size: 40px;
        font-weight: 600;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: -4;
        padding-bottom: 7%;
        padding-top: 30%;
    }

    .blockchainDesc {
        color: #FFFEFE;
        font-family: "Poppins", Sans-serif;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        line-height: 32px;
        padding-bottom: 7%;

    }

    .GetQuote {
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        line-height: 16.8px;
        color: #FFFEFE;
    }

    .section2 {
        margin-top: 0%
    }

    .Dm_sec {
        display: block;
    }

    .Serv_left {
        width: 87%;
        margin: 10% 0 4% 7%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
    }

    .Serv_right {
        width: 87%;
        margin: 4% 0 4% 7%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 175%;
    }

    .DM_icons {
        margin-right: 5%;
        margin-top: 3%;
    }

    .serv_hr {
        border: 1 solid black;
        display: inline;
        margin-left: 7%;
        width: 87%;
        margin-top: 15%;
    }

    .Dm_heading {
        font-family: "Poppins", Sans-serif;
        font-size: 45px;
        font-weight: 600;
        font-style: normal;
        line-height: 45px;
        text-align: center;
        margin-top: 25%;
        background: linear-gradient(182.19deg, #000000 -860.5%, rgba(0, 0, 0, 0) 98.16%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-bottom: 2%;
    }

    .Dm_subheading {
        text-align: center;
        background-image: url('../../images/Vector-61.png');
        background-position-x: 70%;
        background-position-y: 85%;
        background-size: 70%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 175%;
        text-align: center;
        color: #000000;
        width: 100%;
        padding-left: 4%;
        padding-right: 10%;
    }

    .section4 {
        margin-top: 35%;
    }

    .sect4_title {
        font-family: "Poppins", Sans-serif;
        font-size: 45px;
        font-weight: 600;
        font-style: normal;
        line-height: 120%;
        margin-left: 0%;
    }

    .sect4-desc {
        background-color: #0A1020;
        display: block;
        flex-direction: row;
        gap: 0px;
        background: 0.3s, border-radius 0.3s, opacity 0.3s;
        border-style: solid;
        border-width: 0px 0px 0px 0px;
        border-radius: 10px 10px 10px 10px;
        margin: 4% auto 0;
        width: 90%;
        height: 100%;
        padding-bottom: 20%;
    }

    .desc-p {
        width: 60vw;
        margin-left: 15%;
        padding-top: 1%;
    }

    .desc-titlte {
        color: #FFFFFF;
        font-family: "Poppins", Sans-serif;
        font-size: 28px;
        font-weight: 600;
        font-style: normal;
        line-height: 36px;
        text-align: center;
        margin: 25% 20px 0% 20px;

    }

    .desc-detail {
        text-align: center;
        color: #FFFFFF;
        font-family: "Poppins", Sans-serif;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        line-height: 24.5px;
        margin: 2% 0 -10% 7%;
        width: 90%;
    }

    .line {
        display: none;
    }

    .lineM {
        background-color: #FFFFFF;
        display: inline;
        margin-left: 10%;
        width: 90%;
        margin-top: 25%;
    }

    .section5 {
        margin-top: 10%;
    }

    .sect5_title {
        font-family: "Poppins", Sans-serif;
        font-size: 35px;
        font-weight: 600;
        font-style: normal;
        line-height: 70px;
        text-align: center;
        background: linear-gradient(182.19deg, #000000 -860.5%, rgba(0, 0, 0, 0) 98.16%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }

    
    .cardbox {
        width: 90%;
        background: #FFFFFF;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin-left: 5%;

    }

    .cardList {
        display: none
    }

    .section51 {
        display: block;
    }
    .section51 .accordion-button{
        font-size: 14px;
        margin-left: 7%;
    } 
    .section51 .accordion-button::after {
        display: none;
    }

    .section51 .accordion-item {
        border: none;
    }

    .section51 >.Accordion.Header {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        text-align: right;
        color: #000000;
    }

    .cardtitle {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 175%;
        color: #0A1020;
    }

    .carddesc {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 175%;
        color: rgba(0, 0, 0, 0.5);
    }

    .slidermob {
        display: block;
        margin: 30% 0 -20% 30%;
        z-index: -1;
    }

    .sliderLap,
    .sliderDesk {
        display: none;
    }

    .sect6_title {
        font-family: "Poppins", Sans-serif;
        font-size: 35px;
        font-weight: 600;
        font-style: normal;
        line-height: 120%;
        text-align: center;
        background: linear-gradient(182.19deg, #000000 -860.5%, rgba(0, 0, 0, 0) 98.16%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .section6 {
        margin-top: 40%;
    }

    .freqQus {
        width: 90%;
        margin-left: 4%;
        margin-bottom: 5%;
    }

    .Accordion.Header {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        color: #000000;
        padding-bottom: 3%;
        z-index: 0;
    }
    .accordion-button{
        font-size: 14px;
    } 
    .collapseData {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 175%;
        color: rgba(0, 0, 0, 0.5);
    }

    .accordion-flush .accordion-item {
        padding-bottom: 3%;
    }

    .accordion-button:focus .accordion-button:hover {
        z-index: 0;
        border-color: none;
        outline: 0;
        box-shadow: none;
    }

    .auidt {
        height: 45px;
        margin-top: 0%;
        width: 40vw;
        color: white;
        background: #0A1020;
        border-radius: 7px 7px 7px 7px;
        font-size: 14px;
        margin-left: 7%;
    }

    .auidt:hover {
        color: #FFFFFF;
        width: 40vw;
        font-size: 13px;
        height: 40%;
        background-color: transparent;
        background-image: linear-gradient(90deg, #E25C37 0%, #951B98 100%);
    }

    .anyIdea1 {
        margin-left: 7%;
        padding: 5% 0;
        font-size: 45px;
        font-size: 32px;
    }

    .containor11 {
        margin-top: 5%;
        display: block;
    }
}