.colleagues{
    height: 100vh;
    width: 100vw;
    padding: 8% 0 0 0;
    text-align: center;
}
.colleagues #candidateTitle{
    color: #0A1020;
    font-size: 55px;
    font-family: poppins;
    font-weight: 600;
    text-align: center;
}
.colleagues #gradientText{
    color: #AD00FF;
}
.colleagues #candidateText{
    color: #929292;
    font-family: poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 0 0 0 30%;
    width:37%;
}
.colleagues img{
    margin: 5% 0 0 0;
}

@media screen and (max-width:1025px) and (min-width:768px) {
.colleagues{
    padding: 15% 0 0 0;
}
.colleagues img{
    width:80%;
}
}
@media screen and (max-width:768px) and (min-width:431px) {
    .colleagues{
        height: 80vh;
        padding: 20% 0 0 0;
    }
    .colleagues #candidateTitle{
    font-size: 40px;
    }
    .colleagues #candidateText{
      width:50%;
      margin: 0 0 0 25%;
      
    }
    .colleagues img{
        width:80%;
    }
   
}
@media  screen and (max-width:430px) {
    .colleagues{
        height: 60vh;
    }
    .colleagues #candidateTitle{
       font-size: 30px;
    }
    .colleagues #candidateText{
      width:90%;
      margin: 0 0 0 5%;
    }
    .colleagues img{
        width:100%;
        border-radius:0px!important;
    }
}
