.pathway{
    padding: 5% 5%;
    background-color:  #F6F6F6;
    width: 100%;
    height: auto;
    display: inline-flex;
}
.pathway #pathwayText {
    color: #000000;
    font-size: 38px;
    font-family: poppins;
    font-weight: 600;
    width: 47%;
    margin-left: 5%;
}
.pathway #gradientTextPathway{
    background: linear-gradient(272.33deg, #AD00FF 21.7%, #FF7A00 103.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.pathway .pathwayButton{
    height: 45%;
    padding: 0.5% 0;
    width: 13vw;
    color: white;
    background-color: #0A1020;
    border-radius: 10px 10px 10px 10px;
    font-size: 18px;
    margin: 1.5% 0 0 40%;
    border:none;
    width: 10%;
    height: 55px;
}
.pathway .pathwayButton:hover{
    color: #FFFFFF;
    background-color: transparent;
    background-image: linear-gradient(90deg, #E25C37 0%, #951B98 100%);
}
.pathway .pathwayButton {
    border-radius: 10px 10px 10px 10px;
    margin: 1.5% 0 0 23%;
    border: none;
}
@media screen and (max-width:1705px)and (min-width:1024px){
    .pathway .pathwayButton {
        border-radius: 10px 10px 10px 10px;
        margin: 1.5% 0 0 20%;
        border: none;
        width: 13%;
        height: 50px;
    }
    .pathway #pathwayText {
        color: #000000;
        font-size: 32px;
        font-family: poppins;
        font-weight: 600;
        width: 56%;
        margin-left: 4%;
    }
}
@media screen and (max-width:1024px)and (min-width:768px){
    .pathway #pathwayText {
        font-size: 29px;
        width: 75%;
    }
.pathway .pathwayButton{
    height: 25%;
    margin: 1.5% 0 0 5%;
    width: 15%;
    height: 50px;

}
}

@media screen and (max-width:768px)and (min-width:425px){
    
    .pathway{
        display: block;
    }
    .pathway .pathwayButton{
        margin-top: 5%;
        width: 25%;
        height: 55px;
    }
}
@media screen and (max-width:425px) {
.pathway{
    display: block;
    width:100%;
    height: auto;
    padding-top: 10%;
}
.pathway #pathwayText {
    font-size: 24px;
    font-weight: 600;
    line-height: 38.4px;
    width: 69%;
}
.pathway .pathwayButton {
    width: 35%;
    height: 50px;
    margin: 5% 0 0 0%;
}
.pathway .pathwayButton {
    margin-left: 6%;
    margin-top: 0%;
    font-size: 16px;
}
}

@media screen and (max-width:375px) {
    .pathway .pathwayButton {
        width: 35%;
        height: 50px;
        margin: 5% 0 5% 5%;
    }
    .pathway #pathwayText {
        font-size: 24px;
        width: 78%;
    }
}