.pathway{
    padding: 5% 5%;
    background-color:  #F6F6F6;
    width: 100%;
    height:30vh;
    display: inline-flex;
}
.pathway #pathwayText{
    color: #000000;
    font-size: 35px;
    font-family: poppins;
    font-weight: 600;
    width:45%;
}
.pathway #gradientTextPathway{
    background: linear-gradient(272.33deg, #AD00FF 21.7%, #FF7A00 103.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.pathway .pathwayButton{
    height: 45%;
    padding: 0.5% 0;
    width: 13vw;
    color: white;
    background-color: #0A1020;
    border-radius: 10px 10px 10px 10px;
    font-size: 18px;
    margin: 1.5% 0 0 40%;
    border:none
}
.pathway .pathwayButton:hover{
    color: #FFFFFF;
    background-color: transparent;
    background-image: linear-gradient(90deg, #E25C37 0%, #951B98 100%);
}
@media screen and (max-width:1024px)and (min-width:768px){
.pathway #pathwayText{
    font-size: 30px;
    width:65%;
}
.pathway .pathwayButton{
    height: 25%;
    margin: 1.5% 0 0 15%;

}
}
@media screen and (max-width:430px) {
.pathway{
    display: block;
    width:100%;
    height:346px;
    padding-top: 10%;
}
.pathway #pathwayText{
    font-size: 32px;
    font-weight: 600;
    line-height: 38.4px;
    width:100%;
}
.pathway .pathwayButton{
    width: 40%;
    height: 15%;
    margin:5% 0 0 0%;

}
}